force-app/main/default/flows/Account_RMD_updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_RMD_Remaining_on_Account_RMD_to_Planned_Distribution</name>
        <label>Assign RMD Remaining on Account RMD to Planned Distribution</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.RMD_Planned_Distribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RMD_Remaining__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_RMD_Remaining_from_Product_RMD_to_Planned_Distribution</name>
        <label>Assign Total RMD Remaining from Product RMD to Planned Distribution</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.RMD_Planned_Distribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_RMD__r.Total_RMD_Remaining__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Planned_Distribution_to_0</name>
        <label>Set Planned Distribution to 0</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.RMD_Planned_Distribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RMD_Deferred_or_Distribution_Option_is_updated</name>
        <label>RMD Deferred or Distribution Option is updated</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Set_Planned_Distribution_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Take_My_RMD_and_Single_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RMD_Deferred__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Take My RMD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_RMD__r.Distribution_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_RMD_Remaining_from_Product_RMD_to_Planned_Distribution</targetReference>
            </connector>
            <label>Take My RMD and Single Account</label>
        </rules>
        <rules>
            <name>Take_My_RMD_and_NOT_Single_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RMD_Deferred__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Take My RMD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_RMD__r.Distribution_Option__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Single Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RMD_Remaining_on_Account_RMD_to_Planned_Distribution</targetReference>
            </connector>
            <label>Take My RMD and NOT Single Account</label>
        </rules>
    </decisions>
    <description>Adding Entry criteria</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <interviewLabel>Account RMD updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account RMD updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Triggering_Record</name>
        <label>Update Triggering Record</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RMD_Deferred_or_Distribution_Option_is_updated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RMD_Deferred__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RMD_Remaining__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RMD_Deferred__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RMD_Remaining__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account_RMD__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
