force-app/main/default/flows/Account_RMD_field_updates_triggered_from_Product_RMD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>RMD_Deferred_is_Take_My_RMD</name>
        <label>RMD Deferred is Take My RMD</label>
        <locationX>528</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Planned_Distribution_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Take_My_RMD_and_Single_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Account_RMD_records.RMD_Deferred__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Take My RMD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distribution_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planned_Distribution_is_Total_RMD_Remaining_on_Product_RMD</targetReference>
            </connector>
            <label>Take My RMD and Single Account</label>
        </rules>
        <rules>
            <name>Take_My_RMD_and_Not_Single_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Account_RMD_records.RMD_Deferred__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Take My RMD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distribution_Option__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Single Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planned_Distribution_is_RMD_Remaining_on_Account_RMD</targetReference>
            </connector>
            <label>Take My RMD and Not Single Account</label>
        </rules>
    </decisions>
    <description>Adding entry criteria Total RMD Remaining and Distribution Option is changed.</description>
    <environments>Default</environments>
    <interviewLabel>Account RMD field updates triggered from Product RMD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account RMD field updates triggered from Product RMD</label>
    <loops>
        <name>Loop_through_Account_RMD_records</name>
        <label>Loop through Account RMD records</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Related_Account_RMD_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RMD_Deferred_is_Take_My_RMD</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Account_RMD_records</name>
        <label>Get Related Account RMD records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Account_RMD_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_RMD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_RMD__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Planned_Distribution_is_RMD_Remaining_on_Account_RMD</name>
        <label>Planned Distribution is RMD Remaining on Account RMD</label>
        <locationX>528</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_through_Account_RMD_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Account_RMD_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RMD_Planned_Distribution__c</field>
            <value>
                <elementReference>Loop_through_Account_RMD_records.RMD_Remaining__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account_RMD__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Planned_Distribution_is_Total_RMD_Remaining_on_Product_RMD</name>
        <label>Planned Distribution is Total RMD Remaining on Product RMD</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_through_Account_RMD_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Account_RMD_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RMD_Planned_Distribution__c</field>
            <value>
                <elementReference>$Record.Total_RMD_Remaining__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account_RMD__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Planned_Distribution_to_0</name>
        <label>Update Planned Distribution to 0</label>
        <locationX>792</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_through_Account_RMD_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Account_RMD_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RMD_Planned_Distribution__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account_RMD__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Account_RMD_records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Total_RMD_Remaining__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Distribution_Option__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RMD_Account_Type__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
