force-app/main/default/flows/ApplicantInformationSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_New_Values</name>
        <label>Assign New Values</label>
        <locationX>882</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>CommunityContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActualBirhdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunityContact.Marital_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActualMarital</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunityContact.Social_Security_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActualSSN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunityContact.Home_Address_Street_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActualStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunityContact.Home_Address_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActualCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunityContact.Home_Address_State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActualState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunityContact.Home_Address_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActualZip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunityContact.Home_Address_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActualCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Personal_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Personal_Information</name>
        <label>Assign Personal Information</label>
        <locationX>882</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Applicant_is_a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Member</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Birthdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Home_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.HomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Work_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.OtherPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Cell_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.E_Mail_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Home_Address_Street_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.Home_Address_Street_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Home_Address_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.Home_Address_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Home_Address_State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.Home_Address_State_Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Home_Address_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.Home_Address_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Home_Address_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.Home_Address_Zip__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Social_Security_No_ITIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityContact.Social_Security_Number__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Personal_Information_Section</name>
        <label>Personal Information Section</label>
        <locationX>411</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Active_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveSectionPersonalInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Required_Info_Complete</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>IRA_Owner</name>
        <choiceText>IRA Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IRA Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>Member</name>
        <choiceText>Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Member</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spouse_of_member_IRA_owner</name>
        <choiceText>Spouse of member/IRA owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spouse of member/IRA owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surviving_spouse_of_member_IRA_owner</name>
        <choiceText>Surviving spouse of member/IRA owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surviving spouse of member/IRA owner</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AddressBlank</name>
        <label>AddressBlank</label>
        <locationX>536</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Street_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CommunityContact.Home_Address_Street_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingAddressScreen</targetReference>
            </connector>
            <label>No Street Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Info_Complete</name>
        <label>Required Info Complete</label>
        <locationX>536</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>AllFieldsPopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_Info_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CommunityContact.Social_Security_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CommunityContact.Marital_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CommunityContact.Birthdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CommunityContact.Home_Address_Street_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Personal_Information_Missing</targetReference>
            </connector>
            <label>Required Info Missing</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Enrollment_Title</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation__c</picklistField>
        <picklistObject>Enrollment_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MaritalStatusChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marital_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ActualBirhdate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!CommunityContact.Birthdate}), {!Birthdate}, {!CommunityContact.Birthdate})</expression>
    </formulas>
    <formulas>
        <name>ActualCity</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!CommunityContact.Home_Address_City__c}), {!NewCity},
{!CommunityContact.Home_Address_City__c})</expression>
    </formulas>
    <formulas>
        <name>ActualCountry</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!CommunityContact.Home_Address_Country__c}), {!NewCountry},
{!CommunityContact.Home_Address_Country__c})</expression>
    </formulas>
    <formulas>
        <name>ActualMarital</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!CommunityContact.Marital_Status__c})), {!MaritalStatus}, TEXT({!CommunityContact.Marital_Status__c}))</expression>
    </formulas>
    <formulas>
        <name>ActualSSN</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!CommunityContact.Social_Security_Number__c}), {!Social_Security_Number}, {!CommunityContact.Social_Security_Number__c})</expression>
    </formulas>
    <formulas>
        <name>ActualState</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!CommunityContact.Home_Address_State_Province__c}), {!NewState},
{!CommunityContact.Home_Address_State_Province__c})</expression>
    </formulas>
    <formulas>
        <name>ActualStreet</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!CommunityContact.Home_Address_Street_1__c}), {!NewStreet},{!CommunityContact.Home_Address_Street_1__c})</expression>
    </formulas>
    <formulas>
        <name>ActualStreet2</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!CommunityContact.Home_Address_Street_2__c}), {!NewStreet2},
{!CommunityContact.Home_Address_Street_2__c})</expression>
    </formulas>
    <formulas>
        <name>ActualZip</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!CommunityContact.Home_Address_Zip__c}), {!NewZip},
{!CommunityContact.Home_Address_Zip__c})</expression>
    </formulas>
    <formulas>
        <name>formError</name>
        <dataType>String</dataType>
        <expression>IF(
CONTAINS({!$Flow.FaultMessage}, &quot;DUPLICATES_DETECTED&quot;),
&quot;The Social Security Number entered is already listed at Pension Fund. If you have an existing account with Pension Fund from a previous employer, you can log into your existing Member Portal and begin your enrollment. Please contact our Member Relations team if you feel this is an error.&quot;,
{!$Flow.FaultMessage}
)</expression>
    </formulas>
    <formulas>
        <name>LinktoProfile</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; &quot;s/profile/&quot; &amp; {!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>NewLatitudeNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!NewLatitudeString})</expression>
        <scale>15</scale>
    </formulas>
    <formulas>
        <name>NewLongitudeNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!NewLongitudeString})</expression>
        <scale>15</scale>
    </formulas>
    <interviewLabel>ApplicantInformationSubflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applicant Information Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>882</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Assign_New_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Employee_Update_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunityContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address_Verification_Required__c</field>
            <value>
                <elementReference>CommunityContact.Address_Verification_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>ActualBirhdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>ActualCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>ActualCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>ActualZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>ActualState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>ActualStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address_Line_2__c</field>
            <value>
                <elementReference>ActualStreet2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>ActualMarital</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Security_Number__c</field>
            <value>
                <elementReference>ActualSSN</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>AllFieldsPopulated</name>
        <label>AllFieldsPopulated</label>
        <locationX>719</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Personal_Information</targetReference>
        </connector>
        <fields>
            <name>PersonalAllFieldsHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Personal Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PersonalInfoHelp</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Before you begin your enrollment, please take a moment to review your personal information. Name, phone numbers, home address, and email address change requests need to be verified by PFCC before updates can be made.  To request changes or provide new information, please {!ProfileURL}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PersonalInfoDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Salutation&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;{!CommunityContact.Salutation}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;First Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;{!CommunityContact.FirstName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Middle Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;{!CommunityContact.MiddleName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Last Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!CommunityContact.LastName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Social Security Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;{!CommunityContact.MaskedSSN__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Birth Date&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;{!CommunityContact.Birthdate}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Gender&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;{!CommunityContact.Gender__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Marital Status&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;{!CommunityContact.Marital_Status__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Home Phone Number&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;{!CommunityContact.HomePhone}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Work Phone Number&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;{!CommunityContact.npe01__WorkPhone__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Cell Phone Number&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;{!CommunityContact.MobilePhone}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;E-Mail Address&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10pt; font-family: Arial; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!CommunityContact.Email}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AllFieldsAddressInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Address Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AllFieldsAddressDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;Home Street Address&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!CommunityContact.Home_Address_Street_1__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;City&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;&amp;nbsp;{!CommunityContact.Home_Address_City__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;State&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;{!CommunityContact.Home_Address_State_Province__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;Country&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!CommunityContact.Home_Address_Country__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;﻿Zip Code&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;&amp;nbsp;{!CommunityContact.Home_Address_Zip__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Employee_Update_Error</name>
        <label>Employee Update Error</label>
        <locationX>1098</locationX>
        <locationY>439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Personal_Information_Missing</targetReference>
        </connector>
        <fields>
            <name>DisplayText_formError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(211, 9, 9);&quot;&gt;{!formError}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MissingAddressScreen</name>
        <label>MissingAddressScreen</label>
        <locationX>542</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddressBlank</targetReference>
        </connector>
        <fields>
            <name>StillneedAddress</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;You must provide an address before you can continue your enrollment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressMissing</name>
            <extensionName>c:addressSearchFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewStreet2</assignToReference>
                <name>street2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CommunityContact.Address_Verification_Required__c</assignToReference>
                <name>verificationReq</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewLatitudeString</assignToReference>
                <name>lat</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewLongitudeString</assignToReference>
                <name>lng</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewZip</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewState</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Gathers personal information about an applicant</description>
        <name>Personal_Information_Missing</name>
        <label>Personal Information Missing</label>
        <locationX>545</locationX>
        <locationY>268</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddressBlank</targetReference>
        </connector>
        <fields>
            <name>Intromessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Before you begin your enrollment, please take a moment to review your personal information. Name, phone numbers, home address, and email address change requests need to be verified by PFCC before updates can be made.  To request changes or provide new information, please &lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ProfileURL}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Personal_info_header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Personal Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NameInfoDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;Salutation&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: Arial; background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!CommunityContact.Salutation}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;First Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: Arial; background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!CommunityContact.FirstName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;Middle Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-family: Arial; background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;&amp;nbsp;{!CommunityContact.MiddleName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;Last Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-family: Arial; background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;&amp;nbsp;{!CommunityContact.LastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gender</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Gender&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;b&gt;&amp;nbsp;{!CommunityContact.Gender__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PhoneEmailDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;Home Phone Number&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;&amp;nbsp;{!CommunityContact.HomePhone}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;Work Phone Number&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;&amp;nbsp;{!CommunityContact.npe01__WorkPhone__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;Cell Phone Number&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;{!CommunityContact.MobilePhone}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;E-Mail Address&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-size: 10pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!CommunityContact.Email}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SSN_Display</name>
            <fieldText>&lt;p&gt;Social Security Number:&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;b&gt;&amp;nbsp;{!CommunityContact.MaskedSSN__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CommunityContact.Social_Security_Number__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BirthdateDisplay</name>
            <fieldText>&lt;p&gt;Birth Date&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;b&gt;{!CommunityContact.Birthdate}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CommunityContact.Birthdate</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MaritalDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Marital Status&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;{!CommunityContact.Marital_Status__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CommunityContact.Marital_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Social_Security_Number</name>
            <dataType>String</dataType>
            <fieldText>Social Security Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Social Security Number must be exactly 9 digits.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Social_Security_Number}) = 9</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CommunityContact.Social_Security_Number__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Social_Security_Number</name>
            <dataType>String</dataType>
            <fieldText>Confirm Social Security Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Social Security Numbers do not match.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Confirm_Social_Security_Number} = {!Social_Security_Number}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CommunityContact.Social_Security_Number__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Birthdate</name>
            <dataType>Date</dataType>
            <fieldText>Birth Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 1, 1);&quot;&gt;Birth Date must be in the past.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Birthdate} &lt; TODAY()</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CommunityContact.Birthdate</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MaritalStatus</name>
            <choiceReferences>MaritalStatusChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Marital Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CommunityContact.Marital_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddressInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Address Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HomeAddressDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Home Street Address&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!CommunityContact.Home_Address_Street_1__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;City&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;{!CommunityContact.Home_Address_City__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;State&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;{!CommunityContact.Home_Address_State_Province__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;Country&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; color: rgb(62, 62, 60); background-color: transparent;&quot;&gt;&amp;nbsp;{!CommunityContact.Home_Address_Country__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CommunityContact.Home_Address_Street_1__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MissingAddressSearch</name>
            <extensionName>c:addressSearchFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewStreet2</assignToReference>
                <name>street2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewLatitudeString</assignToReference>
                <name>lat</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewLongitudeString</assignToReference>
                <name>lng</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewZip</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewState</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CommunityContact.Address_Verification_Required__c</assignToReference>
                <name>verificationReq</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CommunityContact.Home_Address_Street_1__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Personal_Information_Section</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActiveSectionPersonalInformation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Personal Information</text>
    </textTemplates>
    <textTemplates>
        <name>ProfileURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!LinktoProfile}&quot; target=&quot;_self&quot;&gt;click here&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This text templates is used on the &apos;Personal Information&apos; gathering page of the Roth IRA Enrollment Form</description>
        <name>RothIRAHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000008&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Roth IRA Form&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>CommunityContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentEnrollmentForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Form__c</objectType>
    </variables>
    <variables>
        <description>Any existing contacts found with the same SSN</description>
        <name>ExistingContactsSSN</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FormHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Form header goes here...</stringValue>
        </value>
    </variables>
    <variables>
        <name>NewCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewLatitudeString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewLongitudeString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewStreet2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
