force-app/main/default/flows/BAA_Verification_subflows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_To_Enrollment_Form</name>
        <label>Assign To Enrollment Form</label>
        <locationX>330</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Country_of_Citizenship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Citizenship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Us_resident</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>U_S_Resident</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_or_Continued</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_New_or_Continued</name>
        <label>Is New or Continued</label>
        <locationX>510</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Create_Enrollment_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Continued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Id</leftValueReference>
                <operator>WasSet</operator>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Form</targetReference>
            </connector>
            <label>Is Continued</label>
        </rules>
    </decisions>
    <interviewLabel>BAA Verification subflows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BAA Verification subflows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Enrollment_Form</name>
        <label>Create Enrollment Form</label>
        <locationX>733</locationX>
        <locationY>206</locationY>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Enrollment_Form</name>
        <label>Update Enrollment Form</label>
        <locationX>729</locationX>
        <locationY>45</locationY>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordUpdates>
    <screens>
        <name>InitialScreen</name>
        <label>Initial Screen</label>
        <locationX>187</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_To_Enrollment_Form</targetReference>
        </connector>
        <fields>
            <name>Init_screen_header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!FormHeader}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;{!FormDescription}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stage</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>U_S_Resident</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you a U.S. Resident?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>55</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>InitialScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Citizenship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunityContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentEnrollmentForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Form__c</objectType>
    </variables>
    <variables>
        <name>FormDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Form description goes here...</stringValue>
        </value>
    </variables>
    <variables>
        <name>FormHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Form header goes here..</stringValue>
        </value>
    </variables>
    <variables>
        <name>Us_resident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
