force-app/main/default/flows/Backup_Withholding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Backup_Information</name>
        <label>Assign Backup Information</label>
        <locationX>1493</locationX>
        <locationY>81</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Subject_to_Backup_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Active_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Certification and Signature</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Signed_and_certified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_to_Sign_and_Certify_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Signature_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Certification_verbiage_when_signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CertifyBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Backup_Withholding_Verbiage_Presented__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackupWithholdingOptionsPresented</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment_Form_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Backup_Withholding_Section</name>
        <label>Backup Withholding Section</label>
        <locationX>390</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Active_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveSectionBackupWithholding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sign_and_Certify_Active_Section</name>
        <label>Sign and Certify Active Section</label>
        <locationX>1141</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Active_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Certification and Signature</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Signed_and_certified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_to_Sign_and_Certify_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Signature_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Certification_verbiage_when_signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CertifyBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Backup_Withholding_Verbiage_Presented__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackupWithholdingOptionsPresented</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment_Form_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BAA_BackupWithholding</name>
        <choiceText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; background-color: rgba(255, 255, 255, 0.27);&quot;&gt;{!BAA_BackupWithholdingLabel}&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Backup Withholding</stringValue>
        </value>
    </choices>
    <choices>
        <name>BAA_NoBackupWithholding</name>
        <choiceText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana;&quot;&gt;{!BAA_NoBackupWithholdingLabel}&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Backup Withholding</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_subject_to_backup_withholding</name>
        <label>Is subject to backup withholding</label>
        <locationX>1155</locationX>
        <locationY>29</locationY>
        <defaultConnector>
            <targetReference>Sign_and_Certify_Active_Section</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BAA_BackupWithholding</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Backup_Information</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>Backup Withholding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Backup Withholding Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Enrollment_Form</name>
        <label>Update Enrollment Form</label>
        <locationX>565</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>BackupWithholdingScreen</targetReference>
        </connector>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enrollment_Form_0</name>
        <label>Update Enrollment Form</label>
        <locationX>1439</locationX>
        <locationY>396</locationY>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordUpdates>
    <screens>
        <name>BackupWithholdingScreen</name>
        <label>Backup Withholding</label>
        <locationX>738</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BackupWithholdingScreen_0</targetReference>
        </connector>
        <fields>
            <name>EnrollmentFormHeader</name>
            <fieldText>{!FormHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stage</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BackupWithholdingDisplay</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Backup Withholding&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BackupWithholdingChoices</name>
            <choiceReferences>BAA_NoBackupWithholding</choiceReferences>
            <choiceReferences>BAA_BackupWithholding</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;I certify that (check one only):&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BackupWithholdingScreen_0</name>
        <label>Backup Withholding</label>
        <locationX>741</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_subject_to_backup_withholding</targetReference>
        </connector>
        <fields>
            <name>EnrollmentFormHeader_0</name>
            <fieldText>{!FormHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stage_0</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CertificationandSignature</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; font-family: Montserrat; color: rgb(0, 0, 0);&quot;&gt;Certification and Signature&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_to_Sign_and_Certify_0</name>
            <dataType>Boolean</dataType>
            <fieldText>By checking this box, I make the following certifications:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 21, 0); user-select: auto;&quot;&gt;You must sign and certify to complete the enrollment&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Check_to_Sign_and_Certify_0}=True</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Signature_Language_0</name>
            <fieldText>&lt;p&gt;{!CertifyBody}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Backup_Withholding_Section</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActiveSectionBackupWithholding</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Backup Withholding</text>
    </textTemplates>
    <textTemplates>
        <name>ActiveSectionSignAndCertify</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Certification and Signature&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BackupWithholdingOptionsPresented</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!BAA_BackupWithholdingLabel}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!BAA_NoBackupWithholdingLabel}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BAA_BackupWithholdingLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>I have been notified by the IRS that I am currently subject to backup withholding because I failed to report all interest and dividends on my tax return.</stringValue>
        </value>
    </variables>
    <variables>
        <name>BAA_NoBackupWithholdingLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>I am not subject to backup withholding because I am exempt from backup withholding, or I have not been notified by the Internal Revenue Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or the IRS has notified me that I am no longer subject to backup withholding.</stringValue>
        </value>
    </variables>
    <variables>
        <name>CertifyBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentEnrollmentForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Form__c</objectType>
    </variables>
    <variables>
        <name>FormHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Enrollment header goes here...</stringValue>
        </value>
    </variables>
</Flow>
