force-app/main/default/flows/Bank_Details_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Bank_acct</name>
        <label>Assign Bank acct</label>
        <locationX>796</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Bank_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BankAccountNum</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bank_Account_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bank_Details_Section</name>
        <label>Bank Details Section</label>
        <locationX>161</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Active_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveSectionBankDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment_Form</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChooseExistingBankAccount</name>
        <choiceText>&lt;p style=&quot;user-select: auto;&quot;&gt;Choose from an existing account below:&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choose Existing Bank Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateNewAccount</name>
        <choiceText>Create New Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New Account</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Bank_Account_selected</name>
        <label>Bank Account selected</label>
        <locationX>876</locationX>
        <locationY>152</locationY>
        <defaultConnector>
            <targetReference>No_bank_acocunt_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>bankaccountisfilled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Bank_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Bank_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Bank_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Bank_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Bank_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Bank_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Bank_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Bank_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Bank_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Bank_Account__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_enrollment_info</targetReference>
            </connector>
            <label>Bank account selected</label>
        </rules>
    </decisions>
    <description>With lookupfsc</description>
    <formulas>
        <name>f_CommunityContactID</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Bank Details Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bank Details Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Enrollment_Form</name>
        <label>Update Enrollment Form</label>
        <locationX>386</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>Bank_Details</targetReference>
        </connector>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_enrollment_info</name>
        <label>Update enrollment info</label>
        <locationX>1276</locationX>
        <locationY>141</locationY>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordUpdates>
    <screens>
        <name>Bank_Details</name>
        <label>Bank Details</label>
        <locationX>572</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Bank_acct</targetReference>
        </connector>
        <fields>
            <name>FormHeader111</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;{!FormHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowstages44</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateBankAccountText</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please choose the bank account you would like to use for making your contribution(s) by creating a new bank account or selecting from an existing account in the drop down below:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BankingInformationComponent</name>
            <extensionName>c:BankingInformation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>f_CommunityContactID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enrollmentForm</name>
                <value>
                    <elementReference>CurrentEnrollmentForm.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedBankAccountId</name>
                <value>
                    <elementReference>BankAccountNum</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>BankAccountNum</assignToReference>
                <name>selectedBankAccountId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_bank_acocunt_selected</name>
        <label>No bank acocunt selected</label>
        <locationX>607</locationX>
        <locationY>293</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Bank_Details</targetReference>
        </connector>
        <fields>
            <name>errormessagebankaccountnotselected</name>
            <fieldText>&lt;p&gt;Please select a bank account before going further&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Bank_Details_Section</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActiveSectionBankDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Bank Details</text>
    </textTemplates>
    <variables>
        <name>BankAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bnk_Bank__c</objectType>
    </variables>
    <variables>
        <name>BankAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankAccountNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentEnrollmentForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Form__c</objectType>
    </variables>
    <variables>
        <name>FormHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Enrollment header goes here</stringValue>
        </value>
    </variables>
    <variables>
        <name>tmpBankAccountNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
