force-app/main/default/flows/Cases_I_Follow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Query Cases I Follow</description>
        <name>Query_Cases_I_Follow</name>
        <label>Query Cases I Follow</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Does_user_Follow_Cases</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>QueryCasesIFollow</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CollectionCasesIFollow</assignToReference>
            <name>sObjects</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Does user Follow Cases</description>
        <name>Does_user_Follow_Cases</name>
        <label>Does user Follow Cases</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>You_Do_Not_Follow_any_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Cases Followed</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Cases_I_Follow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cases_I_Follow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Collection of Cases followed by the user.</description>
    <environments>Default</environments>
    <interviewLabel>Cases I Follow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cases I Follow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Cases_I_Follow</name>
        <label>Cases I Follow</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DatatableCasesIFollow</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CollectionCasesIFollow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Cases I Follow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxNumberOfRows</name>
                <value>
                    <numberValue>15.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>CaseNumber,Subject,Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>350px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>CaseNumber:130, Subject:225, Status:120</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>You Do Not Follow any Case</description>
        <name>You_Do_Not_Follow_any_Case</name>
        <label>You Do Not Follow any Case</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Records</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>You Do Not Follow any Case</stringValue>
            </defaultValue>
            <fieldText>No Records</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Cases_I_Follow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>QueryCasesIFollow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Select Id, CaseNumber, Subject, Status From Case Where Id IN (Select ParentId From EntitySubscription Where SubscriberId=&apos;{!$User.Id}&apos;)</text>
    </textTemplates>
    <variables>
        <description>CollectionCasesIFollow</description>
        <name>CollectionCasesIFollow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
