force-app/main/default/flows/Certification_and_Signature_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Certification_and_Signature_Section</name>
        <label>Certification and Signature Section</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Active_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveSectionCertificationAndSignature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sign_and_certified</name>
        <label>Sign and certified</label>
        <locationX>854</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Signed_and_certified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_to_Sign_and_Certify</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Date_Signed_and_Certified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Certification_verbiage_when_signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextToSign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sign_and_certified</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Certification and Signature Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Certification and Signature Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Enrollment_Form</name>
        <label>Update Enrollment Form</label>
        <locationX>542</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Certification_and_Signature_Screen</targetReference>
        </connector>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sign_and_certified</name>
        <label>Update Sign and certified</label>
        <locationX>989</locationX>
        <locationY>53</locationY>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordUpdates>
    <screens>
        <name>Certification_and_Signature_Screen</name>
        <label>Certification and Signature</label>
        <locationX>705</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sign_and_certified</targetReference>
        </connector>
        <fields>
            <name>EnrollmentFormHeader</name>
            <fieldText>{!FormHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stage</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CertificationAndSignatureHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Certification and Signature&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_to_Sign_and_Certify</name>
            <dataType>Boolean</dataType>
            <fieldText>By checking this box, I make the following certifications:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You must sign and certify to complete the enrollment&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Check_to_Sign_and_Certify}=true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Sign_and_ceritfy</name>
            <fieldText>&lt;p&gt;{!TextToSign}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Certification_and_Signature_Section</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActiveSectionCertificationAndSignature</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Certification and Signature</text>
    </textTemplates>
    <variables>
        <name>CurrentEnrollmentForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Form__c</objectType>
    </variables>
    <variables>
        <name>FormHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Enrollment header goes here...</stringValue>
        </value>
    </variables>
    <variables>
        <name>TextToSign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Text for signature goes here...</stringValue>
        </value>
    </variables>
</Flow>
