force-app/main/default/flows/Contribution_Information_BAA_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Contribution_Information_Section</name>
        <label>Contribution Information Section</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Active_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveSectionContributionInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_Section</name>
        <label>Set Active Section</label>
        <locationX>846</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Active_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;Bank Details&apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Single_Sum_Contribution_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vContribution_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Single_Sum_Contribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSingle_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Recurring_Contribution_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRecurring_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Recurring_Contributions_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRecurring_Day</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Single_Sum_Contribution_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSingle_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Recurring_Contributions_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRecurring_Date</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>AutomaticDebit</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Automatic debit (ACH) from my bank account &lt;I&gt;(complete the bank information below)&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Automatic Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Check</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;check &lt;I&gt;(including checks sent by or through your bank)&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Check</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExistingBankAccount</name>
        <choiceText>Existing Bank Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Bank Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewBankAccount</name>
        <choiceText>&lt;p style=&quot;user-select: auto;&quot;&gt;New Bank Account&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Bank Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>OneTimeDebit</name>
        <choiceText>One-Time Debit (ACH) from my bank account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One-Time Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>PayrollDeduction</name>
        <choiceText>Payroll deduction from my employer &lt;i&gt;(unless made by employer check, complete employer Authorization Agreement for One-Time Debit)&lt;/i&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payroll Deduction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recurring_Debit</name>
        <choiceText>Recurring Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recurring Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>X15thOfMonth</name>
        <choiceText>15th of Month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15th</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1stOfMonth</name>
        <choiceText>1st of Month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1st</stringValue>
        </value>
    </choices>
    <interviewLabel>Contribution Information BAA Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contribution Information BAA Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Enrollment_Form</name>
        <label>Update Enrollment Form</label>
        <locationX>546</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contribution_Information_Screen</targetReference>
        </connector>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordUpdates>
    <screens>
        <name>Contribution_Information_Screen</name>
        <label>Contribution Information</label>
        <locationX>685</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Active_Section</targetReference>
        </connector>
        <fields>
            <name>EnrollmentFormHeader</name>
            <fieldText>{!FormHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stage</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enrollment_Contribution_Info_Cmp</name>
            <extensionName>c:EnrollmentContributionInformation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recurringAmount</name>
                <value>
                    <elementReference>vRecurring_Amount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recurringDebitDay</name>
                <value>
                    <elementReference>vRecurring_Day</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleAmount</name>
                <value>
                    <elementReference>vSingle_Amount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSingle</name>
                <value>
                    <elementReference>vIs_Single</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRecurring</name>
                <value>
                    <elementReference>vIs_Recurring</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contributionType</name>
                <value>
                    <stringValue>&apos;&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>effectiveDateRecurring</name>
                <value>
                    <elementReference>vRecurring_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>effectiveDateSingle</name>
                <value>
                    <elementReference>vSingle_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>effectiveDate</name>
                <value>
                    <elementReference>vRecurring_Date</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vRecurring_Date</assignToReference>
                <name>effectiveDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vRecurring_Amount</assignToReference>
                <name>recurringAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vRecurring_Day</assignToReference>
                <name>recurringDebitDay</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vSingle_Amount</assignToReference>
                <name>singleAmount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vContribution_Type</assignToReference>
                <name>contributionType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vIs_Recurring</assignToReference>
                <name>isRecurring</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vIs_Single</assignToReference>
                <name>isSingle</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vSingle_Date</assignToReference>
                <name>effectiveDateSingle</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vRecurring_Date</assignToReference>
                <name>effectiveDateRecurring</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contribution_Information_Section</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActiveSectionContributionInformation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Contribution Information</text>
    </textTemplates>
    <variables>
        <name>CurrentEnrollmentForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Form__c</objectType>
    </variables>
    <variables>
        <name>FormHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContribution_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEffective_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vIs_Recurring</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vIs_Single</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecurring_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vRecurring_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecurring_Day</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSingle_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vSingle_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
