force-app/main/default/flows/Contribution_Information_IRA_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Contribution_Information_Section</name>
        <label>Contribution Information Section</label>
        <locationX>425</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Active_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveSectionContributionInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contribution_Information</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AutomaticDebit</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Automatic debit (ACH) from my bank account &lt;I&gt;(complete the bank information below)&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Automatic Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Check</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;check &lt;I&gt;(including checks sent by or through your bank)&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Check</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastDayOfMonth</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Last Day Of Month&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LastDayOfMonth</stringValue>
        </value>
    </choices>
    <choices>
        <name>OneTimeDebit</name>
        <choiceText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0); user-select: auto;&quot;&gt;One-time debit (ACH) from my bank account&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One-Time Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>PayrollDeduction</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot;&gt;payroll deduction from my employer &lt;I&gt;(unless made by employer check, complete Employer Authorization Agreement for One-Time Debit)&lt;/I&gt;&lt;FONT FACE=&quot;Arial&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payroll Deduction</stringValue>
        </value>
    </choices>
    <choices>
        <name>RothType</name>
        <choiceText>Roth IRA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Roth IRA</stringValue>
        </value>
    </choices>
    <choices>
        <name>TraditionalIRA</name>
        <choiceText>Traditional IRA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Traditional IRA</stringValue>
        </value>
    </choices>
    <choices>
        <name>X15thOfMonth</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;15th Of Month&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15th</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1stOfMonth</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;1st Of Month&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1st</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>IRATypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IRA_Type__c</picklistField>
        <picklistObject>Enrollment_Form__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Before15thAprilCurrentYear</name>
        <dataType>Boolean</dataType>
        <expression>{!$Flow.CurrentDate} &lt; DATE(YEAR({!$Flow.CurrentDate}), VALUE({!$Label.taxDateMonth}), VALUE({!$Label.taxDateDay}))</expression>
    </formulas>
    <formulas>
        <name>CurrentDay</name>
        <dataType>Number</dataType>
        <expression>Day({!$Flow.CurrentDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentMonth</name>
        <dataType>Number</dataType>
        <expression>Month({!$Flow.CurrentDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentYear</name>
        <dataType>Number</dataType>
        <expression>Year({!$Flow.CurrentDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Lastyear</name>
        <dataType>Number</dataType>
        <expression>Year({!$Flow.CurrentDate})-1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Contribution Information IRA Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contribution Information IRA Subflow- V4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Enrollment_Form</name>
        <label>Create Enrollment Form</label>
        <locationX>782</locationX>
        <locationY>50</locationY>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordCreates>
    <screens>
        <name>Contribution_Information</name>
        <label>Contribution Information</label>
        <locationX>577</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Enrollment_Form</targetReference>
        </connector>
        <fields>
            <name>EnrollmentFormHeader</name>
            <fieldText>{!FormHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stage</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enrollment_Contribution_Form_IRA</name>
            <extensionName>c:enrollmentContributionForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enrollmentForm</name>
                <value>
                    <elementReference>CurrentEnrollmentForm</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CurrentEnrollmentForm</assignToReference>
                <name>enrollmentForm</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Contribution_Information_Section</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActiveSectionContributionInformation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Contribution Information</text>
    </textTemplates>
    <variables>
        <name>CurrentEnrollmentForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Form__c</objectType>
    </variables>
    <variables>
        <name>FormHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
