force-app/main/default/flows/Employer_Portal_Employee_Update_Component.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignRole</name>
        <label>AssignRole</label>
        <locationX>313</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>Get_Affiliation.npe5__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_the_employee_s_role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Affiliation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>PreferredLanguageChange</name>
        <choiceText>Preferred Language Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Preferred Language Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>RoleChange</name>
        <choiceText>Role Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Role Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Termination</name>
        <choiceText>Termination of this employee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Termination of this employee</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AffliationStatus</name>
        <label>AffliationStatus</label>
        <locationX>513</locationX>
        <locationY>88</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Affiliation.Calculated_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InfoToUpdate</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Affiliation.Calculated_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InactiveScreen</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChosenUpdate</name>
        <label>ChosenUpdate</label>
        <locationX>512</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Preferred_Language</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_information_about_your_employee_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PreferredLanguageChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreferredLanguageScreen</targetReference>
            </connector>
            <label>Preferred Language</label>
        </rules>
        <rules>
            <name>Role_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_information_about_your_employee_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RoleChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RoleChangeScreen</targetReference>
            </connector>
            <label>Role Change</label>
        </rules>
        <rules>
            <name>TerminationChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_information_about_your_employee_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Termination</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Id</targetReference>
            </connector>
            <label>Termination</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PreferredLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Language__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Employer Portal - Employee Update Component {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employer Portal - Employee Update Component</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTerminationCase</name>
        <label>CreateTerminationCase</label>
        <locationX>984</locationX>
        <locationY>524</locationY>
        <connector>
            <targetReference>ConfirmationTerm</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Affiliation.npe5__Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Affiliation.npe5__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Day_Worked__c</field>
            <value>
                <elementReference>Last_Day_Worked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Employer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Termination of Employment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Affiliation</name>
        <label>Get Affiliation</label>
        <locationX>392</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AffliationStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe5__Affiliation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>npe5__Contact__c</queriedFields>
        <queriedFields>npe5__Organization__c</queriedFields>
        <queriedFields>npe5__Role__c</queriedFields>
        <queriedFields>Calculated_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>647</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terminations</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>766</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Terminate_Employment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Termination</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Affiliation</name>
        <label>Update Affiliation</label>
        <locationX>314</locationX>
        <locationY>645</locationY>
        <inputReference>Get_Affiliation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>521</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Affiliation.npe5__Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>The_preferred_language_of_the_employee</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Are_You_Sure</name>
        <label>Are You Sure</label>
        <locationX>984</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateTerminationCase</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Warning: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Clicking next below will begin the PFCC termination process for &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Get_Affiliation.npe5__Contact__r.FirstName} {!Get_Affiliation.npe5__Contact__r.LastName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;based on their last day of employment at {!Get_Affiliation.npe5__Organization__r.Name} being {!Last_Day_Worked}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationTerm</name>
        <label>ConfirmationTerm</label>
        <locationX>984</locationX>
        <locationY>683</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TermConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Your request to terminate employment for &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;{!Get_Affiliation.npe5__Contact__r.FirstName} {!Get_Affiliation.npe5__Contact__r.LastName}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(23, 43, 77); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt; has been submitted to PFCC. Please allow 4&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(23, 43, 77);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(23, 43, 77); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;8 hours for processing. If you have questions, please contact us via the support ticket process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InactiveScreen</name>
        <label>InactiveScreen</label>
        <locationX>712</locationX>
        <locationY>89</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InactiveDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 18px;&quot;&gt;Our records indicate that this employee is inactive at your organization.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InfoToUpdate</name>
        <label>InfoToUpdate</label>
        <locationX>521</locationX>
        <locationY>255</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ChosenUpdate</targetReference>
        </connector>
        <fields>
            <name>Which_information_about_your_employee_would_you_like_to_update</name>
            <choiceReferences>PreferredLanguageChange</choiceReferences>
            <choiceReferences>RoleChange</choiceReferences>
            <choiceReferences>Termination</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which information about your employee would you like to update?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Affiliation.Calculated_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Active</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PreferredLanguageScreen</name>
        <label>PreferredLanguageScreen</label>
        <locationX>521</locationX>
        <locationY>535</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>The_preferred_language_of_the_employee</name>
            <choiceReferences>PreferredLanguage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please provide the preferred language of the employee.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RoleChangeScreen</name>
        <label>RoleChangeScreen</label>
        <locationX>314</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignRole</targetReference>
        </connector>
        <fields>
            <name>Please_provide_the_employee_s_role</name>
            <dataType>String</dataType>
            <fieldText>Please provide the employee&apos;s role.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Terminate_Employment</name>
        <label>Terminate Employment</label>
        <locationX>864</locationX>
        <locationY>382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Are_You_Sure</targetReference>
        </connector>
        <fields>
            <name>Last_Day_Worked</name>
            <dataType>Date</dataType>
            <fieldText>Please provide the last day of employment for {!Get_Affiliation.npe5__Contact__r.FirstName} {!Get_Affiliation.npe5__Contact__r.LastName}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>40</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Get_Affiliation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
