force-app/main/default/flows/Enrollmentform_Closed_by_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Enrollmentform Closed by user {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollmentform Closed by user</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Updateenrollment</name>
        <label>Updateenrollment</label>
        <locationX>189</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed By User</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Form__c</object>
    </recordUpdates>
    <screens>
        <description>The Enrollment has been deleted</description>
        <name>Message</name>
        <label>Message</label>
        <locationX>379</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Messagetext</name>
            <fieldText>&lt;p&gt;The enrolment has been deleted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Updateenrollment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EnrollmentformID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
