force-app/main/default/flows/GAU_Allocation_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_GAUA_Amount_to_Total</name>
        <label>Add GAUA Amount to Total</label>
        <locationX>1089</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>varExistingGAUAAmounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soExistingGAUA.npsp__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Existing_GAU_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Creation_Variable</name>
        <label>Add to Creation Variable</label>
        <locationX>1290</locationX>
        <locationY>981</locationY>
        <assignmentItems>
            <assignToReference>SOC_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SO_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Shopping_Cart_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>1485</locationX>
        <locationY>978</locationY>
        <assignmentItems>
            <assignToReference>SO_Create.npsp__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SO_SCI.pymt__Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Create.npsp__General_Accounting_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_GAU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Create.npsp__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Creation_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_shopping_cart_items_on_the_payment</name>
        <label>Are there shopping cart items on the payment?</label>
        <locationX>884</locationX>
        <locationY>726</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_SCIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Shopping_Cart_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_SCIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Opportunity_Details</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chase_Lockbox</name>
        <label>Chase Lockbox</label>
        <locationX>640</locationX>
        <locationY>225</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Opportunity_Details</targetReference>
            </connector>
            <label>No Payment</label>
        </rules>
        <rules>
            <name>Has_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Opportunity</targetReference>
            </connector>
            <label>Has Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GAUA_Amount_Total</name>
        <label>Check GAUA Amount Total</label>
        <locationX>886</locationX>
        <locationY>469</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Equal_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingGAUAAmounts</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varOpportunityTotal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Shopping_Cart_Items</targetReference>
            </connector>
            <label>Not Equal To</label>
        </rules>
    </decisions>
    <interviewLabel>GAU Allocation Creation  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GAU Allocation Creation</label>
    <loops>
        <name>Loop_Through_Existing_GAU_Allocations</name>
        <label>Loop Through Existing GAU Allocations</label>
        <locationX>887</locationX>
        <locationY>353</locationY>
        <assignNextValueToReference>soExistingGAUA</assignNextValueToReference>
        <collectionReference>socExistingGAUAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_Existing_GAU_Allocations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_GAUA_Amount_Total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Shopping_Cart_Items</name>
        <label>Loop Through Shopping Cart Items</label>
        <locationX>1065</locationX>
        <locationY>834</locationY>
        <assignNextValueToReference>SO_SCI</assignNextValueToReference>
        <collectionReference>SOC_SCIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_Product_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_GAUs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GAU_Campaign</name>
        <label>Create GAU - Campaign</label>
        <locationX>738</locationX>
        <locationY>1245</locationY>
        <inputAssignments>
            <field>npsp__Amount__c</field>
            <value>
                <elementReference>SO_Opportunity.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__General_Accounting_Unit__c</field>
            <value>
                <elementReference>Var_GAU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Opportunity__c</field>
            <value>
                <elementReference>Var_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>npsp__Allocation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_GAUs</name>
        <label>Create GAUs</label>
        <locationX>1069</locationX>
        <locationY>976</locationY>
        <inputReference>SOC_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Existing_GAU_Allocations</name>
        <label>Lookup Existing GAU Allocations</label>
        <locationX>1088</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_GAUA_Amount_to_Total</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Opportunity</elementReference>
            </value>
        </filters>
        <object>npsp__Allocation__c</object>
        <outputReference>socExistingGAUAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>npsp__Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_GAU_ID</name>
        <label>Lookup GAU ID</label>
        <locationX>739</locationX>
        <locationY>1095</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_GAU_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Product</elementReference>
            </value>
        </filters>
        <object>npsp__General_Accounting_Unit__c</object>
        <outputAssignments>
            <assignToReference>Var_GAU</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_GAU_ID_2</name>
        <label>Lookup GAU ID 2</label>
        <locationX>1482</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Product</elementReference>
            </value>
        </filters>
        <object>npsp__General_Accounting_Unit__c</object>
        <outputAssignments>
            <assignToReference>Var_GAU</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Lookup Opportunity</label>
        <locationX>891</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Existing_GAU_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Payment</elementReference>
            </value>
        </filters>
        <object>pymt__PaymentX__c</object>
        <outputAssignments>
            <assignToReference>varOpportunityTotal</assignToReference>
            <field>pymt__Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Opportunity</assignToReference>
            <field>pymt__Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity_Details</name>
        <label>Lookup Opportunity Details</label>
        <locationX>736</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Opportunity</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>SO_Opportunity</outputReference>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product</name>
        <label>Lookup Product</label>
        <locationX>737</locationX>
        <locationY>965</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_GAU_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SO_Opportunity.Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>Var_Product</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product_2</name>
        <label>Lookup Product 2</label>
        <locationX>1283</locationX>
        <locationY>835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_GAU_ID_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SO_SCI.pymt__Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>Var_Product</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Shopping_Cart_Items</name>
        <label>Lookup Shopping Cart Items</label>
        <locationX>886</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_shopping_cart_items_on_the_payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pymt__Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Payment</elementReference>
            </value>
        </filters>
        <object>pymt__Shopping_Cart_Item__c</object>
        <outputReference>SOC_SCIs</outputReference>
        <queriedFields>pymt__Product__c</queriedFields>
        <queriedFields>pymt__Total__c</queriedFields>
    </recordLookups>
    <startElementReference>Chase_Lockbox</startElementReference>
    <status>Active</status>
    <variables>
        <name>SO_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>SO_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SO_SCI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pymt__Shopping_Cart_Item__c</objectType>
    </variables>
    <variables>
        <name>SOC_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>SOC_SCIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pymt__Shopping_Cart_Item__c</objectType>
    </variables>
    <variables>
        <name>socExistingGAUAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>soExistingGAUA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>Var_GAU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Payment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingGAUAAmounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOpportunityTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
