force-app/main/default/flows/Internal_Transfer_new_Roth_403b_case_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_withdraw_case</name>
        <label>assign withdraw case</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Withdrawal_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Withdrawal_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Distribution_Additional_Dollar_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distribution_Additional_Dollar_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Distribution_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distribution_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Distribution_Reason_TDRA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distribution_Reason_TDRA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Distribution_Reason_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distribution_Reason_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Withdraw_TDRA_Options__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Withdraw_TDRA_Options__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Portal_Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Withdrawal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tax-Deferred 403(b) Retirement Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_online_transaction_record_type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Account_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Funding_From__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Distribution_Additional_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distribution_Additional_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Additional_Withholding_Amount_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Additional_Withholding_Amount_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_online_transaction_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.Gross_or_Net__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Gross_or_Net__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWithdrawCaseObj.E_Signature_Confirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.E_Signature_Confirmed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_withdraw_case</targetReference>
        </connector>
    </assignments>
    <description>Create withdraw case then member portal use chooses to do an internal transfer to new Roth 403b Account</description>
    <interviewLabel>Member Portal Internal Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal Transfer new Roth 403b case creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_withdraw_case</name>
        <label>Create withdraw case</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputReference>vWithdrawCaseObj</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_online_transaction_queue</name>
        <label>get online transaction queue</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_online_transaction_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online_Transactions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_online_transaction_record_type</name>
        <label>get online transaction record type</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_withdraw_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online_Transactions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_online_transaction_queue</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Plan Roth Rollover</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MemberPortal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Funding_From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vWithdrawCaseObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
