force-app/main/default/flows/JBSystemFlow_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_FireJBTrigger</name>
        <label>SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>6423027</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Case:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Type__c&quot;,&quot;ContactEmail&quot;,&quot;First_Name__c&quot;,&quot;Account_Type__c&quot;,&quot;Enrollment_Type__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Case:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_FireJBTrigger</name>
        <label>SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf3e71729dd2682bac765ed74865fa977</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf3e71729dd2682bac765ed74865fa977</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>6423027</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Case:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Acct_id__c&quot;,&quot;Name_of_Donors__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Case:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Type&quot;,&quot;Type__c&quot;,&quot;ContactId&quot;,&quot;RecordTypeId&quot;,&quot;SuppliedName&quot;,&quot;First_Name__c&quot;,&quot;Member_Dues__c&quot;,&quot;Account_Type__c&quot;,&quot;Employer_Dues__c&quot;,&quot;Submitted_Date__c&quot;,&quot;Enrollment_Type__c&quot;,&quot;Dates_Due_Will_Begin__c&quot;,&quot;Employer_Contact_Name__c&quot;,&quot;Contribution_Percentage__c&quot;,&quot;Employer_E_mail_Address__c&quot;,&quot;Employer_email_for_journey__c&quot;,&quot;TDRA_Employer_Contribution__c&quot;,&quot;Employer_Contributions_to_TDRA__c&quot;,&quot;Roth_Member_Contribution_Amount__c&quot;,&quot;TDRA_Member_Contribution_Amount__c&quot;,&quot;Roth_Member_Contribution_Percent__c&quot;,&quot;TDRA_Employer_Contribution_Amount__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Case:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjf3e71729dd2682bac765ed74865fa977_FireJBTrigger</name>
        <label>SalesforceObjf3e71729dd2682bac765ed74865fa977_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjf3e71729dd2682bac765ed74865fa977</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>6423027</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Case:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Type__c&quot;,&quot;ContactEmail&quot;,&quot;First_Name__c&quot;,&quot;Account_Type__c&quot;,&quot;Enrollment_Type__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Case:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</name>
        <label>JB_Decision_Null_Check_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5</name>
        <label>JB_Decision_Null_Check_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf3e71729dd2682bac765ed74865fa977</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjf3e71729dd2682bac765ed74865fa977</targetReference>
            </connector>
            <label>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjf3e71729dd2682bac765ed74865fa977</name>
        <label>JB_Decision_Null_Check_SalesforceObjf3e71729dd2682bac765ed74865fa977</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</targetReference>
            </connector>
            <label>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_Decision</name>
        <label>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</name>
            <conditionLogic>( ( ( (1 AND 2)  AND  ( ( ( ( ( ( ( ( (3 AND  (4 OR 5) )  OR 6)  OR 7)  OR 8)  OR 9)  OR 10)  OR 11)  OR 12)  OR 13) )  AND 14)  AND 15)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Record_Type_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120V000001pOny</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax-Deferred 403(b) Retirement Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MemberPortal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Enrollment_Journey_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefit Accumulation Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Traditional IRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roth IRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Church Start</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan Student Gift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan Change of Employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>457(b) Deferred Compensation Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EmployerDataFeed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_State_change_Decision</name>
        <label>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND  ( ( ( ( ( ( ( ( (3 AND  (4 OR 5) )  OR 6)  OR 7)  OR 8)  OR 9)  OR 10)  OR 11)  OR 12)  OR 13) )  AND 14)  AND 15)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Record_Type_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120V000001pOny</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax-Deferred 403(b) Retirement Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MemberPortal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Enrollment_Journey_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefit Accumulation Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Traditional IRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roth IRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Church Start</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan Student Gift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan Change of Employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>457(b) Deferred Compensation Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EmployerDataFeed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_Decision</name>
        <label>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf3e71729dd2682bac765ed74865fa977</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5</name>
            <conditionLogic>(1 AND  ( ( ( ( ( ( ( ( (2 AND  ( ( ( (3 AND  (4 OR 5) )  OR 6)  OR 7)  OR 8) )  AND 9)  AND 10)  AND 11)  AND 12)  AND 13)  AND 14)  AND 15)  AND 16) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120V000001pOnyQAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax-Deferred 403(b) Retirement Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MemberPortal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Enrollment_Journey_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Church Start</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>457(b) Deferred Compensation Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TDRA Plan to Plan Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TDRA Rollover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>457(b) Deferred Compensation Plan Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EmployerDataFeed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Eligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Initial_Validation_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_State_change_Decision</name>
        <label>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf3e71729dd2682bac765ed74865fa977</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5</name>
            <conditionLogic>NOT  (1 AND  ( ( ( ( ( ( ( ( (2 AND  ( ( ( (3 AND  (4 OR 5) )  OR 6)  OR 7)  OR 8) )  AND 9)  AND 10)  AND 11)  AND 12)  AND 13)  AND 14)  AND 15)  AND 16) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120V000001pOnyQAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax-Deferred 403(b) Retirement Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MemberPortal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Enrollment_Journey_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Church Start</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>457(b) Deferred Compensation Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TDRA Plan to Plan Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TDRA Rollover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>457(b) Deferred Compensation Plan Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EmployerDataFeed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Eligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Initial_Validation_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_Decision</name>
        <label>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjf3e71729dd2682bac765ed74865fa977</name>
            <conditionLogic>( ( ( (1 AND 2)  AND  ( ( ( ( ( ( ( ( (3 AND  (4 OR 5) )  OR 6)  OR 7)  OR 8)  OR 9)  OR 10)  OR 11)  OR 12)  OR 13) )  AND 14)  AND 15)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Record_Type_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120V000001pOny</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax-Deferred 403(b) Retirement Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MemberPortal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Enrollment_Journey_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefit Accumulation Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Traditional IRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roth IRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Church Start</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan Student Gift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan Change of Employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>457(b) Deferred Compensation Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EmployerDataFeed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjf3e71729dd2682bac765ed74865fa977_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjf3e71729dd2682bac765ed74865fa977</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_State_change_Decision</name>
        <label>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj10ecdd2ee1a9a51a75a38d21e7a5f19b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjf3e71729dd2682bac765ed74865fa977</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND  ( ( ( ( ( ( ( ( (3 AND  (4 OR 5) )  OR 6)  OR 7)  OR 8)  OR 9)  OR 10)  OR 11)  OR 12)  OR 13) )  AND 14)  AND 15)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Record_Type_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120V000001pOny</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax-Deferred 403(b) Retirement Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MemberPortal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Enrollment_Journey_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefit Accumulation Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Traditional IRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roth IRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Church Start</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan Student Gift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension Plan Change of Employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>457(b) Deferred Compensation Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EmployerDataFeed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf3e71729dd2682bac765ed74865fa977_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjf3e71729dd2682bac765ed74865fa977</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Case</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj7c95872a3ce2c1e0d8ca1e18bded4de5</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
