force-app/main/default/flows/Member_Login_Threat_Logging.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Build_Case_for_LWC</name>
        <label>Build Case for LWC</label>
        <locationX>544</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>ThreatMetrix_Case.Community_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Community_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThreatMetrix_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Community_Contact.PIN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThreatMetrix_Case.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Community_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThreatMetrix_Case.Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Community_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThreatMetrix_Case.Home_Address_State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Community_Contact.Current_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThreatMetrix_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Login</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThreatMetrix_Case.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Community_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThreatMetrix_Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Community_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ThreatMetrix_Screen</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Member Login Threat Logging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Member Login Threat Logging</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Community_Contact</name>
        <label>Get Community Contact</label>
        <locationX>413</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Case_for_LWC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Community_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PIN__c</queriedFields>
        <queriedFields>Current_State__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <screens>
        <name>ThreatMetrix_Screen</name>
        <label>ThreatMetrix Screen</label>
        <locationX>677</locationX>
        <locationY>72</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThreatMetrix_Logger</name>
            <extensionName>c:threatMetrixLogger</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>case</name>
                <value>
                    <elementReference>ThreatMetrix_Case</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>25</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Get_Community_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Community_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Community_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ThreatMetrix_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
