force-app/main/default/flows/Member_Dues_Information_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Contribution_Information_Section</name>
        <label>Contribution Information Section</label>
        <locationX>415</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Active_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contribution Information</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment_Form_Section</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Member Dues Information Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Member Dues Information Subflow with LWC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Enrollment_Form_Member_Dues</name>
        <label>Update Enrollment Form Member Dues</label>
        <locationX>821</locationX>
        <locationY>188</locationY>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enrollment_Form_Section</name>
        <label>Update Enrollment Form Section</label>
        <locationX>541</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>Member_Dues_Information_Screen</targetReference>
        </connector>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordUpdates>
    <screens>
        <name>Member_Dues_Information_Screen</name>
        <label>Member Dues Information Screen</label>
        <locationX>685</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Enrollment_Form_Member_Dues</targetReference>
        </connector>
        <fields>
            <name>FormHeader_1</name>
            <fieldText>&lt;p&gt;{!FormHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stages</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Member_Dues_LWC</name>
            <extensionName>c:enrollmentMemberDues</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enrollmentForm</name>
                <value>
                    <elementReference>CurrentEnrollmentForm</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CurrentEnrollmentForm</assignToReference>
                <name>enrollmentForm</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>Contribution_Information_Section</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActiveSectionContributionInformation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Contribution Information</text>
    </textTemplates>
    <variables>
        <name>CurrentEnrollmentForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Form__c</objectType>
    </variables>
    <variables>
        <name>FormHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Form header goes here...</stringValue>
        </value>
    </variables>
</Flow>
