force-app/main/default/flows/Minister_and_employer_subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_minister_and_employer_information</name>
        <label>Assign minister and employer information</label>
        <locationX>944</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Minister_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_Minister_please_check_onePicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Employer_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Employer_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Employer_State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Employer_E_mail_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Date_of_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_ordination_commission_license</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Employer_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Employer_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Continued_or_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minister_and_employer_section</name>
        <label>Minister and employer section</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Active_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveSectionMinisterAndEmployer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Minister_and_employer_screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Commissioned</name>
        <choiceText>Commissioned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commissioned</stringValue>
        </value>
    </choices>
    <choices>
        <name>Licensed</name>
        <choiceText>Licensed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Licensed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ordained</name>
        <choiceText>Ordained</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ordained</stringValue>
        </value>
    </choices>
    <decisions>
        <name>error_message</name>
        <label>error message</label>
        <locationX>736</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Assign_minister_and_employer_information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Please_fill_in_date_field_of_ordination_commission_license</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_of_ordination_commission_license</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_Minister_please_check_onePicklist</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-Minister</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_messagescren</targetReference>
            </connector>
            <label>Please fill in date field of ordination/commission/license.</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Continued_or_New</name>
        <label>Is Continued or New</label>
        <locationX>1085</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Create_Enrollment_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Continued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Id</leftValueReference>
                <operator>WasSet</operator>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Form</targetReference>
            </connector>
            <label>Is Continued</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MinisterType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Minister_Type__c</picklistField>
        <picklistObject>Enrollment_Form__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Minister and employer subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minister and employer subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Enrollment_Form</name>
        <label>Create Enrollment Form</label>
        <locationX>1314</locationX>
        <locationY>209</locationY>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Enrollment_Form</name>
        <label>Update Enrollment Form</label>
        <locationX>1310</locationX>
        <locationY>45</locationY>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_messagescren</name>
        <label>Error message</label>
        <locationX>651</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Minister_and_employer_screen</targetReference>
        </connector>
        <fields>
            <name>Errormessage</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please fill in date field of ordination/commission/license.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Minister_and_employer_screen</name>
        <label>Minister and employer screen</label>
        <locationX>550</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>error_message</targetReference>
        </connector>
        <fields>
            <name>FormHeader1</name>
            <fieldText>&lt;p&gt;{!FormHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stage</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_Minister_please_check_onePicklist</name>
            <choiceReferences>MinisterType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select one:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_ordination_commission_license</name>
            <dataType>Date</dataType>
            <fieldText>Date of Ordination/Commission</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Disclaimer_date_ordained</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;If you don&apos;t know the exact date, enter the first of the month that you were ordained.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Barreeee</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmployerInformation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Employer Information&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!vFormBody}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employer_Name</name>
            <dataType>String</dataType>
            <fieldText>Employer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employer_City</name>
            <dataType>String</dataType>
            <fieldText>Employer City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employer_Street</name>
            <dataType>String</dataType>
            <fieldText>Employer Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employer_State</name>
            <dataType>String</dataType>
            <fieldText>Employer State Abbreviation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter a 2 letter sate abbreviation&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(LEN( {!Employer_State} ) = 2)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Employer_Contact</name>
            <dataType>String</dataType>
            <fieldText>Employer- Main Point of Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employer_Email</name>
            <dataType>String</dataType>
            <fieldText>Employer Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Ensure that Email is formatted correctly&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Employer_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Employer_Phone2</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employer Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Employer_Phone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Employer_Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Minister_and_employer_section</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActiveSectionMinisterAndEmployer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Minister and Employer</text>
    </textTemplates>
    <variables>
        <name>CurrentEnrollmentForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Form__c</objectType>
    </variables>
    <variables>
        <name>Employer_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FormHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Form header goes here...</stringValue>
        </value>
    </variables>
    <variables>
        <name>vFormBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
