force-app/main/default/flows/New_Member_User_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Users</name>
        <label>Create Users</label>
        <locationX>545</locationX>
        <locationY>46</locationY>
        <actionName>ContactCommunityUserCreation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Testgetcontact</targetReference>
        </connector>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>CurrentContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>New member/User Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Member/User Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>225</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentContact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentContact.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentContact.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentContact.Phone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>CurrentContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <screens>
        <name>Testgetcontact</name>
        <label>Testgetcontact</label>
        <locationX>752</locationX>
        <locationY>52</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Membername</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;New user was created&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;{!CurrentContact.FirstName} {!CurrentContact.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetContact</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
