force-app/main/default/flows/New_Self_Employment_Affiliation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Existing_Affiliation</name>
        <label>Existing Affiliation</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>DuplicateFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundAffiliation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Self_Employment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Used to create a new self billed affiliation from an affiliation related list on the contact record.</description>
    <dynamicChoiceSets>
        <name>ContactType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Type__c</picklistField>
        <picklistObject>npe5__Affiliation__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Self Employment Affiliation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Self Employment Affiliation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Affiliation</name>
        <label>Create Affiliation</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <elementReference>Contact_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__EndDate__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__Organization__c</field>
            <value>
                <elementReference>Get_PFCC_Self_Billed_Acct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__Role__c</field>
            <value>
                <elementReference>Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>npe5__Affiliation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Affiliation</name>
        <label>Get Affiliation</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Affiliation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PFCC_Self_Billed_Acct.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputAssignments>
            <assignToReference>FoundAffiliation</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PFCC_Self_Billed_Acct</name>
        <label>Get PFCC Self Billed Acct</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Affiliation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PFCC Self Billed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Internal_System_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DuplicateFound</name>
        <label>DuplicateFound</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExistingMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 2, 2);&quot;&gt;A Self Billed Affiliation without an end date already exists for {!ContactFirst} {!ContactLast}.  If you feel this is an error please contact your System Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Self_Employment</name>
        <label>New Self Employment</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Affiliation</targetReference>
        </connector>
        <fields>
            <name>ContactDisplay</name>
            <fieldText>&lt;p&gt;Organization:   &lt;b&gt;{!Get_PFCC_Self_Billed_Acct.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Contact: &lt;b&gt;{!ContactFirst} {!ContactLast}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Role</name>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Type</name>
            <choiceReferences>ContactType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Type</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PFCC_Self_Billed_Acct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactFirst</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactLast</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FoundAffiliation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
