force-app/main/default/flows/New_Member_Enrollment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_New_Contact_ID</name>
        <label>Assign New Contact ID</label>
        <locationX>1571</locationX>
        <locationY>919</locationY>
        <assignmentItems>
            <assignToReference>vContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Affiliation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Org_to_Contact</name>
        <label>Assign Org to Contact</label>
        <locationX>1036</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>NewContact.Member_Enrollment_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Member_Portal_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0050V000006LpRp</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.npe01__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Organization_Names__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOrg.PIN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Middle_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salutation_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phone_Typedecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Home_Phone</name>
        <label>Home Phone</label>
        <locationX>1665</locationX>
        <locationY>154</locationY>
        <assignmentItems>
            <assignToReference>NewContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MobilePhone</name>
        <label>MobilePhone</label>
        <locationX>1349</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>NewContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Phone</name>
        <label>Other Phone</label>
        <locationX>1275</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>NewContact.OtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WorkPhone</name>
        <label>WorkPhone</label>
        <locationX>1175</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>NewContact.npe01__WorkPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>OrganizationSelected</name>
        <label>Organization Selected</label>
        <locationX>633</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Get_Affiliation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Organization_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AffiliationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Organization</targetReference>
            </connector>
            <label>Organization Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Typedecision</name>
        <label>Phone Type</label>
        <locationX>1181</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_Phone</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkPhone</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MobilePhone</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Phone</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <description>salutation not required</description>
    <dynamicChoiceSets>
        <name>PhoneType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>npe01__PreferredPhone__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Salutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formError</name>
        <dataType>String</dataType>
        <expression>IF(
CONTAINS({!$Flow.FaultMessage}, &quot;DUPLICATES_DETECTED&quot;),
&quot;The employee you are attempting to add is already listed as an existing contact at Pension Fund. If you’ve already added them or they have an existing account with Pension Fund from a previous employer, they can log into their existing Member Portal and begin their enrollment. Please contact our Member Relations team if you feel this is an error. Pressing &apos;Finish&apos; will NOT create a new contact or user access.&quot;,
{!$Flow.FaultMessage}
)</expression>
    </formulas>
    <formulas>
        <name>GetContactCommunityuser</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>todaysdate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>New Member Enrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Employee Enrollment v6</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Affiliation</name>
        <label>Create Affiliation</label>
        <locationX>1704</locationX>
        <locationY>919</locationY>
        <connector>
            <targetReference>User_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>npe5__Contact__c</field>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__Organization__c</field>
            <value>
                <elementReference>OrganizationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__StartDate__c</field>
            <value>
                <elementReference>Affiliation_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>npe5__Affiliation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1458</locationX>
        <locationY>919</locationY>
        <connector>
            <targetReference>Assign_New_Contact_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>test</targetReference>
        </faultConnector>
        <inputReference>NewContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Affiliation</name>
        <label>Get Affiliation</label>
        <locationX>794</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Organization</targetReference>
        </connector>
        <faultConnector>
            <targetReference>test</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AffiliationID</elementReference>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputAssignments>
            <assignToReference>OrganizationID</assignToReference>
            <field>npe5__Organization__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization</name>
        <label>Get Organization</label>
        <locationX>919</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Employee_Information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>test</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrganizationID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>CurrentOrg</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PIN__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContactUser</name>
        <label>GetContactUser</label>
        <locationX>390</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>test</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContactCommunityuser</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>UserContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_Organization</name>
        <label>Choose Organization</label>
        <locationX>642</locationX>
        <locationY>266</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OrganizationSelected</targetReference>
        </connector>
        <fields>
            <name>OrganizationHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Organization&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ORG4</name>
            <extensionName>mp35:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>npe5__Affiliation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Organization_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Organization</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>npe5__Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>UserContact.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>AffiliationID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Calculated_Status__c=&apos;Active&apos;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AffiliationID</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>NoOrgMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Please select an Organization for the Employee you are adding.  If you do not see your organization as a selection please contact the PFCC Member Relations team.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Employee_information</name>
        <label>Employee information</label>
        <locationX>518</locationX>
        <locationY>156</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OrganizationSelected</targetReference>
        </connector>
        <fields>
            <name>Add_New_Employee</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Add New Employee&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;﻿Fill out the information below to add a new employee to the Pension Fund Member Portal&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Salutation_Input</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Salutation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>First_Name</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Middle_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Middle_Name</elementReference>
            </defaultValue>
            <fieldText>Middle Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Last_Name</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Email</elementReference>
            </defaultValue>
            <fieldText>Personal Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Validate_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Validate_Email</elementReference>
            </defaultValue>
            <fieldText>Confirm Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Email does not match&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Validate_Email} = {!Email}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone_Type</name>
            <choiceReferences>PhoneType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Phone Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PhoneTypeDescription</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;If available, a mobile phone is the preferred phone type to be used as the primary contact for the employee. This will allow your employee the option of gaining access to the member portal by receiving their security code via text.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Phone must only contain numbers and be 10 digits.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Phone}, &quot;^[0-9]{10}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Verify_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Verify_Phone</elementReference>
            </defaultValue>
            <fieldText>Confirm Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Phone numbers do not match.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Phone} = {!Verify_Phone}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Affiliation_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Affiliation_Start_Date</elementReference>
            </defaultValue>
            <fieldText>Hire Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LookupOrg2</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>npe5__Affiliation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Organization_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Organization</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>npe5__Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>UserContact.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>AffiliationID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Calculated_Status__c=&apos;Active&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>AffiliationID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AffiliationID</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>test</name>
        <label>New Employee Creation Error</label>
        <locationX>407</locationX>
        <locationY>779</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!formError}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verify_Employee_Information</name>
        <label>Verify Employee Information</label>
        <locationX>974</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Org_to_Contact</targetReference>
        </connector>
        <fields>
            <name>VerificationLabel</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please review the below information for your employee and ensure it is correct. If there are errors, please return to the previous page and make corrections before adding the new employee.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VerificationInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Salutation:&lt;/b&gt;  {!Salutation_Input}&lt;/p&gt;&lt;p&gt;&lt;b&gt;First Name: &lt;/b&gt; {!First_Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Middle Name: &lt;/b&gt; {!Middle_Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Last Name: &lt;/b&gt; {!Last_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Email:&lt;/b&gt; {!Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Preferred Phone: &lt;/b&gt; {!Phone_Type}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Phone:  &lt;/b&gt;{!Phone}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Organization: &lt;/b&gt; {!CurrentOrg.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Hire Date: &lt;/b&gt; {!Affiliation_Start_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>GetContactUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>User_Creation</name>
        <label>User Creation</label>
        <locationX>1820</locationX>
        <locationY>918</locationY>
        <flowName>New_Member_User_Creation</flowName>
        <inputAssignments>
            <name>CurrentContact</name>
            <value>
                <elementReference>NewContact</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AffiliationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentOrg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OrganizationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
