force-app/main/default/flows/Personal_Information_Update_v1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Personal_Update_Email</name>
        <label>Personal Update Email</label>
        <locationX>1782</locationX>
        <locationY>3563</locationY>
        <actionName>Contact.Personal_Information_Change</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>rvCurrentContactValues.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Threat_Report_Add_Bank_Account</name>
        <label>Set Threat Report Add Bank Account</label>
        <locationX>2097</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add_Bank_Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Bank_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBankAccount.bnk_Bank_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Bank_Routing_ABA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBankAccount.bnk_Routing_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Bank_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBankAccount.bnk_Bank_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Checking_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vBankAccountNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Threat_Metrix_Score_Processing_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Threat_Report_Address_Change</name>
        <label>Set Threat Report Address Change</label>
        <locationX>1469</locationX>
        <locationY>910</locationY>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address_Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Home_Address_Street_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Home_Address_Street_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewStreet2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Home_Address_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Home_Address_State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Home_Address_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewPostal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Home_Address_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Threat_Metrix_Score_Processing_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Threat_Report_Case_Default_Values</name>
        <label>Set Threat Report Case Default Values</label>
        <locationX>1667</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>threatMetrixCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.Contact_id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.PIN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Home_Address_Street_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.Home_Address_Street_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Home_Address_Street_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.Home_Address_Street_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Home_Address_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.Home_Address_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Home_Address_State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.Home_Address_State_Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Home_Address_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.Home_Address_Zip__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Home_Address_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.Home_Address_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.E_mail_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.npe01__WorkEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.npe01__HomeEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.ContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvCurrentContactValues.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Information_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Threat_Report_Email_Change</name>
        <label>Set Threat Report Email Change</label>
        <locationX>1860</locationX>
        <locationY>921</locationY>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email_Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Threat_Metrix_Score_Processing_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Threat_Report_Phone_Change</name>
        <label>Set Threat Report Phone Change</label>
        <locationX>1655</locationX>
        <locationY>901</locationY>
        <assignmentItems>
            <assignToReference>threatMetrixCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone_Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>threatMetrixCase.ContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Threat_Metrix_Score_Processing_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddBankAccount</name>
        <choiceText>Add a new Bank Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AddBA</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddressChange</name>
        <choiceText>&lt;p style=&quot;user-select: auto;&quot;&gt;Address Change&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Address Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddressChangeNew</name>
        <choiceText>Address Change NEW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Address Change NEW</stringValue>
        </value>
    </choices>
    <choices>
        <name>BankInfo</name>
        <choiceText>Bank Account information</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Birth_Adoption</name>
        <choiceText>Birth or Legal Adoption of Child</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Birth or Legal Adoption of Child</stringValue>
        </value>
    </choices>
    <choices>
        <name>Checking</name>
        <choiceText>Checking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Checking</stringValue>
        </value>
    </choices>
    <choices>
        <name>CheckingBA</name>
        <choiceText>Checking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Checking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Death</name>
        <choiceText>Death</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Death</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailChange</name>
        <choiceText>Email Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marital</name>
        <choiceText>Change in Marital Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change in Marital Status</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModifyExistingBankAccount</name>
        <choiceText>Modify Existing Bank Account</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ModifyExistingBankAccount</elementReference>
        </value>
    </choices>
    <choices>
        <name>NameChange</name>
        <choiceText>&lt;p style=&quot;user-select: auto;&quot;&gt;Name Change&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Name Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>PhoneChange</name>
        <choiceText>Phone Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>RemoveBankAccount</name>
        <choiceText>Remove Existing Bank Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RemoveBA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Saving</name>
        <choiceText>Saving</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saving</stringValue>
        </value>
    </choices>
    <choices>
        <name>SavingsBA</name>
        <choiceText>Savings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Savings</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Address_Verification_in_Progress</name>
        <label>Address Verification in Progress</label>
        <locationX>1357</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>Address_Change_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvCurrentContactValues.Address_Verification_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Verification_in_Progress_Notification</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>AddressVerficationRequired</name>
        <label>AddressVerficationRequired</label>
        <locationX>1279</locationX>
        <locationY>1798</locationY>
        <defaultConnector>
            <targetReference>Thanks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VerificationRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNewVerificationRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Address_Verification_Case</targetReference>
            </connector>
            <label>VerificationRequired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bank_Account_change_choice</name>
        <label>Bank Account change</label>
        <locationX>2193</locationX>
        <locationY>416</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AddBA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_doBA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddBankAccount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Bank_Account_Screen</targetReference>
            </connector>
            <label>AddBA</label>
        </rules>
        <rules>
            <name>RemoveBA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_doBA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RemoveBankAccount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChooseBA</targetReference>
            </connector>
            <label>RemoveBA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preferred_Change</name>
        <label>Preferred Change</label>
        <locationX>2030</locationX>
        <locationY>2230</locationY>
        <defaultConnector>
            <targetReference>update_threat_report_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Make_this_my_preferred_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preferred_Email_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_info_do_they_want_to_change</name>
        <label>Which info do they want to change</label>
        <locationX>1778</locationX>
        <locationY>310</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Personal_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NameChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_Update</targetReference>
            </connector>
            <label>Name</label>
        </rules>
        <rules>
            <name>Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Personal_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddressChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Verification_in_Progress</targetReference>
            </connector>
            <label>Address</label>
        </rules>
        <rules>
            <name>PhoneSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Personal_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PhoneChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Update</targetReference>
            </connector>
            <label>Phone Selected</label>
        </rules>
        <rules>
            <name>Bank_Account_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Personal_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BankInfo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bank_Information_change</targetReference>
            </connector>
            <label>Bank Account change</label>
        </rules>
        <rules>
            <name>Email_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Personal_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Change_Screen</targetReference>
            </connector>
            <label>Email Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_info_do_they_want_to_change_0</name>
        <label>Which info do they want to change</label>
        <locationX>1726</locationX>
        <locationY>1522</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Personal_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NameChange</elementReference>
                </rightValue>
            </conditions>
            <label>Name</label>
        </rules>
        <rules>
            <name>Address_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Personal_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddressChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Address</targetReference>
            </connector>
            <label>Address</label>
        </rules>
        <rules>
            <name>PhoneSelected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Personal_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PhoneChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Phone_Change</targetReference>
            </connector>
            <label>Phone Selected</label>
        </rules>
        <rules>
            <name>Bank_Account_change_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Personal_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BankInfo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_bank_account</targetReference>
            </connector>
            <label>Bank Account change</label>
        </rules>
        <rules>
            <name>Email_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Personal_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Email_Change</targetReference>
            </connector>
            <label>Email Selected</label>
        </rules>
    </decisions>
    <description>Remove space between Member Portal Origin field</description>
    <dynamicChoiceSets>
        <name>bank_account_country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bank_Account_Country__c</picklistField>
        <picklistObject>bnk_Bank__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BankAccountList</name>
        <dataType>String</dataType>
        <displayField>bnk_Account_Number__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bnk_Account_Holder_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvCurrentContactValues.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>bnk_Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>bnk_Bank__c</object>
        <outputAssignments>
            <assignToReference>vBAID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NameChangeValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Name_Change_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferedEmail</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>npe01__Preferred_Email__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferedPhone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>npe01__PreferredPhone__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Stores description for case created due to state change on address</description>
        <name>AddressChangeDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Request address change to&quot; + 
{!vNewStreet}+&quot; &quot;+{!vNewCity}+&quot; &quot;+{!vNewState}+&quot; &quot;+{!vNewPostal}+&quot; &quot;+{!vNewCountry}</expression>
    </formulas>
    <formulas>
        <name>BankDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Bank Account closed. A &quot; + {!VTBankAccountType} + &quot; account from &quot; +  {!vBankName} + &quot; with the Bank Account Number: &quot; + {!vBankAccountNumber} + &quot; has been marked inactive.&quot;</expression>
    </formulas>
    <formulas>
        <name>EmailChangeDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Request to change &quot;+ {!Preferred_Email} +&quot; Email to &quot; + {!Email_Address}+&quot;.&quot;+{!MakePreferredEmail}</expression>
    </formulas>
    <formulas>
        <name>MakePreferredEmail</name>
        <dataType>String</dataType>
        <expression>IF({!Make_this_my_preferred_Email}=TRUE,&quot; Please make this my preferred email.&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>MakePreferredPhone</name>
        <dataType>String</dataType>
        <expression>IF({!Make_this_my_preferred_phone}=TRUE,&quot; Please make this my preferred phone.&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Stores Description field for Name Change Case</description>
        <name>NameChangeDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Request to change name to Salutation:&quot;+ &quot; &quot;+ {!Salutation} + &quot; &quot;+ &quot;First:&quot; + &quot; &quot;+ {!First_Name}+ &quot; &quot;+ &quot;Middle:&quot;+ &quot; &quot;+ {!Middle_Name} +&quot; &quot;+&quot; Last:&quot;+ &quot; &quot; + {!Last_Name} + &quot; &quot;+&quot; Reason for change:&quot;+&quot; &quot;+ {!Name_Change_Reason}</expression>
    </formulas>
    <formulas>
        <name>NameChangeSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Name change request for &quot; + {!rvCurrentContactValues.Name}</expression>
    </formulas>
    <formulas>
        <description>Store description for Phone Change case</description>
        <name>PhoneChangeDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Request to change &quot;+ Text({!PreferedPhone}) +&quot; phone to &quot; +{!Phone_Number.value}+&quot;.&quot;+{!MakePreferredPhone}</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <formulas>
        <description>Stores the variable of the user making the Personal Information Update</description>
        <name>vCurrentUserContact</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>vNewLatitudeNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!vNewLatitudeString})</expression>
        <scale>15</scale>
    </formulas>
    <formulas>
        <name>vNewLongitudeNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!vNewLongitudeString})</expression>
        <scale>15</scale>
    </formulas>
    <formulas>
        <name>VTBankAccountType</name>
        <dataType>String</dataType>
        <expression>TEXT({!vBankAccountType})</expression>
    </formulas>
    <interviewLabel>Personal Information Update v1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Personal Information Update with OTP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Add_BA_Task</name>
        <label>Create Add BA Task</label>
        <locationX>2339</locationX>
        <locationY>2115</locationY>
        <connector>
            <targetReference>update_threat_report_case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TreasuryQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add a new bank account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Address_Verification_Case</name>
        <label>Create Address Verification Case</label>
        <locationX>1443</locationX>
        <locationY>1775</locationY>
        <assignRecordIdToReference>vCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>update_threat_report_case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>rvCurrentContactValues.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>rvCurrentContactValues.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Address that member added</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>MemberPortal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AddressVerificationQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Info Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Subcategory__c</field>
            <value>
                <stringValue>Unsearchable Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Address Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Email_Change</name>
        <label>Create Case for Email Change</label>
        <locationX>1988</locationX>
        <locationY>1626</locationY>
        <assignRecordIdToReference>vCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Preferred_Change</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>rvCurrentContactValues.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>rvCurrentContactValues.Contact_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>EmailChangeDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>MemberPortal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Info Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Subcategory__c</field>
            <value>
                <stringValue>Email Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email Change Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Name_Change</name>
        <label>Create Case for Name Change</label>
        <locationX>1014</locationX>
        <locationY>1205</locationY>
        <assignRecordIdToReference>vCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Send_Form_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>rvCurrentContactValues.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>rvCurrentContactValues.Contact_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NameChangeDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>MemberPortal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Info Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Subcategory__c</field>
            <value>
                <stringValue>Name Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NameChangeSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_New_Bank_Account</name>
        <label>Create Case for New Bank Account</label>
        <locationX>2323</locationX>
        <locationY>1792</locationY>
        <assignRecordIdToReference>vCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Add_BA_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>rvCurrentContactValues.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account__c</field>
            <value>
                <elementReference>NewBankAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>NewBankAccount.bnk_Bank_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>rvCurrentContactValues.Contact_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Bank Account Created.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>MemberPortal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Info Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Subcategory__c</field>
            <value>
                <stringValue>Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Bank Account Created.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Phone_Change</name>
        <label>Create Case for Phone Change</label>
        <locationX>1710</locationX>
        <locationY>1857</locationY>
        <assignRecordIdToReference>vCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>update_threat_report_case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>rvCurrentContactValues.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>rvCurrentContactValues.Contact_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>PhoneChangeDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>MemberPortal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Info Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Subcategory__c</field>
            <value>
                <stringValue>Phone Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Phone Change Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_to_log_BA_deletion</name>
        <label>Create Case to log BA deletion</label>
        <locationX>2663</locationX>
        <locationY>902</locationY>
        <assignRecordIdToReference>vCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Remove_BA_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>rvCurrentContactValues.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Type__c</field>
            <value>
                <elementReference>VTBankAccountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>vBankName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checking_Account__c</field>
            <value>
                <elementReference>vBankAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>rvCurrentContactValues.Contact_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>BankDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>MemberPortal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Info Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Subcategory__c</field>
            <value>
                <stringValue>Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Bank Account Closed by User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_bank_account</name>
        <label>Create new bank account</label>
        <locationX>2399</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Show_Toast1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>NewBankAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Remove_BA_Task</name>
        <label>Create Remove BA Task</label>
        <locationX>2664</locationX>
        <locationY>1137</locationY>
        <connector>
            <targetReference>Update_Bank_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TreasuryQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Remove an existing bank account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Preferred_Email_Task</name>
        <label>Preferred Email Task</label>
        <locationX>2182</locationX>
        <locationY>2325</locationY>
        <connector>
            <targetReference>update_threat_report_case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Preferred email change - Mail confirmation letter to member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>rvCurrentContactValues.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Form_Task</name>
        <label>Send Form Task</label>
        <locationX>1176</locationX>
        <locationY>1211</locationY>
        <connector>
            <targetReference>Thanks</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Form for Personal Information Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>rvCurrentContactValues.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <description>Lookup Community Contact Information</description>
        <name>Current_Contact_Lookup</name>
        <label>Current Contact Lookupname</label>
        <locationX>1145</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Address_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCurrentUserContact</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>rvCurrentContactValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Contact_id__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>npe01__PreferredPhone__c</queriedFields>
        <queriedFields>npe01__WorkPhone__c</queriedFields>
        <queriedFields>OtherPhone</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>npe01__AlternateEmail__c</queriedFields>
        <queriedFields>npe01__WorkEmail__c</queriedFields>
        <queriedFields>npe01__Preferred_Email__c</queriedFields>
        <queriedFields>npe01__HomeEmail__c</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Home_Address_City__c</queriedFields>
        <queriedFields>Home_Address_Country__c</queriedFields>
        <queriedFields>Home_Address_State_Province__c</queriedFields>
        <queriedFields>Home_Address_Street_1__c</queriedFields>
        <queriedFields>Home_Address_Zip__c</queriedFields>
        <queriedFields>Home_Address_Street_2__c</queriedFields>
        <queriedFields>Home_Address_Geolocation__Latitude__s</queriedFields>
        <queriedFields>Home_Address_Geolocation__Longitude__s</queriedFields>
        <queriedFields>Address_Verification_Required__c</queriedFields>
        <queriedFields>PIN__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Address_Queue</name>
        <label>Get Address Queue</label>
        <locationX>1279</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Address_Verification_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>AddressVerificationQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Bank_Account_Details</name>
        <label>Get Bank Account Details</label>
        <locationX>2663</locationX>
        <locationY>773</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_to_log_BA_deletion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vBAID</elementReference>
            </value>
        </filters>
        <object>bnk_Bank__c</object>
        <outputAssignments>
            <assignToReference>vBankAccountType</assignToReference>
            <field>Checking_or_Savings__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vBAID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vBankAccountNumber</assignToReference>
            <field>bnk_Account_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vBankName</assignToReference>
            <field>bnk_Bank_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_ID</name>
        <label>Get MRC Queue ID</label>
        <locationX>1412</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Member_Service_Center</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Treasury_Queue</name>
        <label>Get Treasury Queue</label>
        <locationX>2343</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_change_choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Treasury_Associate_State_Changes_Tasks</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>TreasuryQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCaseRecordType</name>
        <label>GetCaseRecordType</label>
        <locationX>1539</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Threat_Report_Case_Default_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bank_Account</name>
        <label>Update Bank Account</label>
        <locationX>2893</locationX>
        <locationY>1749</locationY>
        <connector>
            <targetReference>Thanks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vBAID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>bnk_Is_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>bnk_Bank__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Address</name>
        <label>Update Contact Address</label>
        <locationX>1262</locationX>
        <locationY>1492</locationY>
        <connector>
            <targetReference>AddressVerficationRequired</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCurrentUserContact</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address_Verification_Required__c</field>
            <value>
                <elementReference>vNewVerificationRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>vNewCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>vNewCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingLatitude</field>
            <value>
                <elementReference>vNewLatitudeNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingLongitude</field>
            <value>
                <elementReference>vNewLongitudeNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>vNewPostal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>vNewState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>vNewStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address_Line_2__c</field>
            <value>
                <elementReference>vNewStreet2</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_threat_report_case</name>
        <label>update threat report case</label>
        <locationX>1924</locationX>
        <locationY>2709</locationY>
        <connector>
            <targetReference>Thanks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>threatMetirxReportId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Threat_Report__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Address_Change_New</name>
        <label>Address Change</label>
        <locationX>1367</locationX>
        <locationY>728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Threat_Report_Address_Change</targetReference>
        </connector>
        <fields>
            <name>AddressChangeHeaderNew</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Address Change&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressChangeDescriptionNew</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(23, 43, 77);&quot;&gt;Please fill out the form below to update your mailing address:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressInfoNew2</name>
            <extensionName>c:addressSearchFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>street2</name>
                <value>
                    <elementReference>rvCurrentContactValues.Home_Address_Street_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>rvCurrentContactValues.Home_Address_City__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>rvCurrentContactValues.Home_Address_Country__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lat</name>
                <value>
                    <elementReference>rvCurrentContactValues.Home_Address_Geolocation__Latitude__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lng</name>
                <value>
                    <elementReference>rvCurrentContactValues.Home_Address_Geolocation__Longitude__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>rvCurrentContactValues.Home_Address_Zip__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>rvCurrentContactValues.Home_Address_State_Province__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>rvCurrentContactValues.Home_Address_Street_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verificationReq</name>
                <value>
                    <elementReference>rvCurrentContactValues.Address_Verification_Required__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vNewVerificationRequired</assignToReference>
                <name>verificationReq</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vNewStreet2</assignToReference>
                <name>street2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vNewCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vNewCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vNewLatitudeString</assignToReference>
                <name>lat</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vNewLongitudeString</assignToReference>
                <name>lng</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vNewPostal</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vNewState</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vNewStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Address_Verification_in_Progress_Notification</name>
        <label>Address Verification in Progress Notification</label>
        <locationX>1215</locationX>
        <locationY>529</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>VerifyInProgress</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Address change is unavailable at this time while we review and process your previous address change request. If you need help or have questions, please email our Member Relations team at &lt;/span&gt;&lt;a href=&quot;mailto:pfcc1@pensionfund.org&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 82, 204); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;pfcc1@pensionfund.org&lt;/a&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Bank_Information_change</name>
        <label>Bank Information change</label>
        <locationX>2114</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Treasury_Queue</targetReference>
        </connector>
        <fields>
            <name>Bank_Information_change00</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: verdana; user-select: auto;&quot;&gt;&lt;span class=&quot;ql-cursor&quot; style=&quot;user-select: auto;&quot;&gt;&lt;/span&gt;Bank Information Change&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_would_you_like_to_doBA</name>
            <choiceReferences>AddBankAccount</choiceReferences>
            <choiceReferences>RemoveBankAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Information_to_Update</name>
        <label>Choose Information to Update</label>
        <locationX>1794</locationX>
        <locationY>31</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_info_do_they_want_to_change</targetReference>
        </connector>
        <fields>
            <name>PersonalInfoHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Personal Information Update&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Which_Personal_Information_would_you_like_to_update</name>
            <choiceReferences>NameChange</choiceReferences>
            <choiceReferences>AddressChange</choiceReferences>
            <choiceReferences>PhoneChange</choiceReferences>
            <choiceReferences>EmailChange</choiceReferences>
            <choiceReferences>BankInfo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Personal Information would you like to update?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ThreatMetrix_Profiling</name>
            <extensionName>c:threatMetrixLogger</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>threatMetrixSessionID</assignToReference>
                <name>sessionId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChooseBA</name>
        <label>ChooseBA</label>
        <locationX>2665</locationX>
        <locationY>639</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Bank_Account_Details</targetReference>
        </connector>
        <fields>
            <name>DeleteBankHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Delete Bank Account&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ListBankAccounts</name>
            <choiceReferences>BankAccountList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Bank Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_Change_Screen</name>
        <label>Email Change Screen</label>
        <locationX>1902</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Threat_Report_Email_Change</targetReference>
        </connector>
        <fields>
            <name>EmailHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Email Change&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preferred_Email</name>
            <choiceReferences>PreferedEmail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirm_Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Confirm Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Email does not match&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Confirm_Email_Address}={!Email_Address}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Make_this_my_preferred_Email</name>
            <dataType>Boolean</dataType>
            <fieldText>Make this my preferred Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>preferredPhoneWarning</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(23, 43, 77);&quot;&gt;(Changing your preferred email may temporarily impact your access to the Pension Fund Member Portal)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>1828</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AddressErrorHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Error&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressErrorMessage</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;There was a problem while saving your record::

{!$Flow.FaultMessage}



&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Name_Update</name>
        <label>Name Update</label>
        <locationX>1086</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_for_Name_Change</targetReference>
        </connector>
        <fields>
            <name>NameChangeHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Name Change&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Changephoone</name>
            <fieldText>&lt;p&gt;Please fill out the form below with your new name information:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Salutation</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>rvCurrentContactValues.Salutation</elementReference>
            </defaultValue>
            <fieldText>Salutation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>rvCurrentContactValues.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Middle_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>rvCurrentContactValues.MiddleName</elementReference>
            </defaultValue>
            <fieldText>Middle Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>rvCurrentContactValues.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_Change_Reason</name>
            <choiceReferences>Marital</choiceReferences>
            <choiceReferences>Birth_Adoption</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Name Change Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Bank_Account_Screen</name>
        <label>New Bank Account Screen</label>
        <locationX>2229</locationX>
        <locationY>608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Threat_Report_Add_Bank_Account</targetReference>
        </connector>
        <fields>
            <name>Bank_info_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(68, 68, 68);&quot;&gt;Enter Bank Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BankingInformation</name>
            <extensionName>c:BankingInformation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isProfile</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAutoNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewBankAccount</assignToReference>
                <name>newBankAccount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vCaseID</assignToReference>
                <name>caseId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBankAccountNumber</assignToReference>
                <name>bankAccountNumber</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>One_Time_Password_Screen_0</name>
        <label>One Time Password Screen</label>
        <locationX>1791</locationX>
        <locationY>1331</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_info_do_they_want_to_change_0</targetReference>
        </connector>
        <fields>
            <name>EndHeader_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;One Time Password&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>oneTimePasswordFlowWrapper_0</name>
            <extensionName>c:oneTimePasswordFlowWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>threatMetrixResponseScore</name>
                <value>
                    <elementReference>threatMetrixScore</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Phone_Update</name>
        <label>PhoneUpdate</label>
        <locationX>1636</locationX>
        <locationY>608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Threat_Report_Phone_Change</targetReference>
        </connector>
        <fields>
            <name>PhoneHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Phone Change&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>uhsnkjdsbkj</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); user-select: auto;&quot;&gt;Please fill out the form below with your new Email and/or Phone information:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Prefered_Phone</name>
            <choiceReferences>PreferedPhone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Phone Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Make_this_my_preferred_phone</name>
            <dataType>Boolean</dataType>
            <fieldText>Make this my preferred phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(23, 43, 77); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;(If available, a mobile phone is the recommended preferred phone type to be used as your primary contact. This will allow you the option of gaining access to the Member Portal by receiving a security code via text. If you select another phone type as the preferred method, you will receive your security code via phone call.)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Toast1</name>
        <label>Show Toast</label>
        <locationX>2485</locationX>
        <locationY>1703</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_for_New_Bank_Account</targetReference>
        </connector>
        <fields>
            <name>Show_Toast2</name>
            <extensionName>c:showToast</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Success!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>New bank account created successfully.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>sticky</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thanks</name>
        <label>Thanks</label>
        <locationX>1683</locationX>
        <locationY>3095</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Personal_Update_Email</targetReference>
        </connector>
        <fields>
            <name>EndHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Request Submitted&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Thankmessage</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;Thank you for submitting your updated information. Please give the PFCC team 3-5 business days to validate these changes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Threat_Metrix_Score_Processing_Screen</name>
        <label>Threat Metrix Score Processing Screen</label>
        <locationX>1785</locationX>
        <locationY>1164</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>One_Time_Password_Screen_0</targetReference>
        </connector>
        <fields>
            <name>EndHeader_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Processing Request&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Log_Threat_Report_0</name>
            <extensionName>c:threatMetrixLogger</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>case</name>
                <value>
                    <elementReference>threatMetrixCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionId</name>
                <value>
                    <elementReference>threatMetrixSessionID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>threatMetrixScore</assignToReference>
                <name>threatMetrixScore</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>threatMetirxReportId</assignToReference>
                <name>threatReportId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>758</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Current_Contact_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BankSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bank Account closed by user&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Represents the Bank Account added and returned from the BankingInformation component.</description>
        <name>addedBankAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bnk_Bank__c</objectType>
    </variables>
    <variables>
        <name>AddressVerificationQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseIdNewBankAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentBankAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>bnk_Bank__c</objectType>
    </variables>
    <variables>
        <name>NewBankAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bnk_Bank__c</objectType>
    </variables>
    <variables>
        <name>rvCurrentContactValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>threatMetirxReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>threatMetrixCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>threatMetrixScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>threatMetrixSessionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TreasuryQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBankAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBankAccountType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBankName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBankType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Store Group ID variable</description>
        <name>vGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewLatitudeString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewLongitudeString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewPostal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewStreet2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewVerificationRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
