force-app/main/default/flows/Portal_Org_Info_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddressUpdate</name>
        <label>AddressUpdate</label>
        <locationX>562</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>Get_Organization.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCombinedStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Organization.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Organization.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Organization.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Organization.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Organization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone</name>
        <label>Assign Phone</label>
        <locationX>907</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>Get_Organization.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Organization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWebsite</name>
        <label>AssignWebsite</label>
        <locationX>739</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>Get_Organization.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Organization_Website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Organization</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>MailingAddressChange</name>
        <choiceText>Mailing Address Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mailing Address Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>PhoneChange</name>
        <choiceText>Phone Number Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone Number Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>WebsiteChange</name>
        <choiceText>Website Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website Change</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Active_Org</name>
        <label>Active Org</label>
        <locationX>561</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>AddressUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization.Participation_Plan_Agreement_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization.Participation_Plan_Agreement_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Info_to_Change</name>
        <label>Which Info to Change</label>
        <locationX>726</locationX>
        <locationY>225</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MailingAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Organization_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MailingAddressChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddressChange</targetReference>
            </connector>
            <label>MailingAddress</label>
        </rules>
        <rules>
            <name>Website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Organization_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WebsiteChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WebsiteInfo</targetReference>
            </connector>
            <label>Website</label>
        </rules>
        <rules>
            <name>Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Organization_Information_would_you_like_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PhoneChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PhoneChangeInfo</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
    </decisions>
    <formulas>
        <name>caseDescription</name>
        <dataType>String</dataType>
        <expression>&quot;As an HR Admin for&quot; &amp; {!Get_Organization.Name} &amp; &quot;I would like to request the Mailing Address to be changed to:&quot; &amp;
 BR() &amp;
&quot;Street: &quot; &amp; {!NewStreet}&amp;
BR() &amp;
&quot;City: &quot; &amp; {!NewCity}&amp;
BR()&amp;
&quot;State: &quot; &amp; {!NewState}&amp;
BR()&amp;
&quot;Postal Code: &quot; &amp; {!NewPostalCode} &amp;
BR()&amp;
&quot;Country: &quot; &amp; {!NewCountry}</expression>
    </formulas>
    <formulas>
        <name>NewCombinedStreet</name>
        <dataType>String</dataType>
        <expression>{!NewStreet} &amp; &quot; , &quot; &amp; {!NewStreet2}</expression>
    </formulas>
    <formulas>
        <name>vCurrentUserContact</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Portal Org Info Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal Org Info Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>410</locationX>
        <locationY>582</locationY>
        <connector>
            <targetReference>AddressUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Organization.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vCurrentUserContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please verify any steps that need to be taken given the recent organization address change.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Employer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Info Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Subcategory__c</field>
            <value>
                <stringValue>Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Address Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Organization</name>
        <label>Get Organization</label>
        <locationX>391</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>BillingLatitude</queriedFields>
        <queriedFields>BillingLongitude</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Participation_Plan_Agreement_Active__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>622</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Information_to_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online_Transactions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserContact</name>
        <label>GetUserContact</label>
        <locationX>501</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCurrentUserContact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Organization</name>
        <label>Update Organization</label>
        <locationX>747</locationX>
        <locationY>780</locationY>
        <connector>
            <targetReference>ThankYouScreen</targetReference>
        </connector>
        <inputReference>Get_Organization</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AddressChange</name>
        <label>AddressChange</label>
        <locationX>569</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Active_Org</targetReference>
        </connector>
        <fields>
            <name>MailingHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Organization Mailing Address Change&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressSearchHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(23, 43, 77);&quot;&gt;Please fill out the form below to update the Organization mailing address:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressInfo</name>
            <extensionName>c:addressSearchFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Organization.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Organization.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Organization.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>Get_Organization.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Organization.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verificationReq</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewLatitude</assignToReference>
                <name>lat</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewLongitude</assignToReference>
                <name>lng</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewState</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewStreet2</assignToReference>
                <name>street2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewAddressVerification</assignToReference>
                <name>verificationReq</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Information_to_Update</name>
        <label>Choose Information to Update</label>
        <locationX>735</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Info_to_Change</targetReference>
        </connector>
        <fields>
            <name>OrgInfoHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Organization Information Update&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_Organization_Information_would_you_like_to_update</name>
            <choiceReferences>MailingAddressChange</choiceReferences>
            <choiceReferences>WebsiteChange</choiceReferences>
            <choiceReferences>PhoneChange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Organization Information would you like to update?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PhoneChangeInfo</name>
        <label>PhoneChangeInfo</label>
        <locationX>909</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Phone</targetReference>
        </connector>
        <fields>
            <name>PhoneHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Organization Phone Change&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrganziationPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewPhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThankYouScreen</name>
        <label>ThankYouScreen</label>
        <locationX>747</locationX>
        <locationY>939</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RequestSubmitted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Confirmation﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Thank you for submitting your updated information. Your account is now up to date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WebsiteInfo</name>
        <label>WebsiteInfo</label>
        <locationX>735</locationX>
        <locationY>457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignWebsite</targetReference>
        </connector>
        <fields>
            <name>WebsiteHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Website Change&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Organization_Website</name>
            <dataType>String</dataType>
            <fieldText>Organization Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirm_Website</name>
            <dataType>String</dataType>
            <fieldText>Confirm Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Website does not match&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Confirm_Website}= {!Organization_Website}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Organization</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewAddressVerification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewStreet2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
