force-app/main/default/flows/RMD_record_creation_updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Blank_State_Withholding_Status</name>
        <label>Blank State Withholding Status</label>
        <locationX>160</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_values_from_Metadata1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_State_Withholding_Status1</name>
        <label>Blank State Withholding Status</label>
        <locationX>864</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_values_from_Metadata3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Amount_fields</name>
        <label>Clear Amount fields</label>
        <locationX>292</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Override_State_Tax_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Subject_to_Federal_Withholding_FALSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>State fields will be cleared except Additional state tax to withhold and Designated State Tax Amount which will be pulled from previous year</description>
        <name>Clear_Fields</name>
        <label>Clear Fields</label>
        <locationX>182</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_RMD_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>State fields will be cleared except Additional state tax to withhold and Designated State Tax Amount which will be pulled from previous year</description>
        <name>Clear_State_Fields</name>
        <label>Clear State Fields</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.Designated_State_Tax_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.State_Additional_Withholdings__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>State fields will be cleared except Additional state tax to withhold and Designated State Tax Amount which will be pulled from previous year</description>
        <name>Clear_State_Tax_fields</name>
        <label>Clear State Tax fields</label>
        <locationX>314</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_Year_values1</name>
        <label>Previous Year values</label>
        <locationX>435</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.Distribution_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.Distribution_Option__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Single_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.Single_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>State_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pro_Rata1</name>
        <label>Pro Rata</label>
        <locationX>699</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.Distribution_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pro Rata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Single_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>State_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pull_Amount_fields_from_Previous_Year</name>
        <label>Pull Amount fields from Previous Year</label>
        <locationX>996</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.Designated_State_Tax_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.State_Additional_Withholdings__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Subject_to_Federal_Withholding_FALSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Federal_State_Percentage1</name>
        <label>Set Federal/State Percentage</label>
        <locationX>699</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Federal_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status.RMD_State_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Distribution_Option_on_Previous_Year_RMD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subject_to_State_to_FALSE</name>
        <label>Set Subject to State to FALSE</label>
        <locationX>50</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_State_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_State_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_from_Metadata</name>
        <label>Set values from Metadata</label>
        <locationX>424</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status.Default_Withholding_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status.Default_Number_of_Allowances__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_values_from_Metadata1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_from_Metadata1</name>
        <label>Set values from Metadata</label>
        <locationX>292</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_State_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status.Subject_to_RMD_State_Tax_Rules__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status.RMD_State_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Amount_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_from_Metadata2</name>
        <label>Set values from Metadata</label>
        <locationX>1128</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status.Default_Withholding_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status.Default_Number_of_Allowances__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_values_from_Metadata3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_from_Metadata3</name>
        <label>Set values from Metadata</label>
        <locationX>996</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_State_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status.Subject_to_RMD_State_Tax_Rules__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status.RMD_State_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pull_Amount_fields_from_Previous_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_from_Previous_Year</name>
        <label>Set values from Previous Year</label>
        <locationX>435</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.BAA_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.BAA_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Check_ACH_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.Check_ACH_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Estimated_Federal_Tax_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.Estimated_Federal_Tax_Withholdings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Federal_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.Federal_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pension_Fund_BAA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.Pension_Fund_BAA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Remainder_BAA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.Remainder_BAA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Remainder_Check_ACH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.Remainder_Check_ACH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_Federal_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.Subject_to_Federal_Withholding__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Distribution_Option_on_Previous_Year_RMD</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Distribution_Option_on_Previous_Year_RMD</name>
        <label>Distribution Option on Previous Year RMD</label>
        <locationX>567</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Pro_Rata1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Year_RMD.Distribution_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Year_values1</targetReference>
            </connector>
            <label>Single Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Previous_Year_RMD</name>
        <label>Has Previous Year RMD?</label>
        <locationX>567</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_Federal_State_Percentage1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Year_RMD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_values_from_Previous_Year</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Default_Withholding_Status_is_Blank</name>
        <label>Is Default Withholding Status is Blank</label>
        <locationX>292</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Set_values_from_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Tax_Status.Default_Withholding_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_State_Tax_Status.Default_Number_of_Allowances__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_State_Withholding_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Default_Withholding_Status_is_Blank2</name>
        <label>Is Default Withholding Status is Blank</label>
        <locationX>996</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Set_values_from_Metadata2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Tax_Status.Default_Withholding_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_State_Tax_Status.Default_Number_of_Allowances__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_State_Withholding_Status1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Override_State_Tax_Automation_FALSE</name>
        <label>Is Override State Tax Automation FALSE</label>
        <locationX>182</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Clear_State_Tax_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Override_State_Tax_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subject_to_State_to_FALSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Override_State_Tax_TRUE</name>
        <label>Is Override State Tax TRUE</label>
        <locationX>842</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Is_Default_Withholding_Status_is_Blank2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Override_State_Tax_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Subject_to_Federal_Withholding_FALSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_State_IA_ME_NE_NC_OR_VT_KS_MA_DE</name>
        <label>Is State IA, ME, NE, NC, OR, VT, KS, MA, DE?</label>
        <locationX>380</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Update_RMD_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ME</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Override_State_Tax_Automation_FALSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Subject_to_Federal_Withholding_FALSE</name>
        <label>Is Subject to Federal Withholding FALSE</label>
        <locationX>567</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Update_RMD_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject_to_Federal_Withholding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_State_IA_ME_NE_NC_OR_VT_KS_MA_DE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>State_Change</name>
        <label>State Change</label>
        <locationX>567</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Is_Override_State_Tax_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Previous_Year_RMD.State_Abbreviation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Default_Withholding_Status_is_Blank</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Replicating the elements beneath State Change from RMD Record Updates flow</description>
    <environments>Default</environments>
    <interviewLabel>RMD record creation updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product RMD Carryover Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Previous_Year_RMD</name>
        <label>Get Previous Year RMD</label>
        <locationX>567</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_State_Tax_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tax_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Previous_Tax_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pay_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pay_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RMD_Account_Type__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_State_Tax_Status</name>
        <label>Get State Tax Status</label>
        <locationX>567</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Previous_Year_RMD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State_Abbreviation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State_Abbreviation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>State_Tax_Status__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RMD_record</name>
        <label>Update RMD record</label>
        <locationX>567</locationX>
        <locationY>2939</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>441</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Previous_Year_RMD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RMD_Account_Type__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
