force-app/main/default/flows/RMD_Record_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Blank_State_Withholding_Status</name>
        <label>Blank State Withholding Status</label>
        <locationX>94</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_values_from_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_State_Withholding_Status1</name>
        <label>Blank State Withholding Status</label>
        <locationX>798</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_values_from_Metadata1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Amount_fields</name>
        <label>Clear Amount fields</label>
        <locationX>226</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Override_State_Tax_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Subject_to_Federal_Withholding_FALSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_State_Fields</name>
        <label>Clear State Fields</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RMD_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_values_from_Metadata</name>
        <label>Set values from Metadata</label>
        <locationX>358</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_metadata.Default_Withholding_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_metadata.Default_Number_of_Allowances__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_values_from_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pull_Amount_fields_from_Previous_Year</name>
        <label>Pull Amount fields from Previous Year</label>
        <locationX>930</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.Designated_State_Tax_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD.State_Additional_Withholdings__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Subject_to_Federal_Withholding_FALSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subject_to_State_to_FALSE</name>
        <label>Set Subject to State to FALSE</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_State_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_State_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_from_Metadata</name>
        <label>Set values from Metadata</label>
        <locationX>226</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_State_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_metadata.Subject_to_RMD_State_Tax_Rules__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_metadata.RMD_State_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Amount_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_from_Metadata1</name>
        <label>Set values from Metadata</label>
        <locationX>930</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_State_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_metadata.Subject_to_RMD_State_Tax_Rules__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_metadata.RMD_State_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pull_Amount_fields_from_Previous_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_from_Metadata2</name>
        <label>Set values from Metadata</label>
        <locationX>1062</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_metadata.Default_Withholding_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_metadata.Default_Number_of_Allowances__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_values_from_Metadata1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_State_Changed</name>
        <label>Has State Changed?</label>
        <locationX>501</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Override_State_Tax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.State_Abbreviation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Default_Withholding_Status_is_Blank</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Default_Withholding_Status_is_Blank</name>
        <label>Is Default Withholding Status is Blank</label>
        <locationX>226</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_values_from_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Tax_metadata.Default_Withholding_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_State_Tax_metadata.Default_Number_of_Allowances__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_State_Withholding_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Default_Withholding_Status_is_Blank2</name>
        <label>Is Default Withholding Status is Blank</label>
        <locationX>930</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Set_values_from_Metadata2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Tax_metadata.Default_Withholding_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_State_Tax_metadata.Default_Number_of_Allowances__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_State_Withholding_Status1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Override_State_Tax_Automation</name>
        <label>Is Override State Tax Automation FALSE</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Update_RMD_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Override_State_Tax_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subject_to_State_to_FALSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_State_IA_ME_NE_NC_OR_VT_KS_MA_DE</name>
        <label>Is State IA, ME, NE, NC, OR, VT, KS, MA, DE?</label>
        <locationX>336</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Update_RMD_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ME</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Override_State_Tax_Automation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Subject_to_Federal_Withholding_FALSE</name>
        <label>Is Subject to Federal Withholding FALSE</label>
        <locationX>501</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Update_RMD_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject_to_Federal_Withholding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_State_IA_ME_NE_NC_OR_VT_KS_MA_DE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Override_State_Tax</name>
        <label>Is Override State Tax TRUE</label>
        <locationX>776</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Is_Default_Withholding_Status_is_Blank2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Override_State_Tax_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Subject_to_Federal_Withholding_FALSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Adding Designated State Tax Amount and Additional State Tax to withhold to clear along with state fields</description>
    <environments>Default</environments>
    <interviewLabel>RMD Record Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RMD Record Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Previous_Year_RMD</name>
        <label>Get Previous Year RMD</label>
        <locationX>501</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_State_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tax_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Previous_Tax_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pay_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pay_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RMD_Account_Type__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_State_Tax_metadata</name>
        <label>Get State Tax metadata</label>
        <locationX>501</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_Year_RMD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State_Abbreviation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State_Abbreviation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>State_Tax_Status__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RMD_record</name>
        <label>Update RMD record</label>
        <locationX>501</locationX>
        <locationY>2471</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_State_Tax_metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RMD_Account_Type__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
