force-app/main/default/flows/RMD_State_Tax_Calculations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_from_Previous_Year_RMD</name>
        <label>Assign from Previous Year RMD</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_Federal_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Subject_to_Federal_Withholding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Federal_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Federal_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Estimated_Federal_Tax_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Estimated_Federal_Tax_Withholdings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Distribution_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Distribution_Option__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Single_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Single_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Check_ACH_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Check_ACH_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Remainder_Check_ACH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Remainder_Check_ACH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BAA_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.BAA_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Remainder_BAA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Remainder_BAA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pension_Fund_BAA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Pension_Fund_BAA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RMD_Tax_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Metadata</name>
        <label>Assign Metadata</label>
        <locationX>1656</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.Default_Withholding_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.Default_Number_of_Allowances__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>State_Tax_Withholding_to_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Metadata_defaults_0_0</name>
        <label>Assign Metadata defaults</label>
        <locationX>754</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Tax_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.RMD_State_Tax_Opt_out_permitted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.Default_Number_of_Allowances__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.RMD_State_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_State_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.Subject_to_RMD_State_Tax_Rules__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.Default_Withholding_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Previous_Year_Data_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Previous_Year_Data_0_0</name>
        <label>Assign Previous Year Data</label>
        <locationX>754</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.State_Additional_Withholdings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Designated_State_Tax_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RMD_Account_Type_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Previous_Year_State_Tax_Data_0_0</name>
        <label>Assign Previous Year State Tax Data</label>
        <locationX>490</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_State_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Subject_to_State_Withholding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.State_Withholding_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Number_of_Allowances__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Tax_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.State_Tax_Opt_Out__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.State_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.State_Additional_Withholdings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Designated_State_Tax_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Override_State_Tax_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Year_RMD_0.Override_State_Tax_Automation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RMD_Account_Type_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Additional_State_Tax_to_Withhold_and_Designated_State_Amount</name>
        <label>Clear Additional State Tax to Withhold and Designated State Amount</label>
        <locationX>1018</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Override_State_Tax_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Override_State_Tax_TRUE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When there is a state change, Additional State Tax to Withholding and Designated State Tax Amount will be cleared to $0</description>
        <name>Clear_Additional_State_Tax_to_Withholding_and_Designated_State_Tax_Amount_0</name>
        <label>Clear Additional State Tax to Withholding and Designated State Tax Amount</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Override_State_Tax_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RMD_Account_Type_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_State_Withholding_Status_and_Number_of_Allowance</name>
        <label>Clear State Withholding Status and Number of Allowance</label>
        <locationX>1392</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>State_Tax_Withholding_to_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Federal_Percentage</name>
        <label>Default Federal Percentage</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Federal_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.RMD_State_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RMD_Tax_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Federal_Percent_to_Zero</name>
        <label>Federal Percent to Zero</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Federal_Percentage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Estimated_Federal_Tax_Withholdings__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>RMD_Tax_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Federal_Percent_to_Zero_0</name>
        <label>Federal Percent to Zero</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Federal_Percentage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Estimated_Federal_Tax_Withholdings__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>RMD_Tax_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Metadata_Defaults_0</name>
        <label>Metadata Defaults</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_State_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.Subject_to_RMD_State_Tax_Rules__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.Default_Withholding_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.Default_Number_of_Allowances__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Tax_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.RMD_State_Tax_Opt_out_permitted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.RMD_State_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Additional_State_Tax_to_Withholding_and_Designated_State_Tax_Amount_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>State_Tax_Withholding_to_True</name>
        <label>State Tax Withholding to True</label>
        <locationX>1524</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_State_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.Subject_to_RMD_State_Tax_Rules__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.RMD_State_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Tax_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Tax_Status_0.RMD_State_Tax_Opt_out_permitted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RMD_Account_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tax_withholding_to_False_0</name>
        <label>Tax withholding to False</label>
        <locationX>2338</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject_to_State_Withholding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Withholding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Allowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.State_Additional_Withholdings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Designated_State_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RMD_Account_Type_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Null</name>
        <dataType>Number</dataType>
    </constants>
    <decisions>
        <name>Has_Previous_RMD</name>
        <label>Has Previous RMD</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Default_Federal_Percentage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasPreviousYear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Year_RMD_0.Subject_to_Federal_Withholding__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_from_Previous_Year_RMD</targetReference>
            </connector>
            <label>HasPreviousYear</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_State_Changed</name>
        <label>Has State Changed</label>
        <locationX>402</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Is_Override_State_Tax_Automation_TRUE_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Previous_Year_RMD_0.State_Abbreviation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Subject_to_Federal_is_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Override_State_Tax_Automation_TRUE_0_0</name>
        <label>Is Override State Tax Automation TRUE</label>
        <locationX>622</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Assign_Metadata_defaults_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Override_State_Tax_Automation_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Year_RMD_0.Override_State_Tax_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Previous_Year_State_Tax_Data_0_0</targetReference>
            </connector>
            <label>Has Override State Tax Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Override_State_Tax_TRUE</name>
        <label>Is Override State Tax TRUE?</label>
        <locationX>1370</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>State_Withholding_Status_Number_of_allowance_Blank_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Override State Tax is FALSE</defaultConnectorLabel>
        <rules>
            <name>Override_State_Tax_is_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Override_State_Tax_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RMD_Account_Type</targetReference>
            </connector>
            <label>Override State Tax is TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Subject_to_Federal_is_True</name>
        <label>is Subject to Federal is True?</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Clear_Additional_State_Tax_to_Withholding_and_Designated_State_Tax_Amount_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Year_RMD_0.Subject_to_Federal_Withholding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Metadata_Defaults_0</targetReference>
            </connector>
            <label>YesTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>RMD_Tax_Decisions</name>
        <label>RMD Tax Decisions</label>
        <locationX>1370</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Tax_withholding_to_False_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Year_RMD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Year_RMD_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_State_Changed</targetReference>
            </connector>
            <label>Previous Year RMD</label>
        </rules>
        <rules>
            <name>State_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.State_Abbreviation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Additional_State_Tax_to_Withhold_and_Designated_State_Amount</targetReference>
            </connector>
            <label>State Change</label>
        </rules>
        <rules>
            <name>RMD_State_Tax_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.Subject_to_RMD_State_Tax_Rules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.RMD_State_Tax_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject_to_State_Withholding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Override_State_Tax_TRUE</targetReference>
            </connector>
            <label>RMD State Tax Required</label>
        </rules>
        <rules>
            <name>RMD_Determines_State_Withholding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.RMD_DOB_Determines_State_Tax__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.Birthdate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_State_Tax_Status_0.RMD_DOB_Minimum__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Override_State_Tax_TRUE</targetReference>
            </connector>
            <label>DOB determines RMD State Withholding</label>
        </rules>
        <rules>
            <name>Update_State_to_Match_Federal</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR (1 AND 2 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.Subject_to_RMD_State_Tax_Rules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.RMD_State_Tax_Dependent_on_Federal_Tax__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.RMD_State_Tax_Opt_out_permitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject_to_Federal_Withholding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.RMD_State_Tax_Opt_out_permitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Tax_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Override_State_Tax_TRUE</targetReference>
            </connector>
            <label>Update State to Match Federal</label>
        </rules>
        <rules>
            <name>State_Opt_Out_Permitted_and_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.Subject_to_RMD_State_Tax_Rules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.RMD_State_Tax_Opt_out_permitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Tax_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.RMD_State_Tax_Dependent_on_Federal_Tax__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Override_State_Tax_TRUE</targetReference>
            </connector>
            <label>State Opt Out Permitted and False</label>
        </rules>
        <rules>
            <name>State_Change_and_RMD_State_Tax_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.Subject_to_RMD_State_Tax_Rules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.RMD_State_Tax_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject_to_State_Withholding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.State_Abbreviation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Override_State_Tax_TRUE</targetReference>
            </connector>
            <label>State Change and RMD State Tax Required</label>
        </rules>
        <rules>
            <name>RMD_Updates_without_State_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State_Abbreviation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.State_Abbreviation__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Override_State_Tax_TRUE</targetReference>
            </connector>
            <label>RMD Updates without State Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>State_Withholding_Status_Number_of_allowance_Blank_Check</name>
        <label>State Withholding Status_Number of allowance Blank Check</label>
        <locationX>1524</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Assign_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.Default_Number_of_Allowances__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_State_Tax_Status_0.Default_Withholding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Clear_State_Withholding_Status_and_Number_of_Allowance</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subject_to_Federal</name>
        <label>Subject to Federal</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>RMD_Tax_Decisions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subject_to_Federal_Changed_to_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Subject_to_Federal_Withholding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject_to_Federal_Withholding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Federal_Percent_to_Zero</targetReference>
            </connector>
            <label>Subject to Federal Changed to False</label>
        </rules>
        <rules>
            <name>Subject_to_Federal_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject_to_Federal_Withholding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Federal_Percentage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Previous_RMD</targetReference>
            </connector>
            <label>Subject to Federal True</label>
        </rules>
        <rules>
            <name>Subject_to_Federal_False_to_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Subject_to_Federal_Withholding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject_to_Federal_Withholding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Federal_Percent_to_Zero_0</targetReference>
            </connector>
            <label>Subject to Federal False to False</label>
        </rules>
    </decisions>
    <description>Adding few checks to accommodate blank values for State Withholding status and number of allowance</description>
    <environments>Default</environments>
    <formulas>
        <description>Execute only when the record is new</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NullNumber</name>
        <dataType>Number</dataType>
        <expression>NULL</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>RMD State Tax Calculations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RMD State Tax Calculations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Previous_Year_RMD_0</name>
        <label>Get Previous Year RMD</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subject_to_Federal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tax_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Previous_Tax_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pay_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pay_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RMD_Account_Type__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_State_Tax_Status_0</name>
        <label>Get State Tax Status</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_Year_RMD_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State_Abbreviation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State_Abbreviation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>State_Tax_Status__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RMD_Account_Type</name>
        <label>Update RMD Account Type</label>
        <locationX>1370</locationX>
        <locationY>2639</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RMD_Account_Type_0</name>
        <label>Update RMD Account Type</label>
        <locationX>2338</locationX>
        <locationY>1247</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RMD_Account_Type_0_0</name>
        <label>Update RMD Account Type</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RMD_Account_Type_0_0_0</name>
        <label>Update RMD Account Type</label>
        <locationX>490</locationX>
        <locationY>1463</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RMD_Account_Type_0_0_0_0</name>
        <label>Update RMD Account Type</label>
        <locationX>754</locationX>
        <locationY>1571</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_State_Tax_Status_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RMD_Account_Type__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>PreviousFederalPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PreviousYearStatePercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PreviousYearSubjectToFederal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
