force-app/main/default/flows/Self_Enrollment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_on_Finish</name>
        <label>Redirect on Finish</label>
        <locationX>1577</locationX>
        <locationY>3463</locationY>
        <actionName>c:FlowRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>/submitted-enrollments</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_BAA_Enrollment_Form</name>
        <label>Assign BAA Enrollment Form</label>
        <locationX>637</locationX>
        <locationY>701</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BAA_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BAA_Verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Backup_Withholding_BAA</name>
        <label>Assign Backup Withholding</label>
        <locationX>652</locationX>
        <locationY>2383</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Certification_and_Signature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BAA_Backup_Withholding_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Certification_and_Signature_Stage</name>
        <label>Assign Certification and Signature Stage</label>
        <locationX>2701</locationX>
        <locationY>2272</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Certification_and_Signature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Certification_and_Signature_TDRA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Certification_and_Signature_Stage_IRA</name>
        <label>Assign Certification and Signature Stage</label>
        <locationX>1886</locationX>
        <locationY>2651</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Certification_and_Signature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Certification_and_Signature_IRA_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contribution_Information_Stage_IRA_1</name>
        <label>Assign Contribution Information Stage</label>
        <locationX>1811</locationX>
        <locationY>1680</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contribution_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IRA_Contribution_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contribution_Information_Stage_IRA_2</name>
        <label>Assign Contribution Information Stage</label>
        <locationX>2199</locationX>
        <locationY>2013</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contribution_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IRA_Bank_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_Enrollment_values</name>
        <label>Assign default Enrollment values</label>
        <locationX>847</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0123o000001co3mAAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_CommunityUserID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_CommunityContact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Community_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_CommunityContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BAA_Personal_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Form_Group_Members</name>
        <label>Assign Form Group Members</label>
        <locationX>1158</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>EmployerSponsoredFormNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PensionPlan_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployerSponsoredFormNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TDRA_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualProductFormNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BAA_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualProductFormNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TraditionalIRA_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualProductFormNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RothIRA_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_default_Enrollment_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Form_Group_Members_0</name>
        <label>Assign Form Group Members</label>
        <locationX>326</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>EmployerSponsoredFormNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>PensionPlan_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployerSponsoredFormNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>TDRA_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualProductFormNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>BAA_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualProductFormNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>TraditionalIRA_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualProductFormNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RothIRA_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Form_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Minister_Employer</name>
        <label>Assign Minister Employer</label>
        <locationX>3905</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PP_Minister_and_Employer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pension_Plan_Enrollment_Form</name>
        <label>Assign PP Enrollment Form</label>
        <locationX>3341</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PensionPlan_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PP_Minister_and_Employer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Personal_Info_Stage_IRA_1</name>
        <label>Assign Personal Info Stage</label>
        <locationX>1649</locationX>
        <locationY>1349</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Information</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Personal_Info_Stage_IRA_2</name>
        <label>Assign Personal Info Stage</label>
        <locationX>1736</locationX>
        <locationY>1450</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Information</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Personal_Info_Stage_TDRA</name>
        <label>Assign Personal Info Stage</label>
        <locationX>2575</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Information</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Personal_Info_Stage_TDRA_1</name>
        <label>Assign Personal Info Stage</label>
        <locationX>2713</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Information</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Personal_Info_Stage_TDRA_2</name>
        <label>Assign Personal Info Stage</label>
        <locationX>2938</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Minister_and_employer_TDRA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Personal_Information_Stage</name>
        <label>Assign Personal Information Stage</label>
        <locationX>3593</locationX>
        <locationY>999</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PP_Minister_and_Employer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Roth_Type</name>
        <label>Assign Roth Type</label>
        <locationX>1266</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RothIRA_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IRAHeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RothIRAHeader</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IRADescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RothIRADescritption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.IRA_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Roth</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Contribution_Info_IRA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TDRA_Enrollment_Form</name>
        <label>Assign TDRA Enrollment Form</label>
        <locationX>2406</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tax-Deferred 403(b) Retirement Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Minister_and_employer_TDRA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Traditional_Type</name>
        <label>Assign Traditional Type</label>
        <locationX>1515</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TraditionalIRA_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IRAHeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TraditionalIRAHeader</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IRADescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TraditionalIRADescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.IRA_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Traditional</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Contribution_Info_IRA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Certification_and_Signature_Assignment</name>
        <label>Certification and Signature Assignment</label>
        <locationX>4108</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Certification_and_Signature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PP_Certification_and_Signature</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Enrollment_form</name>
        <label>Close Enrollment form</label>
        <locationX>135</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>CurrentEnrollmentForm.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed By User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>deleteCurrentenrollform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contribution_Information_Assignment</name>
        <label>Contribution Information Assignment</label>
        <locationX>3937</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contribution_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PP_Member_Dues_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RothHeader</name>
        <label>RothHeader</label>
        <locationX>1769</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>IRAHeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RothIRAHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_a_continued_enrollment_IRA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Continue_enrollment_to_True</name>
        <label>Set Continue enrollment to True</label>
        <locationX>1636</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>Continueenrollment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Continue_Enrollment_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Certification_and_Signature_PP</name>
        <label>Stage Certification and Signature</label>
        <locationX>3349</locationX>
        <locationY>1845</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Certification_and_Signature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PP_Certification_and_Signature</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Certification_and_Signature_RothIRA</name>
        <label>Stage Certification and Signature</label>
        <locationX>1518</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Certification_and_Signature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Certification_and_Signature_IRA_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Certification_and_Signature_TDRA</name>
        <label>Stage Certification and Signature</label>
        <locationX>2384</locationX>
        <locationY>2116</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Certification_and_Signature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Certification_and_Signature_TDRA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Contribution_Info_IRA</name>
        <label>Stage Contribution Info</label>
        <locationX>1540</locationX>
        <locationY>1685</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contribution_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IRA_Contribution_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Contribution_Information_BAA</name>
        <label>Stage Contribution Information</label>
        <locationX>651</locationX>
        <locationY>1527</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contribution_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BAA_Contribution_Information_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Contribution_Information_BAA_1</name>
        <label>Stage Contribution Information</label>
        <locationX>915</locationX>
        <locationY>1914</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contribution_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Bank_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Contribution_Information_PP</name>
        <label>Stage Contribution Information</label>
        <locationX>3158</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contribution_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PP_Member_Dues_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Contribution_Information_TDRA</name>
        <label>Stage Contribution Information</label>
        <locationX>2438</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contribution_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Salary_reduction_subflow_TDRA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Contribution_Information_TDRA_1</name>
        <label>Stage Contribution Information</label>
        <locationX>2633</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contribution_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Salary_reduction_subflow_TDRA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_is_Backup_Withholding</name>
        <label>Stage is Backup Withholding</label>
        <locationX>1089</locationX>
        <locationY>2465</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Backup_Withholding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BAA_Backup_Withholding_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_is_Certification</name>
        <label>Stage is Certification</label>
        <locationX>978</locationX>
        <locationY>2751</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Certification_and_Signature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BAA_Backup_Withholding_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_is_Contribution_1</name>
        <label>Stage is Contribution</label>
        <locationX>845</locationX>
        <locationY>1611</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contribution_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BAA_Contribution_Information_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Personal_Information_BAA</name>
        <label>Stage Personal Information</label>
        <locationX>968</locationX>
        <locationY>976</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BAA_Verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TraditionalHeader</name>
        <label>TraditionalHeader</label>
        <locationX>2175</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>IRAHeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TraditionalIRAHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_a_continued_enrollment_IRA</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BAA_Automatic_Debit</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Automatic debit (ACH) from my bank account &lt;I&gt;(complete the bank information below)&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Automatic Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>BAA_BackupWithholding</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;I have been notified by the IRS that I am currently subject to backup withholding because I failed to report all interest and dividends on my tax return.&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Backup Withholding</stringValue>
        </value>
    </choices>
    <choices>
        <name>BAA_NoBackupWithholding</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;I am not subject to backup withholding because I am exempt from backup withholding, or I have not been notified by the Internal Revenue Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or the IRS has notified me that I am no longer subject to backup withholding.&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Backup Withholding</stringValue>
        </value>
    </choices>
    <choices>
        <name>BAA_OneTimeDebit</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;one-time debit (ACH) from my bank account &lt;I&gt;(complete the bank information below)&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One-Time Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>BAA_Payroll_Deduction</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;payroll deduction from my employer &lt;I&gt;(unless made by employer check, complete Employer Authorization Agreement for One-Time Debit (ACH))&lt;/I&gt;&lt;FONT FACE=&quot;Arial&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payroll Deduction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chap</name>
        <choiceText>Chap.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chap.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Check</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;check &lt;I&gt;(including checks sent by or through your bank)&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Check</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContingentBeneficiaryChoice</name>
        <choiceText>Contingent Beneficiary Choice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contingent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dr</name>
        <choiceText>Dr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F</stringValue>
        </value>
    </choices>
    <choices>
        <name>IRA_Owner</name>
        <choiceText>IRA Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IRA Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <choices>
        <name>Member</name>
        <choiceText>Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Member</stringValue>
        </value>
    </choices>
    <choices>
        <name>Miss</name>
        <choiceText>Miss</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Miss</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mrs.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ms.</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PrimaryBeneficiaryChoice</name>
        <choiceText>PrimaryBeneficiaryChoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Primary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rev</name>
        <choiceText>Rev.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rev.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spouse_Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spouse_Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spouse_of_member_IRA_owner</name>
        <choiceText>Spouse of member/IRA owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spouse of member/IRA owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surviving_spouse_of_member_IRA_owner</name>
        <choiceText>Surviving spouse of member/IRA owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surviving spouse of member/IRA owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>X15thOfMonth</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;15th Of Month&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15th</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1stOfMonth</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1st Of Month&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1st</stringValue>
        </value>
    </choices>
    <constants>
        <name>TDRA_Thank_you</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TDRA 403(b)/Roth 403(b)</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Banking_Details_Required</name>
        <label>Banking Details Required</label>
        <locationX>625</locationX>
        <locationY>1972</locationY>
        <defaultConnector>
            <targetReference>Assign_Backup_Withholding_BAA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BAA_Bank_Details_Required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Single_Sum_Contribution_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time Debit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BAA_Automatic_Debit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Single_Sum_Contribution_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring Debit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Bank_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_Enrollment</name>
        <label>Continue Enrollment?</label>
        <locationX>1342</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Assign_Form_Group_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputEnrollmentForm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Continue_enrollment_to_True</targetReference>
            </connector>
            <label>Yes Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_continued_enrollment</name>
        <label>Is this a continued enrollment?</label>
        <locationX>1129</locationX>
        <locationY>941</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Personal_Information_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionPersonalInformation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BAA_Verification</targetReference>
            </connector>
            <label>Personal Information Continue</label>
        </rules>
        <rules>
            <name>Address_Information_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionAddressInformation</elementReference>
                </rightValue>
            </conditions>
            <label>Address Information Continue</label>
        </rules>
        <rules>
            <name>Relationship_Info_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionRelationshipInfo</elementReference>
                </rightValue>
            </conditions>
            <label>Relationship Info Continue</label>
        </rules>
        <rules>
            <name>Contribution_Information_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionContributionInformation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_is_Contribution_1</targetReference>
            </connector>
            <label>Contribution Information Continue</label>
        </rules>
        <rules>
            <name>Bank_Details_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bank Details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputEnrollmentForm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefit Accumulation Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Contribution_Information_BAA_1</targetReference>
            </connector>
            <label>Bank Details Continue</label>
        </rules>
        <rules>
            <name>Backup_Withholding_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backup Withholding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputEnrollmentForm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefit Accumulation Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_is_Backup_Withholding</targetReference>
            </connector>
            <label>Backup Withholding Continue</label>
        </rules>
        <rules>
            <name>Primary_Beneficiaries_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Beneficiaries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputEnrollmentForm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefit Accumulation Account</stringValue>
                </rightValue>
            </conditions>
            <label>Primary Beneficiaries Continue</label>
        </rules>
        <rules>
            <name>Contingent_Beneficiaries_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contingent Beneficiaries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputEnrollmentForm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefit Accumulation Account</stringValue>
                </rightValue>
            </conditions>
            <label>Contingent Beneficiaries Continue</label>
        </rules>
        <rules>
            <name>Certification_and_Signature_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification and Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputEnrollmentForm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefit Accumulation Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_is_Certification</targetReference>
            </connector>
            <label>Certification and Signature Continue</label>
        </rules>
        <rules>
            <name>Social_Number_BAA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionSocialNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Personal_Information_BAA</targetReference>
            </connector>
            <label>Social Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_continued_enrollment_IRA</name>
        <label>Is this a continued enrollment?</label>
        <locationX>2042</locationX>
        <locationY>857</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Personal_Information_IRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionPersonalInformation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Personal_Info_Stage_IRA_1</targetReference>
            </connector>
            <label>Personal Information</label>
        </rules>
        <rules>
            <name>Address_Information_IRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionAddressInformation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Personal_Info_Stage_IRA_2</targetReference>
            </connector>
            <label>Address Information</label>
        </rules>
        <rules>
            <name>Relationship_Info_IRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionRelationshipInfo</elementReference>
                </rightValue>
            </conditions>
            <label>Relationship Info</label>
        </rules>
        <rules>
            <name>Contribution_Information_IRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionContributionInformation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contribution_Information_Stage_IRA_1</targetReference>
            </connector>
            <label>Contribution Information</label>
        </rules>
        <rules>
            <name>Bank_Details_IRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionBankDetails</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contribution_Information_Stage_IRA_2</targetReference>
            </connector>
            <label>Bank Details</label>
        </rules>
        <rules>
            <name>Primary_Beneficiaries_IRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionPrimaryBeneficiaries</elementReference>
                </rightValue>
            </conditions>
            <label>Primary Beneficiaries</label>
        </rules>
        <rules>
            <name>Contingent_Beneficiaries_IRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Contingent Beneficiaries</label>
        </rules>
        <rules>
            <name>Certification_and_Signature_IRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionCertificationAndSignature</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Certification_and_Signature_Stage_IRA</targetReference>
            </connector>
            <label>Certification and Signature</label>
        </rules>
        <rules>
            <name>Social_Number_IRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionSocialNumber</elementReference>
                </rightValue>
            </conditions>
            <label>Social Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_continued_enrollment_PP</name>
        <label>Is this a continued enrollment</label>
        <locationX>3845</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionPersonalInformation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Personal_Information_Stage</targetReference>
            </connector>
            <label>Personal Information</label>
        </rules>
        <rules>
            <name>Minister_and_Employer_PP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionMinisterAndEmployer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Minister_Employer</targetReference>
            </connector>
            <label>Minister and Employer PP</label>
        </rules>
        <rules>
            <name>Contribution_Information_PP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionContributionInformation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contribution_Information_Assignment</targetReference>
            </connector>
            <label>Contribution Information PP</label>
        </rules>
        <rules>
            <name>Sign_and_Certify_PP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionCertificationAndSignature</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certification_and_Signature_Assignment</targetReference>
            </connector>
            <label>Sign and Certify PP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_continued_enrollment_TDRA</name>
        <label>Is this a continued enrollment?</label>
        <locationX>3091</locationX>
        <locationY>429</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Personal_Information_TDRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionPersonalInformation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Personal_Info_Stage_TDRA</targetReference>
            </connector>
            <label>Personal Information</label>
        </rules>
        <rules>
            <name>Address_Information_TDRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionAddressInformation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Personal_Info_Stage_TDRA_1</targetReference>
            </connector>
            <label>Address Information</label>
        </rules>
        <rules>
            <name>Minister_and_Employer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionMinisterAndEmployer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Personal_Info_Stage_TDRA_2</targetReference>
            </connector>
            <label>Minister and Employer</label>
        </rules>
        <rules>
            <name>Contribution_Information_TDRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionContributionInformation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Contribution_Information_TDRA_1</targetReference>
            </connector>
            <label>Contribution Information</label>
        </rules>
        <rules>
            <name>Primary_Beneficiary_TDRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionPrimaryBeneficiaries</elementReference>
                </rightValue>
            </conditions>
            <label>Primary Beneficiary</label>
        </rules>
        <rules>
            <name>Contingent_Beneficiary_TDRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionContingentBeneficiaries</elementReference>
                </rightValue>
            </conditions>
            <label>Contingent Beneficiary</label>
        </rules>
        <rules>
            <name>Certification_and_Signature_TDRA_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Active_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveSectionCertificationAndSignature</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Certification_and_Signature_Stage</targetReference>
            </connector>
            <label>Certification and Signature</label>
        </rules>
    </decisions>
    <decisions>
        <name>RothIRA_Bank_Details_Required</name>
        <label>RothIRA Bank Details Required</label>
        <locationX>1534</locationX>
        <locationY>1969</locationY>
        <defaultConnector>
            <targetReference>Stage_Certification_and_Signature_RothIRA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RothIRA_Yes</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Recurring_Contribution_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Recurring_Contribution_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Single_Sum_Contribution_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time Debit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IRA_Bank_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usresidentnooryes</name>
        <label>Usresident?</label>
        <locationX>630</locationX>
        <locationY>1146</locationY>
        <defaultConnector>
            <targetReference>Stage_Contribution_Information_BAA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoUSresident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>USresident</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorUsresident_screen</targetReference>
            </connector>
            <label>NoUSresident</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Form_Type</name>
        <label>What Form Type</label>
        <locationX>1583</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_BAA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefit Accumulation Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_a_continued_enrollment</targetReference>
            </connector>
            <label>Is BAA</label>
        </rules>
        <rules>
            <name>Is_Roth_IRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roth IRA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RothHeader</targetReference>
            </connector>
            <label>Is Roth IRA</label>
        </rules>
        <rules>
            <name>Is_TDRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax-Deferred 403(b) Retirement Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_a_continued_enrollment_TDRA</targetReference>
            </connector>
            <label>Is TDRA</label>
        </rules>
        <rules>
            <name>Is_Pension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PensionPlan_Account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_a_continued_enrollment_PP</targetReference>
            </connector>
            <label>Is Pension</label>
        </rules>
        <rules>
            <name>Is_Traditional_IRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEnrollmentForm.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Traditional IRA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TraditionalHeader</targetReference>
            </connector>
            <label>Is Traditional IRA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Form_Selected</name>
        <label>Which Form Selected?</label>
        <locationX>910</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>Form_Not_Supported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BAA_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedFormType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BAA_Account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BAA_Enrollment_Form</targetReference>
            </connector>
            <label>BAA Selected</label>
        </rules>
        <rules>
            <name>Roth_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedFormType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RothIRA_Account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Roth_Type</targetReference>
            </connector>
            <label>Roth Selected</label>
        </rules>
        <rules>
            <name>Traditional_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedFormType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TraditionalIRA_Account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Traditional_Type</targetReference>
            </connector>
            <label>Traditional Selected</label>
        </rules>
        <rules>
            <name>TDRA_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedFormType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TDRA_Account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TDRA_Enrollment_Form</targetReference>
            </connector>
            <label>TDRA Selected</label>
        </rules>
        <rules>
            <name>Pension_Plan_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedFormType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PensionPlan_Account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pension_Plan_Enrollment_Form</targetReference>
            </connector>
            <label>Pension Plan Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Enrollment_Salutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation__c</picklistField>
        <picklistObject>Enrollment_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EnrollmentFormSalutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation__c</picklistField>
        <picklistObject>Enrollment_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EnrollmentFormTitle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation__c</picklistField>
        <picklistObject>Enrollment_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Relationship_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>npe4__Type__c</picklistField>
        <picklistObject>npe4__Relationship__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>f_BackupWithholding</name>
        <dataType>String</dataType>
        <expression>&quot;Yes&quot;</expression>
    </formulas>
    <formulas>
        <name>f_CommunityContactID</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>f_CommunityUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.User_ID__c}</expression>
    </formulas>
    <formulas>
        <name>IraResourceBookLink</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!CurrentEnrollmentForm.Type__c}, &quot;Roth IRA&quot;), &quot;https://pensionfund.org/uploads/Roth-IRA-Owner-Resource-Book.pdf&quot;, &quot;https://pensionfund.org/uploads/Traditional-IRA-Owner-Resource-Book.pdf&quot;)</expression>
    </formulas>
    <formulas>
        <name>ResourceBookLink</name>
        <dataType>String</dataType>
        <expression>IF(
	ISPICKVAL({!CurrentEnrollmentForm.Type__c},&apos;Traditional IRA&apos;),
	&apos;https://pensionfund.org/uploads/Traditional-IRA-Owner-Resource-Book.pdf&apos;, 
	IF(
		ISPICKVAL({!CurrentEnrollmentForm.Type__c}, &apos;Roth IRA&apos;),
		&apos;https://pensionfund.org/uploads/Roth-IRA-Owner-Resource-Book.pdf&apos;, 
		IF(
			ISPICKVAL({!CurrentEnrollmentForm.Type__c}, &apos;Benefit Accumulation Account&apos;),
			&apos;https://pensionfund.org/uploads/BAA-Account-Holder-Resource-Book.pdf&apos;, 
			&apos;&apos;
		)
	)
)</expression>
    </formulas>
    <interviewLabel>Self Enrollment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Self Enrollment Flow Final w/Continue Enrollment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Community_Contact</name>
        <label>Find Community Contact</label>
        <locationX>1336</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Continue_Enrollment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_CommunityContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sov_CommunityContact</outputReference>
        <queriedFields>Title</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Social_Security_Number__c</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Home_Address_Street_1__c</queriedFields>
        <queriedFields>Home_Address_City__c</queriedFields>
        <queriedFields>Home_Address_State_Province__c</queriedFields>
        <queriedFields>Home_Address_Country__c</queriedFields>
        <queriedFields>Home_Address_Zip__c</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>OtherPhone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Bank_Debit_Frequency__c</queriedFields>
        <queriedFields>Debit_Bank_Name__c</queriedFields>
        <queriedFields>Debit_Account_Holder_Name__c</queriedFields>
        <queriedFields>Debit_Bank_Street__c</queriedFields>
        <queriedFields>Debit_Bank_Phone__c</queriedFields>
        <queriedFields>Debit_Bank_Country__c</queriedFields>
        <queriedFields>Debit_Bank_City__c</queriedFields>
        <queriedFields>Debit_Bank_State__c</queriedFields>
        <queriedFields>Debit_Bank_Zip__c</queriedFields>
        <queriedFields>Debit_Checking_Account__c</queriedFields>
        <queriedFields>Debit_Bank_Routing_ABA__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>Marital_Status__c</queriedFields>
        <queriedFields>MaskedSSN__c</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>Mailing_Address_Line_2__c</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>Home_Address_Street_2__c</queriedFields>
        <queriedFields>Address_Verification_Required__c</queriedFields>
        <queriedFields>Home_Address_Geolocation__Latitude__s</queriedFields>
        <queriedFields>Home_Address_Geolocation__Longitude__s</queriedFields>
        <queriedFields>SSN_Verification_Required__c</queriedFields>
        <queriedFields>npe01__WorkPhone__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Continue_Enrollment_Form</name>
        <label>Get Continue Enrollment Form</label>
        <locationX>1884</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Form_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputEnrollmentForm</elementReference>
            </value>
        </filters>
        <object>Enrollment_Form__c</object>
        <outputReference>CurrentEnrollmentForm</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Salutation__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Middle_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Applicant_is_a__c</queriedFields>
        <queriedFields>Social_Security_No_ITIN__c</queriedFields>
        <queriedFields>Birthdate__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Home_Address_Street_1__c</queriedFields>
        <queriedFields>Home_Address_City__c</queriedFields>
        <queriedFields>Home_Address_State_Province__c</queriedFields>
        <queriedFields>Home_Address_Country__c</queriedFields>
        <queriedFields>Home_Address_Zip__c</queriedFields>
        <queriedFields>Home_Phone__c</queriedFields>
        <queriedFields>Work_Phone__c</queriedFields>
        <queriedFields>Cell_Phone__c</queriedFields>
        <queriedFields>E_Mail_Address__c</queriedFields>
        <queriedFields>US_Citizen__c</queriedFields>
        <queriedFields>Country_of_Citizenship__c</queriedFields>
        <queriedFields>Required_Minimum_from_Traditional_IRA__c</queriedFields>
        <queriedFields>Required_Minimum_from_TDRA__c</queriedFields>
        <queriedFields>X100_monthly_Pension_Plan__c</queriedFields>
        <queriedFields>Dollars_to_my_Pension_Plan__c</queriedFields>
        <queriedFields>Pension_Plan_Percent__c</queriedFields>
        <queriedFields>Salary_Continuation_Death_Benefit__c</queriedFields>
        <queriedFields>Single_Sum_Contribution__c</queriedFields>
        <queriedFields>Single_Sum_Contribution_Type__c</queriedFields>
        <queriedFields>Recurring_Contributions_Start_Date__c</queriedFields>
        <queriedFields>Recurring_Contribution_Amount__c</queriedFields>
        <queriedFields>Recurring_Contribution_Type__c</queriedFields>
        <queriedFields>Recurring_Contributions_Date__c</queriedFields>
        <queriedFields>Bank_Name__c</queriedFields>
        <queriedFields>Bank_Account_Holder_Name__c</queriedFields>
        <queriedFields>Bank_Phone__c</queriedFields>
        <queriedFields>Bank_Street__c</queriedFields>
        <queriedFields>Bank_City__c</queriedFields>
        <queriedFields>Bank_State__c</queriedFields>
        <queriedFields>Bank_Country__c</queriedFields>
        <queriedFields>Bank_Zip__c</queriedFields>
        <queriedFields>Checking_Account_Num__c</queriedFields>
        <queriedFields>Bank_Routing_ABA__c</queriedFields>
        <queriedFields>Subject_to_Backup_Withholding__c</queriedFields>
        <queriedFields>Signature_Date__c</queriedFields>
        <queriedFields>Active_Section__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Allowstatusupdate</name>
        <label>Allowstatusupdate</label>
        <locationX>144</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Close_Enrollment_form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentEnrollmentForm.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Update_Allowed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Allowstatusupdate_0</name>
        <label>Allowstatusupdate</label>
        <locationX>148</locationX>
        <locationY>504</locationY>
        <connector>
            <targetReference>Assign_Form_Group_Members_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentEnrollmentForm.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Update_Allowed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>deleteCurrentenrollform</name>
        <label>deleteCurrentenrollform</label>
        <locationX>131</locationX>
        <locationY>689</locationY>
        <connector>
            <targetReference>Allowstatusupdate_0</targetReference>
        </connector>
        <inputReference>CurrentEnrollmentForm</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Sign_and_Certify_Date</name>
        <label>Stamp Sign and Certify Date</label>
        <locationX>1577</locationX>
        <locationY>3250</locationY>
        <connector>
            <targetReference>Redirect_on_Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentEnrollmentForm.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Signed_and_Certified__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_and_certified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Form__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorUsresident_screen</name>
        <label>ErrorUsresident screen</label>
        <locationX>377</locationX>
        <locationY>1027</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Allowstatusupdate</targetReference>
        </connector>
        <fields>
            <name>Form_header</name>
            <fieldText>&lt;p&gt;{!BAAHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_message_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: verdana;&quot;&gt;You must currently be a U.S. Resident to be eligible to enroll in this product.&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Form_Not_Supported</name>
        <label>Form Not Supported</label>
        <locationX>376</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Selected form type ({!SelectedFormType}) is not supported at the moment.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Selector_Screen</name>
        <label>Product Selector Screen</label>
        <locationX>426</locationX>
        <locationY>445</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Form_Selected</targetReference>
        </connector>
        <fields>
            <name>Please_choose_product</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please choose a product you want to enroll in:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmployerSponsoredGroup</name>
            <extensionName>c:enrollmentButtonGroups</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>formNames</name>
                <value>
                    <elementReference>EmployerSponsoredFormNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Employer-Sponsored</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedFormType</assignToReference>
                <name>selectedFormType</name>
            </outputParameters>
        </fields>
        <fields>
            <name>IndividualProductsGroup</name>
            <extensionName>c:enrollmentButtonGroups</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>formNames</name>
                <value>
                    <elementReference>IndividualProductFormNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Individual Product</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedFormType</assignToReference>
                <name>selectedFormType</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Address_Information</name>
        <isActive>false</isActive>
        <label>Address Information</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>Backup_Withholding</name>
        <isActive>false</isActive>
        <label>Backup Withholding</label>
        <stageOrder>35</stageOrder>
    </stages>
    <stages>
        <name>Banking_Details</name>
        <isActive>false</isActive>
        <label>Banking Details</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Certification_and_Signature</name>
        <isActive>true</isActive>
        <label>Certification and Signature</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Certification_Signature_and_Backup_Withholding</name>
        <isActive>false</isActive>
        <label>Certification, Signature, and Backup Withholding</label>
        <stageOrder>100</stageOrder>
    </stages>
    <stages>
        <name>Contribution_Information</name>
        <isActive>true</isActive>
        <label>Contribution Information</label>
        <stageOrder>25</stageOrder>
    </stages>
    <stages>
        <name>Personal_Information</name>
        <isActive>true</isActive>
        <label>Personal Information</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Relationship_Info</name>
        <isActive>false</isActive>
        <label>Relationship Info</label>
        <stageOrder>20</stageOrder>
    </stages>
    <start>
        <locationX>59</locationX>
        <locationY>90</locationY>
        <connector>
            <targetReference>Find_Community_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>BAA_Backup_Withholding_Subflow</name>
        <label>BAA Backup Withholding</label>
        <locationX>652</locationX>
        <locationY>2602</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <flowName>Backup_Withholding</flowName>
        <inputAssignments>
            <name>CertifyBody</name>
            <value>
                <elementReference>BAA_Certification_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>BAAHeader</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>BAA_Contribution_Information_Subflow</name>
        <label>BAA Contribution Information Subflow</label>
        <locationX>649</locationX>
        <locationY>1661</locationY>
        <connector>
            <targetReference>Banking_Details_Required</targetReference>
        </connector>
        <flowName>Contribution_Information_BAA_Subflow</flowName>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>BAAHeader</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>BAA_Personal_Information</name>
        <label>BAA Personal Information</label>
        <locationX>707</locationX>
        <locationY>427</locationY>
        <connector>
            <targetReference>Product_Selector_Screen</targetReference>
        </connector>
        <flowName>ApplicantInformationSubflow</flowName>
        <inputAssignments>
            <name>CommunityContact</name>
            <value>
                <elementReference>sov_CommunityContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>BAAHeader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NextStageName</name>
            <value>
                <stringValue>Address Information</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>BAA_Verification</name>
        <label>BAA Verification</label>
        <locationX>638</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Usresidentnooryes</targetReference>
        </connector>
        <flowName>BAA_Verification_subflows</flowName>
        <inputAssignments>
            <name>CommunityContact</name>
            <value>
                <elementReference>sov_CommunityContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormDescription</name>
            <value>
                <elementReference>BAADescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>BAAHeader</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>USresident</assignToReference>
            <name>Us_resident</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Certification_and_Signature_IRA_1</name>
        <label>Certification and Signature</label>
        <locationX>1441</locationX>
        <locationY>2625</locationY>
        <connector>
            <targetReference>Thank_You_Screen_RothIRA</targetReference>
        </connector>
        <flowName>Certification_and_Signature_Subflow</flowName>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>IRAHeader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TextToSign</name>
            <value>
                <elementReference>IRA_Certification_Text</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Certification_and_Signature_TDRA</name>
        <label>Certification and Signature</label>
        <locationX>2343</locationX>
        <locationY>2299</locationY>
        <connector>
            <targetReference>Thank_You_TDRA</targetReference>
        </connector>
        <flowName>Certification_and_Signature_Subflow</flowName>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>TDRAHeader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TextToSign</name>
            <value>
                <elementReference>TDRA_Certification_Text</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Collect_Bank_Details</name>
        <label>Collect Bank Details</label>
        <locationX>786</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Assign_Backup_Withholding_BAA</targetReference>
        </connector>
        <flowName>Bank_Details_Subflow</flowName>
        <inputAssignments>
            <name>BankAccountNum</name>
            <value>
                <elementReference>BankAccountNum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>BAAHeader</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BankAccountNum</assignToReference>
            <name>BankAccountNum</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>IRA_Bank_Details</name>
        <label>IRA Bank Details</label>
        <locationX>1755</locationX>
        <locationY>2191</locationY>
        <connector>
            <targetReference>Stage_Certification_and_Signature_RothIRA</targetReference>
        </connector>
        <flowName>Bank_Details_Subflow</flowName>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>IRAHeader</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>IRA_Contribution_Information</name>
        <label>IRA Contribution Information</label>
        <locationX>1543</locationX>
        <locationY>1841</locationY>
        <connector>
            <targetReference>RothIRA_Bank_Details_Required</targetReference>
        </connector>
        <flowName>Contribution_Information_IRA_Subflow</flowName>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>IRAHeader</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Minister_and_employer_TDRA</name>
        <label>Minister and employer</label>
        <locationX>2434</locationX>
        <locationY>1179</locationY>
        <connector>
            <targetReference>Stage_Contribution_Information_TDRA</targetReference>
        </connector>
        <flowName>Minister_and_employer_subflow</flowName>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>TDRAHeader</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PP_Certification_and_Signature</name>
        <label>PP Certification and Signature</label>
        <locationX>3349</locationX>
        <locationY>2007</locationY>
        <connector>
            <targetReference>PP_Thank_You</targetReference>
        </connector>
        <flowName>Certification_and_Signature_Subflow</flowName>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>PensionHeader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TextToSign</name>
            <value>
                <elementReference>PP_Certification_Text</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PP_Member_Dues_Information</name>
        <label>PP Member Dues Information</label>
        <locationX>3349</locationX>
        <locationY>1564</locationY>
        <connector>
            <targetReference>Stage_Certification_and_Signature_PP</targetReference>
        </connector>
        <flowName>Member_Dues_Information_Subflow</flowName>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>PensionHeader</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PP_Minister_and_Employer</name>
        <label>PP Minister and Employer</label>
        <locationX>3349</locationX>
        <locationY>1287</locationY>
        <connector>
            <targetReference>Stage_Contribution_Information_PP</targetReference>
        </connector>
        <flowName>Minister_and_employer_subflow</flowName>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>PensionHeader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vFormBody</name>
            <value>
                <elementReference>PensionPlanText</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PP_Thank_You</name>
        <label>PP Thank You</label>
        <locationX>3349</locationX>
        <locationY>2151</locationY>
        <connector>
            <targetReference>Stamp_Sign_and_Certify_Date</targetReference>
        </connector>
        <flowName>Thank_You_Screen_Subflow</flowName>
        <inputAssignments>
            <name>Account_Type</name>
            <value>
                <elementReference>PensionPlan_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContinueEnrollment</name>
            <value>
                <elementReference>Continueenrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Salary_reduction_subflow_TDRA</name>
        <label>Salary reduction subflow</label>
        <locationX>2438</locationX>
        <locationY>1562</locationY>
        <connector>
            <targetReference>Stage_Certification_and_Signature_TDRA</targetReference>
        </connector>
        <flowName>Salary_Reduction_Subflow</flowName>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormHeader</name>
            <value>
                <elementReference>TDRAHeader</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEnrollmentForm</assignToReference>
            <name>CurrentEnrollmentForm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>655</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Stamp_Sign_and_Certify_Date</targetReference>
        </connector>
        <flowName>Thank_You_Screen_Subflow</flowName>
        <inputAssignments>
            <name>Account_Type</name>
            <value>
                <elementReference>BAA_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContinueEnrollment</name>
            <value>
                <elementReference>Continueenrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Thank_You_Screen_RothIRA</name>
        <label>Thank You Screen</label>
        <locationX>1542</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Stamp_Sign_and_Certify_Date</targetReference>
        </connector>
        <flowName>Thank_You_Screen_Subflow</flowName>
        <inputAssignments>
            <name>Account_Type</name>
            <value>
                <elementReference>CurrentEnrollmentForm.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContinueEnrollment</name>
            <value>
                <elementReference>Continueenrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Thank_You_TDRA</name>
        <label>Thank You</label>
        <locationX>2330</locationX>
        <locationY>2433</locationY>
        <connector>
            <targetReference>Stamp_Sign_and_Certify_Date</targetReference>
        </connector>
        <flowName>Thank_You_Screen_Subflow</flowName>
        <inputAssignments>
            <name>Account_Type</name>
            <value>
                <elementReference>TDRA_Thank_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContinueEnrollment</name>
            <value>
                <elementReference>Continueenrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentEnrollmentForm</name>
            <value>
                <elementReference>CurrentEnrollmentForm</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ActiveSectionAddressInformation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Address Information</text>
    </textTemplates>
    <textTemplates>
        <name>ActiveSectionBackupWithholding</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Backup Withholding</text>
    </textTemplates>
    <textTemplates>
        <name>ActiveSectionBankDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Bank Details</text>
    </textTemplates>
    <textTemplates>
        <name>ActiveSectionCertificationAndSignature</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Certification and Signature</text>
    </textTemplates>
    <textTemplates>
        <name>ActiveSectionContingentBeneficiaries</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Contingent Beneficiaries</text>
    </textTemplates>
    <textTemplates>
        <name>ActiveSectionContributionInformation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Contribution Information</text>
    </textTemplates>
    <textTemplates>
        <name>ActiveSectionMinisterAndEmployer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Minister and Employer</text>
    </textTemplates>
    <textTemplates>
        <name>ActiveSectionPersonalInformation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Personal Information</text>
    </textTemplates>
    <textTemplates>
        <name>ActiveSectionPrimaryBeneficiaries</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Primary Beneficiaries</text>
    </textTemplates>
    <textTemplates>
        <name>ActiveSectionRelationshipInfo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Relationship Info</text>
    </textTemplates>
    <textTemplates>
        <name>ActiveSectionSocialNumber</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Social Number</text>
    </textTemplates>
    <textTemplates>
        <description>The full name of the account type</description>
        <name>BAA_Account</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Benefit Accumulation Account</text>
    </textTemplates>
    <textTemplates>
        <name>BAA_Certification_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;I agree to be bound by all terms of the BAA, as it may be amended from time to time, and all administrative policies and procedures adopted by Pension Fund with respect to the BAA.&lt;/li&gt;&lt;li&gt;I understand that I can access the &lt;a href=&quot;https://pensionfund.org/uploads/BAA-Account-Holder-Resource-Book.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;BAA Plan and Account Holder Resource Book&lt;/a&gt; and other information regarding the BAA &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;electronically at &lt;/span&gt;&lt;a href=&quot;https://pensionfund.org/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;www.pensionfund.org&lt;/a&gt;, and that I can also request Pension Fund mail me a copy of the BAA Plan and Account Holder Resource Book.&lt;/li&gt;&lt;li&gt;I certify that the information provided on this BAA Enrollment Form is accurate, including my Social Security Number/ITIN. I agree that I will timely notify Pension Fund of any changes to the information provided on this Form.&lt;/li&gt;&lt;li&gt;I understand that the interest I earn on my BAA is taxable the year in which earned. I understand that I am responsible for the tax consequences of any contributions or distributions.&lt;/li&gt;&lt;li&gt;If applicable, I hereby authorize my bank to debit the bank account identified above and authorize Pension Fund to accept these deposits. These debits and deposits are to be made under the Rules of the Automated Clearing House (ACH). If I have elected recurring contributions, I understand that this Agreement will remain in effect until I give written notice of termination to Pension Fund.&lt;/li&gt;&lt;li style=&quot;text-align: left;&quot;&gt;I understand that Pension Fund and the BAA are exempt from the registration, regulation, and reporting requirements of the Securities Act of 1933, the Securities Exchange Act of 1934, the Investment Company Act of 1940, and state securities laws. Benefit Accumulation Account holders are not afforded the protection of those laws with respect to their interest in the BAA.&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BAADescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-family: Montserrat; color: rgb(0, 0, 0); user-select: auto;&quot;&gt;In order to open a Benefit Accumulation Account (BAA), you must be a U.S. resident who is:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-family: Montserrat; color: rgb(0, 0, 0); user-select: auto;&quot;&gt;a member of the Pension Plan of Pension Fund of the Christian Church (&quot;Pension Plan&quot;) or the Tax-Deferred Retirement Account of Pension Fund of the Christian Church (&quot;TDRA&quot;);&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-family: Montserrat; color: rgb(0, 0, 0); user-select: auto;&quot;&gt;an owner of a Traditional IRA or Roth IRA under the Defined Contribution Retirement Accounts of Pension Fund of the Christian Church ;&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-family: Montserrat; color: rgb(0, 0, 0); user-select: auto;&quot;&gt;a spouse of a member or IRA owner; or&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-family: Montserrat; color: rgb(0, 0, 0); user-select: auto;&quot;&gt;a surviving spouse who is the member&apos;s beneficiary under the Pension Plan or TDRA.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BAAHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000008&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!BAA_Account}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>IRA_Certification_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;I agree to be bound by all terms of the IRA, as it may be amended from time to time, and all administrative policies and procedures adopted by Pension Fund with respect to the IRA.&lt;/li&gt;&lt;li&gt;I understand that I can access the &lt;a href=&quot;{!IraResourceBookLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!CurrentEnrollmentForm.Type__c} Owner Resource Book&lt;/a&gt; and other information regarding IRAs electronically at &lt;a href=&quot;https://pensionfund.org/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;www.pensionfund.org&lt;/a&gt;, and that I can also request Pension Fund mail me a copy of the&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!CurrentEnrollmentForm.Type__c}&lt;/span&gt; Owner Resource Book.&lt;/li&gt;&lt;li&gt;I certify that I have received, reviewed and understand the &lt;a href=&quot;https://pensionfund.org/uploads/IRA-Disclosure-Statement.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;IRA Disclosure Statement and IRA Financial Disclosure&lt;/a&gt;. I understand that I have seven days from the date that Pension Fund receives this enrollment to revoke it without penalty by mailing or delivering a written notice to Pension Fund.&lt;/li&gt;&lt;li&gt;I certify that I am an employee or employee of an employer that is eligible to participate in the IRA, or the spouse of such eligible employee or former employee.&lt;/li&gt;&lt;li&gt;I certify that the information provided on this IRA Enrollment Form is accurate, including my Social Security Number/ITIN. I agree that I will timely notify Pension Fund of any changes to the information.&lt;/li&gt;&lt;li&gt;I assume complete responsibility for ensuring that all contributions I make are within the limits set forth by the tax laws and for the tax consequences of any contribution and distributions. I understand that I am responsible for determining and tracking the cost basis in the IRA.&lt;/li&gt;&lt;li&gt;If applicable, I hereby authorize my bank to debit the bank account identified and authorize Pension Fund to accept these deposits. These debits and deposits are to be made under the Rules of the Automated Clearing House (ACH). If I have elected recurring contributions, I understand that this Agreement will remain in effect until I give written notice of termination to Pension Fund.&lt;/li&gt;&lt;li style=&quot;text-align: left;&quot;&gt;I understand that Pension Fund and the IRA are exempt from the registration, regulation, and reporting requirements of the Securities Act of 1933, the Securities Exchange Act of 1934, the Investment Company Act of 1940, and state securities laws. Participants and beneficiaries are not afforded the protection of those laws with respect to their interest in the IRA.&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PensionHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000008&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!PensionPlan_Account}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PensionPlan_Account</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Pension Plan</text>
    </textTemplates>
    <textTemplates>
        <name>PensionPlanText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;If you are ordained/commissioned and want to self-pay your Pension Plan dues, please &lt;a href=&quot;https://pensionfund.org/meet-with-my-area-director&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;contact your Area Director&lt;/a&gt; regarding your Pension Plan enrollment.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PP_Certification_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;I agree to be bound by all terms of the Pension Plan, as it may be amended from time to time, and all administrative policies and procedures adopted by Pension Fund with respect to the Pension Plan.&lt;/li&gt;&lt;li&gt;I understand that I can access the &lt;a href=&quot;https://pensionfund.org/uploads/Pension-Plan-Member-Resource-Book.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Pension Plan Member Resource Book&lt;/a&gt; and other information regarding the Pension Plan electronically at &lt;a href=&quot;http://www.pensionfund.org&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;www.pensionfund.org&lt;/a&gt;, and that I can also request Pension Fund mail me a copy of the Pension Plan Member Resource Book.&lt;/li&gt;&lt;li&gt;I certify that the information provided is accurate, including my Social Security Number/ITIN. I agree that I will timely notify Pension Fund of any changes to the information provided, including changes to the amount or type of dues, to my marital status, and to the status of my children and parents. I understand that failure to provide accurate and timely information may result in a reduction of my benefits.&lt;/li&gt;&lt;li&gt;I understand that if my employers Participation Agreement permits members to each elect a different percentage of employee dues on a pre-tax basis, and I choose to change my elections reflected on this Enrollment Form or on a separate salary contribution agreement with my employer, I must complete and submit a Salary Contribution Agreement to my Employer which reflects that change before the effective date of the change.&lt;/li&gt;&lt;li&gt;I understand that Pension Fund and the Pension Plan are exempt from the registration, regulation, and reporting requirements of the Securities Act of 1933, the Securities Exchange Act of 1945, the Investment Company Act of 1940, and state securities laws. Participants and beneficiaries are not afforded the protection of those laws with respect to their interest in the Pension Plan.&lt;/li&gt;&lt;li&gt;I will provide Pension Fund with the following documents to complete my application, as applicable:&lt;ul&gt;&lt;li&gt;Copy of my birth certificate&lt;/li&gt;&lt;li&gt;Copy of current ministerial credentials, if I am a minister&lt;/li&gt;&lt;li&gt;Beneficiary Designation Form&lt;/li&gt;&lt;li&gt;Copy of my marriage certificate/proof of marriage, if I am married&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RothIRA_Account</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Roth IRA</text>
    </textTemplates>
    <textTemplates>
        <name>RothIRADescritption</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Complete this Roth IRA Enrollment Form in order to open an account (&amp;quot;RI account&amp;quot;) under the Roth IRA (&amp;quot;BAA&amp;quot;).&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV&gt;to be continued...&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This text templates is used on the &apos;Personal Information&apos; gathering page of the Roth IRA Enrollment Form</description>
        <name>RothIRAHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000008&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!RothIRA_Account}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TDRA_Account</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>TDRA  403(b)/Roth 403(b)</text>
    </textTemplates>
    <textTemplates>
        <name>TDRA_Certification_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;I agree to be bound by all terms of the TDRA 403(b)/Roth 403(b) , as it may be amended from time to time, and all administrative policies and procedures adopted by Pension Fund with respect to the TDRA &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;403(b)/Roth 403(b)&lt;/span&gt;.&lt;/li&gt;&lt;li&gt;I understand that I can access the &lt;a href=&quot;https://pensionfund.org/uploads/TDRA-Member-Resource-Book.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;TDRA 403(b)/Roth 403(b) Member Resource Book&lt;/a&gt; and other information regarding the TDRA electronically at &lt;a href=&quot;http://www.pensionfund.org&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;www.pensionfund.org&lt;/a&gt;, and that I can also request Pension Fund mail me a copy of the TDRA &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;403(b)/Roth 403(b)&lt;/span&gt; Member Resource Book.&lt;/li&gt;&lt;li&gt;I certify that the information provided on this TDRA &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;403(b)/Roth 403(b) &lt;/span&gt;Enrollment Form is accurate, including my Social Security Number/ITIN. I agree that I will timely notify Pension Fund of any changes to the information provided.&lt;/li&gt;&lt;li&gt;I understand that the contribution elections that I have made for this enrollment will continue to be in effect from year to year unless I change or terminate them. I understand that I may prospectively change my elections at any time by completing and submitting a Salary Contribution Agreement to my employer which reflects that change. I further understand that I may terminate my elections at any time by notifying my employer in writing.&lt;/li&gt;&lt;li&gt;If I am a minister, I will submit a copy of my current ministerial credentials.&lt;/li&gt;&lt;li style=&quot;text-align: left;&quot;&gt;I understand that Pension Fund and the TDRA &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;403(b)/Roth 403(b)&lt;/span&gt;are exempt from the registration, regulation, and reporting requirements of the Securities Act of 1933, the Securities Exchange Act of 1945, the Investment Company Act of 1940, and state securities laws. Participants and beneficiaries are not afforded the protection of those laws with respect to their interest in the TDRA &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;403(b)/Roth 403(b)&lt;/span&gt;.&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TDRADescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Complete this TDRA Enrollment Form to begin participation in the Tax-Deferred Retirement Account of the Pension Fund of the Christian Church (Disciples of Christ) (&quot;TDRA&quot;).&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;As a member, the following types of contributions may be made to the TDRA on your behalf:&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Employee salary reduction contributions&lt;/B&gt;, if permitted under your employer&apos;s Participation Agreement.&lt;I&gt;Complete Section II to elect salary reduction contributions. Your employer will receive a copy of this Form to reflect the salary contribution agreement between you and your employer.&lt;/I&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Employer contributions&lt;/B&gt;, if permitted under your employer&apos;s Participation Agreement.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Rollover contributions&lt;/B&gt;from an IRA or eligible retirement plan.&lt;I&gt;Complete and return Application for Rollover Contribution to TDRA.&lt;/I&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Contract exchange/plan-to-plan transfer&lt;/B&gt;from another contract/account under your employer&apos;s 403(b) plan.&lt;I&gt;Complete and return Application for Contract Exchange/Plan-to-Plan Transfer to TDRA.&lt;/I&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TDRAHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000008&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!TDRA_Account}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TraditionalIRA_Account</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Traditional IRA</text>
    </textTemplates>
    <textTemplates>
        <name>TraditionalIRADescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Complete this Traditional IRA Enrollment Form in order to open an account (&amp;quot;RI account&amp;quot;) under the Traditional IRA (&amp;quot;BAA&amp;quot;).&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV&gt;to be continued...&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TraditionalIRAHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Montserrat&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000008&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!TraditionalIRA_Account} &lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>BAAClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BankAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bnk_Bank__c</objectType>
    </variables>
    <variables>
        <name>BankAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankAccountNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Beneficiary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Form_Beneficiary__c</objectType>
    </variables>
    <variables>
        <name>BeneficiaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Continueenrollment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CurrentEnrollmentForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Form__c</objectType>
    </variables>
    <variables>
        <name>EmployerSponsoredFormNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualProductFormNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputActiveSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputEnrollmentForm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IRADescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IRA description goes here...</stringValue>
        </value>
    </variables>
    <variables>
        <name>IRAHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IRA Header goes here...</stringValue>
        </value>
    </variables>
    <variables>
        <name>Is_spouse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Onetimedebittext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>One-Time Debit</stringValue>
        </value>
    </variables>
    <variables>
        <name>PowerOfOne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1</stringValue>
        </value>
    </variables>
    <variables>
        <name>PowerOfTwo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2</stringValue>
        </value>
    </variables>
    <variables>
        <name>Relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe4__Relationship__c</objectType>
    </variables>
    <variables>
        <name>RelationshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RothClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectedFormType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soc_AllBeneficiaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Form_Beneficiary__c</objectType>
    </variables>
    <variables>
        <name>soc_FinalBeneficiaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Form_Beneficiary__c</objectType>
    </variables>
    <variables>
        <name>sov_CommunityContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>TDRAClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TraditionalClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>USresident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_Citizenship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_CommunityUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_CreatedLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_CurrentBeneficiary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Form_Beneficiary__c</objectType>
    </variables>
    <variables>
        <name>v_EnrollmentForm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_FormSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_HomePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_NewBAALead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_RedirectURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>/submitted-enrollments</stringValue>
        </value>
    </variables>
    <variables>
        <name>v_RelatedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_TotalContingentPercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_TotalPrimaryPercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
</Flow>
