force-app/main/default/flows/set_Parent_enrollment_case_status_eligibility.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>is_enrollment_type_In_Plan_Roth_Rollover</name>
        <label>is enrollment type In Plan Roth Rollover</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>enrollment_type_is_Plan_Roth_Rollover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_parent_case_enrollment_type.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Plan Roth Rollover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_parent_enrollment_case_to_enrollment_complete_0</targetReference>
            </connector>
            <label>enrollment type is Plan Roth Rollover</label>
        </rules>
    </decisions>
    <description>this flow is used to set the validation rule for internal transfer to a new roth 403b account SE 2622</description>
    <interviewLabel>set Parent enrollment case status eligibility {!$Flow.CurrentDateTime}</interviewLabel>
    <label>set Parent enrollment case status eligibility</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_parent_case_enrollment_type</name>
        <label>get parent case enrollment type</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_enrollment_type_In_Plan_Roth_Rollover</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_parent_enrollment_case_to_enrollment_complete_0</name>
        <label>update parent enrollment case to enrollment complete</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Roth403b_Withdraw_Rollover_Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_parent_case_enrollment_type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portal_Transaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Withdrawal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax-Deferred 403(b) Retirement Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
