force-app/main/default/flows/State_Change_Case_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Case_type_M_to_M</name>
        <label>Case type M to M</label>
        <locationX>389</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>CaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>State Change: Mandatory to Mandatory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Type_M_to_Non_M</name>
        <label>Case Type M to Non-M</label>
        <locationX>527</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>CaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>State Change: Mandatory to Non-Mandatory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Type_Non_M_to_M</name>
        <label>Case Type Non-M to M</label>
        <locationX>663</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>CaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>State Change: Non-Mandatory to Mandatory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Type_Non_M_to_Non_M</name>
        <label>Case Type Non M to Non M</label>
        <locationX>179</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>CaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>State Change: Non-Mandatory to Non-Mandatory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_State_Mandatory</name>
        <label>New State Mandatory</label>
        <locationX>849</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>NewStateMandatoryValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndTaxStatus.Mandatory_State_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tax_Statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prior_State_Mandatory</name>
        <label>Prior State Mandatory</label>
        <locationX>832</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>PriorStateMandatoryValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndTaxStatus.Mandatory_State_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tax_Statuses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>518</locationX>
        <locationY>390</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mandatory_to_Mandatory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewStateMandatoryValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorStateMandatoryValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_type_M_to_M</targetReference>
            </connector>
            <label>Mandatory to Mandatory</label>
        </rules>
        <rules>
            <name>Non_Mandatory_to_Mandatory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewStateMandatoryValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorStateMandatoryValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Non_M_to_M</targetReference>
            </connector>
            <label>Non Mandatory to Mandatory</label>
        </rules>
        <rules>
            <name>Mandatory_to_Non_Mandatory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewStateMandatoryValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorStateMandatoryValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_M_to_Non_M</targetReference>
            </connector>
            <label>Mandatory to Non Mandatory</label>
        </rules>
        <rules>
            <name>Non_Mandatory_to_Non_Mandatory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewStateMandatoryValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorStateMandatoryValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Non_M_to_Non_M</targetReference>
            </connector>
            <label>Non Mandatory to Non Mandatory</label>
        </rules>
    </decisions>
    <decisions>
        <name>State_match</name>
        <label>State match</label>
        <locationX>937</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Tax_Statuses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prior_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IndTaxStatus.State_Abbreviation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prior_State_Mandatory</targetReference>
            </connector>
            <label>Prior State</label>
        </rules>
        <rules>
            <name>New_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IndTaxStatus.State_Abbreviation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_State_Mandatory</targetReference>
            </connector>
            <label>New State</label>
        </rules>
    </decisions>
    <description>State Change Case Creation Flow - remove Treasury Task assignment</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <expression>&quot;This member has moved from &quot; &amp; {!PriorState} &amp; &quot; to &quot; &amp; {!NewState} &amp;&quot;.&quot;</expression>
    </formulas>
    <interviewLabel>State Change Case Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>State Change Case Creation Flow - remove Treasury Task assignment</label>
    <loops>
        <name>Loop_through_Tax_Statuses</name>
        <label>Loop through Tax Statuses</label>
        <locationX>522</locationX>
        <locationY>186</locationY>
        <assignNextValueToReference>IndTaxStatus</assignNextValueToReference>
        <collectionReference>State_Tax_Status</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>State_match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>533</locationX>
        <locationY>760</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ContactAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>MemberServiceQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Info Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Subcategory__c</field>
            <value>
                <stringValue>Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120V000002ANq5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>297</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>State_Tax_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Member_Service_Center</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>MemberServiceQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>State_Tax_Status</name>
        <label>State Tax Status</label>
        <locationX>399</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tax_Statuses</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>State_Tax_Status__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Mandatory_State_Tax__c</queriedFields>
        <queriedFields>State_Abbreviation__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get user that is treasury state change assignee</description>
        <name>User</name>
        <label>User</label>
        <locationX>189</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Treasury_State_Change_Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>TreasuryUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>63</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactMemberPin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IndTaxStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>State_Tax_Status__mdt</objectType>
    </variables>
    <variables>
        <name>MemberServiceQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewStateMandatoryValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </variables>
    <variables>
        <name>PriorState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriorStateMandatoryValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TreasuryUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
