force-app/main/default/flows/Termination_Send_Options.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Lay_All</name>
        <label>Lay All</label>
        <locationX>292</locationX>
        <locationY>952</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Notification_of_Pending_Termination_Pension_Plan_TDRA_Lay</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lay_DB</name>
        <label>Lay DB</label>
        <locationX>293</locationX>
        <locationY>1196</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Notification_of_Pending_Termination_Pension_Plan_Lay</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lay_DC</name>
        <label>Lay DC</label>
        <locationX>289</locationX>
        <locationY>1467</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Notification_of_Pending_Termination_TDRA_Lay</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Minister_All</name>
        <label>Minister All</label>
        <locationX>1255</locationX>
        <locationY>945</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Notification_of_Pending_Termination_Pension_Plan_TDRA_Minister</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Minister_DB</name>
        <label>Minister DB</label>
        <locationX>1259</locationX>
        <locationY>1182</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Notification_of_Pending_Termination_Pension_Plan_Minister</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Minister_DC</name>
        <label>Minister DC</label>
        <locationX>1259</locationX>
        <locationY>1435</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Notification_of_Pending_Termination_TDRA_Minister</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X457</name>
        <label>457</label>
        <locationX>401</locationX>
        <locationY>863</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>X457_Termination_Letter</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Lay</name>
        <label>Assign Lay</label>
        <locationX>1572</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>varDocument</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmation of Termination Letter with Lay Options</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen_Termination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Minister</name>
        <label>Assign Minister</label>
        <locationX>1160</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>varDocument</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ministerial Options Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen_Termination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Non_Term</name>
        <label>Update Case (Non-Term)</label>
        <locationX>788</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>soUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!soCase.Description} | Webservice to LifeWorks ended billing rows, changed salary to 0, and sent termination action and last day of work at {!$Flow.CurrentDateTime}.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Options_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Reason_Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_Subcategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Affiliation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoundAffiliationStart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Non_Term_0</name>
        <label>Update Case (Non-Term)</label>
        <locationX>531</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>soUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!soCase.Description} | Webservice to LifeWorks ended billing rows, changed salary to 0, and sent termination action and last day of work at {!$Flow.CurrentDateTime}.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Options_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Reason_Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_Subcategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Affiliation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoundAffiliationStart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Term</name>
        <label>Update Case (Term)</label>
        <locationX>1580</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>soUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!soCase.Description} | Webservice to LifeWorks ended billing rows, changed salary to 0, and sent termination action and last day of work. {!varDocument} was sent. Actions occurred at {!$Flow.CurrentDateTime}.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Options_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Reason_Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_Sub_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Affiliation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoundAffiliationStart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Term_0</name>
        <label>Update Case (Term)</label>
        <locationX>1356</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>soUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!soCase.Description} | Webservice to LifeWorks ended billing rows, changed salary to 0, and sent termination action and last day of work. {!varDocument} was sent. Actions occurred at {!$Flow.CurrentDateTime}.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Options_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Reason_Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_Sub_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soUpdate.Affiliation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoundAffiliationStart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Reason</name>
        <label>Case Reason</label>
        <locationX>873</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen_Not_Termination</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Termination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination of Employment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Document</targetReference>
            </connector>
            <label>Termination</label>
        </rules>
    </decisions>
    <decisions>
        <name>DC_selected_Laymember</name>
        <label>DC selected ? Lay</label>
        <locationX>517</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Non_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dc_selected_lay</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Reason_Subcategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DC Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_Subcategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DC Renegotiated Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_Subcategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DC Over and Above Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Non_Term_0</targetReference>
            </connector>
            <label>Dc selected lay</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundAffiliation</name>
        <label>FoundAffiliation</label>
        <locationX>1055</locationX>
        <locationY>45</locationY>
        <defaultConnector>
            <targetReference>Case_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Affiliation_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundAffiliationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Affiliations</targetReference>
            </connector>
            <label>Affiliation Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Minister_reason_Subcategory_Mail</name>
        <label>Minister reason Subcategory Mail</label>
        <locationX>955</locationX>
        <locationY>1205</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Terminate_all_DB_and_DC_Accounts_for_employerM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DB and DC Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minister_All</targetReference>
            </connector>
            <label>Terminate all DB and DC Accounts for employer</label>
        </rules>
        <rules>
            <name>Terminate_all_DB_Accounts_for_employerM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DB Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minister_DB</targetReference>
            </connector>
            <label>Terminate all DB Accounts for employer</label>
        </rules>
        <rules>
            <name>Terminate_all_DC_Accounts_for_employerM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DC Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minister_DC</targetReference>
            </connector>
            <label>Terminate all DC Accounts for employer</label>
        </rules>
        <rules>
            <name>Terminate_all_DC_Renegotiated_Accounts_for_employerM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DC Renegotiated Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minister_DC</targetReference>
            </connector>
            <label>Terminate all DC Renegotiated Accounts for employer</label>
        </rules>
        <rules>
            <name>Terminate_all_DC_Over_and_Above_Accounts_for_employerM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DC Over and Above Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minister_DC</targetReference>
            </connector>
            <label>Terminate all DC Over and Above Accounts for employer</label>
        </rules>
        <rules>
            <name>Leave_of_Absence_from_EmployerM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leave of Absence from Employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minister_DB</targetReference>
            </connector>
            <label>Leave of Absence from Employer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_Subcategory_Mail</name>
        <label>Reason Subcategory Mail</label>
        <locationX>590</locationX>
        <locationY>1202</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Terminate_all_DB_and_DC_Accounts_for_employer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DB and DC Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lay_All</targetReference>
            </connector>
            <label>Terminate all DB and DC Accounts for employer</label>
        </rules>
        <rules>
            <name>Terminate_all_DB_Accounts_for_employer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DB Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lay_DB</targetReference>
            </connector>
            <label>Terminate all DB Accounts for employer</label>
        </rules>
        <rules>
            <name>Terminate_all_DC_Accounts_for_employer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DC Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lay_DC</targetReference>
            </connector>
            <label>Terminate all DC Accounts for employer</label>
        </rules>
        <rules>
            <name>Terminate_all_DC_Renegotiated_Accounts_for_employer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DC Renegotiated Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lay_DC</targetReference>
            </connector>
            <label>Terminate all DC Renegotiated Accounts for employer</label>
        </rules>
        <rules>
            <name>Terminate_all_DC_Over_and_Above_Accounts_for_employer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DC Over and Above Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lay_DC</targetReference>
            </connector>
            <label>Terminate all DC Over and Above Accounts for employer</label>
        </rules>
        <rules>
            <name>Leave_of_Absence_from_Employer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leave of Absence from Employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lay_DB</targetReference>
            </connector>
            <label>Leave of Absence from Employer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_Subcategory_Mail_0</name>
        <label>Reason Subcategory Mail</label>
        <locationX>1564</locationX>
        <locationY>523</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DB_Accounts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Reason_Sub_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DB Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_Sub_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leave of Absence from Employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_Sub_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate All 457 accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Term</targetReference>
            </connector>
            <label>DB Accounts</label>
        </rules>
        <rules>
            <name>DC_Accounts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Reason_Sub_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DC Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_Sub_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DC Renegotiated Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_Sub_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DC Over and Above Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Term_0</targetReference>
            </connector>
            <label>DC Accounts</label>
        </rules>
        <rules>
            <name>TermAll</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Reason_Sub_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DB and DC Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Affiliation</targetReference>
            </connector>
            <label>TermAll</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Document</name>
        <label>What Document?</label>
        <locationX>1148</locationX>
        <locationY>192</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lay</targetReference>
            </connector>
            <label>Lay</label>
        </rules>
        <rules>
            <name>Minister</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credentialed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former Credentialed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Minister</targetReference>
            </connector>
            <label>Minister</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_option_form_to_send</name>
        <label>Which option form to send</label>
        <locationX>750</locationX>
        <locationY>1104</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lay_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Terminate All 457 accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_Subcategory_Mail</targetReference>
            </connector>
            <label>Lay Form</label>
        </rules>
        <rules>
            <name>Minister_Form</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credentialed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former Credentialed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Terminate All 457 accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minister_reason_Subcategory_Mail</targetReference>
            </connector>
            <label>Minister Form</label>
        </rules>
        <rules>
            <name>X457_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soUpdate.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate All 457 accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X457</targetReference>
            </connector>
            <label>457 Plan</label>
        </rules>
    </decisions>
    <description>V13  is saved by brandon i Added the get start date from affiliation at the top,  added a third decision tree and moved update affiliation to only execute within the term all DC and DB.</description>
    <dynamicChoiceSets>
        <name>ReasonSub</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_Subcategory__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonSubcategoryTermination</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonSubcategorySendOptionFlow__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>add30Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>FromEmail</name>
        <dataType>String</dataType>
        <expression>&quot;pfcc1@pensionfund.org&quot;</expression>
    </formulas>
    <formulas>
        <name>LastDayofMonth</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( {!soCase.Last_Day_Worked__c} ) = 12, 
DATE( YEAR( {!soCase.Last_Day_Worked__c} ), 12, 31 ), 
DATE( YEAR( {!soCase.Last_Day_Worked__c}), MONTH({!soCase.Last_Day_Worked__c}) + 1, 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>varRunningUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Termination Send Options {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Termination Send Options</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1162</locationX>
        <locationY>775</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>add30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Pin__c</field>
            <value>
                <elementReference>soCase.PIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRunningUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Revisit {!varName}&apos;s Termination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0</name>
        <label>Create Task</label>
        <locationX>1185</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRunningUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Alert AD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Affiliation_Record</name>
        <label>Get Affiliation Record</label>
        <locationX>874</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundAffiliation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calculated_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCase.AccountId</elementReference>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputAssignments>
            <assignToReference>FoundAffiliationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundAffiliationStart</assignToReference>
            <field>npe5__StartDate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>476</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Member_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>soCase</outputReference>
        <queriedFields>Member_Type__c</queriedFields>
        <queriedFields>Reason</queriedFields>
        <queriedFields>Reason_Subcategory__c</queriedFields>
        <queriedFields>Last_Day_Worked__c</queriedFields>
        <queriedFields>PIN__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Org_PIN__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Member_Name</name>
        <label>Lookup Member Name</label>
        <locationX>622</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Organization</name>
        <label>Organization</label>
        <locationX>747</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Affiliation_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>OrgName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Affiliation</name>
        <label>Update Affiliation</label>
        <locationX>1719</locationX>
        <locationY>689</locationY>
        <connector>
            <targetReference>Update_Case_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calculated_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Org_Pin__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCase.Org_PIN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe5__EndDate__c</field>
            <value>
                <elementReference>LastDayofMonth</elementReference>
            </value>
        </inputAssignments>
        <object>npe5__Affiliation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>769</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>Which_option_form_to_send</targetReference>
        </connector>
        <inputReference>soUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen_Not_Termination</name>
        <label>Confirmation Screen - Not Termination</label>
        <locationX>525</locationX>
        <locationY>197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DC_selected_Laymember</targetReference>
        </connector>
        <fields>
            <name>Reason_Subcategory</name>
            <choiceReferences>ReasonSubcategoryTermination</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Subcategory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>confirmNotTerm</name>
            <fieldText>&lt;p&gt;Please confirm the following details about this case:&lt;/p&gt;&lt;p&gt;Member: {!varName}&lt;/p&gt;&lt;p&gt;Member PIN: {!soCase.PIN__c}&lt;/p&gt;&lt;p&gt;Member Type: {!soCase.Member_Type__c}&lt;/p&gt;&lt;p&gt;Organization Name: {!OrgName}&lt;/p&gt;&lt;p&gt;Employer PIN: {!soCase.Org_PIN__c}&lt;/p&gt;&lt;p&gt;Last Day of Work: {!soCase.Last_Day_Worked__c}&lt;/p&gt;&lt;p&gt;Termination Action: {!soCase.Reason}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;By clicking Next below, you will send these updates to LifeWorks, end billing rows, change the member&apos;s salary to 0, and send the termination action with the termination date. This case will be closed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to execute the above actions. Otherwise, click Previous.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_Termination</name>
        <label>Confirmation Screen - Termination</label>
        <locationX>1573</locationX>
        <locationY>366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reason_Subcategory_Mail_0</targetReference>
        </connector>
        <fields>
            <name>Reason_Sub_Category</name>
            <choiceReferences>ReasonSubcategoryTermination</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Sub Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>confirmTerm</name>
            <fieldText>&lt;p&gt;Please confirm the following details about this case:&lt;/p&gt;&lt;p&gt;Member: {!varName}&lt;/p&gt;&lt;p&gt;Member PIN: {!soCase.PIN__c}&lt;/p&gt;&lt;p&gt;Member Type: {!soCase.Member_Type__c}&lt;/p&gt;&lt;p&gt;Options Form: {!varDocument}&lt;/p&gt;&lt;p&gt;Organization Name: {!OrgName}&lt;/p&gt;&lt;p&gt;Employer PIN: {!soCase.Org_PIN__c}&lt;/p&gt;&lt;p&gt;Last Day of Work: {!soCase.Last_Day_Worked__c}&lt;/p&gt;&lt;p&gt;Termination Action: {!soCase.Reason}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;By clicking Next below, you will send these updates to LifeWorks, end billing rows, change the member&apos;s salary to 0, and send the termination action with the termination date. The member will be sent the {!varDocument}, and the case will be placed on hold as we await their response.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to execute the above actions. Otherwise, click Previous.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Affiliations</name>
        <label>No Affiliations</label>
        <locationX>1305</locationX>
        <locationY>42</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoActiveAffiliations</name>
            <fieldText>&lt;p&gt;There are no active affiliations for  {!varName}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>136</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Lookup_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseOrg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FoundAffiliationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FoundAffiliationStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrgName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>soUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDocument</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
