force-app/main/default/flows/Termination_Revisit_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_General_Term</name>
        <label>Send Email General Term</label>
        <locationX>178</locationX>
        <locationY>1814</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Subreason_case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>General_Termination_Letter</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Option_Form</name>
        <label>Send Email Option Form</label>
        <locationX>629</locationX>
        <locationY>1008</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Switch_Case_to_On_Hold</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Option_Form</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Pending_Term_PP_3_Months</name>
        <label>Send Email Pending Term PP 3 Months</label>
        <locationX>1799</locationX>
        <locationY>1478</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Notification_of_Pending_Termination_Pension_Plan_After_3_Months</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Pending_Term_PP_TDRA_No_Response_Inactive</name>
        <label>Send Email Pending Term PP TDRA No Response Inactive</label>
        <locationX>66</locationX>
        <locationY>2564</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Task_to_Deactivate_for_Voluntary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Notification_of_Pending_Termination_Pension_Plan_TDRA_No_Response_Voluntary</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_PP_COE_Minister</name>
        <label>Send Email PP COE Minister</label>
        <locationX>1452</locationX>
        <locationY>2019</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Notification_for_Pension_Plan_If_member_responds_with_COE_Minister</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_PP_Pay_Own_Dues</name>
        <label>Send Email PP Pay Own Dues</label>
        <locationX>910</locationX>
        <locationY>2303</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Notification_for_Pension_Plan_Pay_Own_Dues_Minister</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_PP_Retirement</name>
        <label>Send Email PP Retirement</label>
        <locationX>1211</locationX>
        <locationY>2113</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Pension_Plan_Retirement</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Refund</name>
        <label>Send Email Refund</label>
        <locationX>498</locationX>
        <locationY>2189</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Task_to_Refund</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Refund_Application</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Term_PP_No_Response_Voluntary_Inactive_L_M</name>
        <label>Send Email Term PP No Response Voluntary Inactive L&amp;M</label>
        <locationX>321</locationX>
        <locationY>2569</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Task_to_Deactivate_for_Voluntary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Notifcation_of_Termination_Pension_Plan_No_Response_Voluntary_Inactive_L_M</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Termination_Letter</name>
        <label>Send Email Termination Letter</label>
        <locationX>843</locationX>
        <locationY>1016</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Deactivate_after_90_days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>General_Termination_Letter</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Generate_Refund_Application</name>
        <label>Generate Refund Application</label>
        <locationX>1582</locationX>
        <locationY>1037</locationY>
        <assignmentItems>
            <assignToReference>varDocument</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refund Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Member_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Retirement_Document</name>
        <label>Generate Retirement Document</label>
        <locationX>1327</locationX>
        <locationY>1054</locationY>
        <assignmentItems>
            <assignToReference>varDocument</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retirement Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Member_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Termination_Confirmation_Letter</name>
        <label>Generate Termination Confirmation Letter</label>
        <locationX>1010</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>varDocument</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Termination Confirmation Letter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Status_for_No</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lay_60_Plus_Selection</name>
        <label>Lay 60 Plus Selection</label>
        <locationX>1266</locationX>
        <locationY>1384</locationY>
        <assignmentItems>
            <assignToReference>varOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_option_did_the_Lay_member_select2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lay_Under_60_Selection</name>
        <label>Lay Under 60 Selection</label>
        <locationX>1108</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_option_did_the_Lay_member_select</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minister_60_Plus_Selection</name>
        <label>Minister 60 Plus Selection</label>
        <locationX>1572</locationX>
        <locationY>1386</locationY>
        <assignmentItems>
            <assignToReference>varOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_option_did_the_Minister_select2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minister_Under_60_Selection</name>
        <label>Minister Under 60 Selection</label>
        <locationX>1387</locationX>
        <locationY>1381</locationY>
        <assignmentItems>
            <assignToReference>varOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_option_did_the_Minister_select</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_Document</name>
        <label>Send Document</label>
        <locationX>1321</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>soCase.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>| {!varDocument} sent at {!$Flow.CurrentDateTime}.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Switch_Case_to_Pending_Deactivation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_Options_Form</name>
        <label>Send Options Form</label>
        <locationX>632</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>soCase.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>| Options form re-sent at {!$Flow.CurrentDateTime}.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Option_Form</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>COE</name>
        <choiceText>COE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COE</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_Own_Dues</name>
        <choiceText>Pay Own Dues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay Own Dues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refund</name>
        <choiceText>Refund</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refund</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retirement</name>
        <choiceText>Retirement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retirement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retirement_Minister</name>
        <choiceText>&lt;p style=&quot;user-select: auto;&quot;&gt;Retirement&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retirement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voluntary_Inactive</name>
        <choiceText>Voluntary Inactive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Voluntary Inactive</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Months_No_Salary</name>
        <choiceText>3 Months No Salary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 Months No Salary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Case_Age</name>
        <label>Check Case Age</label>
        <locationX>459</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>Check_Member_Type_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_70_Days</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Days_opened_FOR_TESTING__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCase.Days_Open__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCase.Days_Open__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Options_Form</targetReference>
            </connector>
            <label>Greater Than 70 Days</label>
        </rules>
        <rules>
            <name>Greater_Than_90_Days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Days_Open__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCase.Days_opened_FOR_TESTING__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Termination_Letter</targetReference>
            </connector>
            <label>Greater Than 90 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Member_Type</name>
        <label>Check Member Type</label>
        <locationX>1531</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lay_Option_Select</targetReference>
            </connector>
            <label>Lay</label>
        </rules>
        <rules>
            <name>Minister</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credentialed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former Credentialed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minister_Option_Select</targetReference>
            </connector>
            <label>Minister</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Member_Type_Screen</name>
        <label>Check Member Type Screen</label>
        <locationX>254</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Wait_70_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lay3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_30_Days</targetReference>
            </connector>
            <label>Lay3</label>
        </rules>
    </decisions>
    <decisions>
        <name>COESelection</name>
        <label>COE ?</label>
        <locationX>1090</locationX>
        <locationY>1778</locationY>
        <defaultConnector>
            <targetReference>What_document_to_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COESelected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_to_Deactivate_Employee</targetReference>
            </connector>
            <label>COE</label>
        </rules>
        <rules>
            <name>Pay_Own_Dues_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pay_Own_Dues</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_document_to_Email</targetReference>
            </connector>
            <label>Pay Own Dues Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Member_Respond</name>
        <label>Did Member Respond?</label>
        <locationX>1302</locationX>
        <locationY>473</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Responded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Did_the_member_respond_with_their_selected_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Member_Type</targetReference>
            </connector>
            <label>Responded</label>
        </rules>
        <rules>
            <name>No_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Did_the_member_respond_with_their_selected_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Option_Selected</targetReference>
            </connector>
            <label>No Response</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Type</name>
        <label>Member Type</label>
        <locationX>1323</locationX>
        <locationY>1216</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lay_Under_60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactAge</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lay_Under_60_Selection</targetReference>
            </connector>
            <label>Lay Under 60</label>
        </rules>
        <rules>
            <name>Lay_60_Plus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactAge</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lay_60_Plus_Selection</targetReference>
            </connector>
            <label>Lay 60 Plus</label>
        </rules>
        <rules>
            <name>Minister_Under_60</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credentialed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former Credentialed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactAge</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minister_Under_60_Selection</targetReference>
            </connector>
            <label>Minister Under 60</label>
        </rules>
        <rules>
            <name>Minister_60_Plus</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credentialed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCase.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former Credentialed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactAge</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minister_60_Plus_Selection</targetReference>
            </connector>
            <label>Minister 60 Plus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Option_Selected</name>
        <label>Option Selected</label>
        <locationX>996</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Age</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X3_Months_No_Salary_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Option_Selected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 Months No Salary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Age</targetReference>
            </connector>
            <label>3 Months No Salary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subreason_case</name>
        <label>Subreason case</label>
        <locationX>180</locationX>
        <locationY>2336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DB Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Term_PP_No_Response_Voluntary_Inactive_L_M</targetReference>
            </connector>
            <label>DB</label>
        </rules>
        <rules>
            <name>DB_and_DC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Reason_Subcategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate all DB and DC Accounts for employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Pending_Term_PP_TDRA_No_Response_Inactive</targetReference>
            </connector>
            <label>DB and DC</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_document_to_Email</name>
        <label>What document to Email?</label>
        <locationX>485</locationX>
        <locationY>1817</locationY>
        <defaultConnector>
            <targetReference>Send_Email_General_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Refund</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Refund</targetReference>
            </connector>
            <label>Refund</label>
        </rules>
        <rules>
            <name>Retirement_Application_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Retirement</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Retirement_Minister</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Retirement_Task</targetReference>
            </connector>
            <label>Retirement Application Email</label>
        </rules>
        <rules>
            <name>Voluntary_Inactivemail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Voluntary_Inactive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subreason_case</targetReference>
            </connector>
            <label>Voluntary Inactive</label>
        </rules>
        <rules>
            <name>Pay_own_due</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pay_Own_Dues</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_to_deactivate_Pay_Dues_Employee</targetReference>
            </connector>
            <label>Pay own due</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_document_to_generate</name>
        <label>What document to generate?</label>
        <locationX>1216</locationX>
        <locationY>826</locationY>
        <defaultConnector>
            <targetReference>Generate_Termination_Confirmation_Letter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Refund_Application</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_option_did_the_Lay_member_select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Refund</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_option_did_the_Lay_member_select2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Refund</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Refund_Application</targetReference>
            </connector>
            <label>Refund Application</label>
        </rules>
        <rules>
            <name>Retirement_Application</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_option_did_the_Lay_member_select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Retirement</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_option_did_the_Minister_select2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Retirement</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_option_did_the_Lay_member_select2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Retirement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Retirement_Document</targetReference>
            </connector>
            <label>Retirement Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Minister_Option_Was_Selected</name>
        <label>What Minister Option Was Selected?</label>
        <locationX>1848</locationX>
        <locationY>826</locationY>
        <defaultConnector>
            <targetReference>What_document_to_generate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Three_Months_No_Salary</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_option_did_the_Minister_select2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X3_Months_No_Salary</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_option_did_the_Minister_select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X3_Months_No_Salary</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Three_Months_No_Salary_Confirmation</targetReference>
            </connector>
            <label>Three Months No Salary</label>
        </rules>
    </decisions>
    <formulas>
        <name>add30</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>add70</name>
        <dataType>Date</dataType>
        <expression>{!soCase.CreatedDate}+70</expression>
    </formulas>
    <formulas>
        <name>add90</name>
        <dataType>Date</dataType>
        <expression>{!soCase.CreatedDate}+90</expression>
    </formulas>
    <formulas>
        <name>FromEmail</name>
        <dataType>String</dataType>
        <expression>&quot;pfcc1@pensionfund.org&quot;</expression>
    </formulas>
    <formulas>
        <name>OwnerIDexecutingflow</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Termination Revisit Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Termination Revisit Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Enrollment_Task</name>
        <label>Create Enrollment Task</label>
        <locationX>652</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Send_Email_PP_Pay_Own_Dues</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>add30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Pin__c</field>
            <value>
                <elementReference>soCase.PIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDexecutingflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enrollment Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Retirement_Task</name>
        <label>Create Retirement Task</label>
        <locationX>955</locationX>
        <locationY>2113</locationY>
        <connector>
            <targetReference>Send_Email_PP_Retirement</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>add30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Pin__c</field>
            <value>
                <elementReference>soCase.PIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDexecutingflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Retirement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_Deactivate_Employee</name>
        <label>Create Task to Deactivate Employee</label>
        <locationX>1121</locationX>
        <locationY>1966</locationY>
        <connector>
            <targetReference>Enrollment_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>add30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Pin__c</field>
            <value>
                <elementReference>soCase.PIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDexecutingflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_Deactivate_for_Voluntary</name>
        <label>Create Task to Deactivate for Voluntary</label>
        <locationX>195</locationX>
        <locationY>2719</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>add30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Pin__c</field>
            <value>
                <elementReference>soCase.PIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDexecutingflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_deactivate_Pay_Dues_Employee</name>
        <label>Create Task to deactivate Pay Dues Employee</label>
        <locationX>651</locationX>
        <locationY>2048</locationY>
        <connector>
            <targetReference>Create_Enrollment_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>add30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Pin__c</field>
            <value>
                <elementReference>soCase.PIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDexecutingflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_Follow_Up_70_Days_from_Case_Opening</name>
        <label>Create Task to Follow Up 70 Days from Case Opening</label>
        <locationX>1796</locationX>
        <locationY>1303</locationY>
        <connector>
            <targetReference>Send_Email_Pending_Term_PP_3_Months</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>add70</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Pin__c</field>
            <value>
                <elementReference>soCase.PIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDexecutingflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Revisit3MonthsTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_Follow_Up_90_Days_from_Case_Opening</name>
        <label>Create Task to Follow Up 90 Days from Case Opening</label>
        <locationX>576</locationX>
        <locationY>1322</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>add90</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Pin__c</field>
            <value>
                <elementReference>soCase.PIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDexecutingflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Revisit3MonthsTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_Refund</name>
        <label>Create Task to Refund</label>
        <locationX>500</locationX>
        <locationY>2451</locationY>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>add30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Pin__c</field>
            <value>
                <elementReference>soCase.PIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDexecutingflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Refund Task for Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Deactivate_after_90_days</name>
        <label>Deactivate after 90 days</label>
        <locationX>844</locationX>
        <locationY>1198</locationY>
        <connector>
            <targetReference>Update_case_Status_after_90</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>add90</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Pin__c</field>
            <value>
                <elementReference>soCase.PIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDexecutingflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Enrollment_Task</name>
        <label>Create Enrollment Task</label>
        <locationX>1321</locationX>
        <locationY>1902</locationY>
        <connector>
            <targetReference>Send_Email_PP_COE_Minister</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>add30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Pin__c</field>
            <value>
                <elementReference>soCase.PIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIDexecutingflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enrollment Change of employer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <description>Get Account info associated with the case</description>
        <name>Look_Up_Account</name>
        <label>Look-Up Account</label>
        <locationX>1301</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Member_Response_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountNameTermFlow</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get contact info on a case</description>
        <name>Look_Up_Contact_Info</name>
        <label>Look Up Contact Info</label>
        <locationX>1059</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCase.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactAge</assignToReference>
            <field>Age__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactNameFlowTerm</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>824</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>soCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Member_Type__c</queriedFields>
        <queriedFields>Last_Day_Worked__c</queriedFields>
        <queriedFields>PIN__c</queriedFields>
        <queriedFields>Org_PIN__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Days_Open__c</queriedFields>
        <queriedFields>Option_Selected__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Days_opened_FOR_TESTING__c</queriedFields>
        <queriedFields>Reason_Subcategory__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Indicate_3_Months_No_Salary</name>
        <label>Indicate 3 Months No Salary</label>
        <locationX>1794</locationX>
        <locationY>1159</locationY>
        <connector>
            <targetReference>Create_Task_to_Follow_Up_70_Days_from_Case_Opening</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Option_Selected__c</field>
            <value>
                <elementReference>X3_Months_No_Salary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Switch_Case_to_On_Hold</name>
        <label>Switch Case to On Hold</label>
        <locationX>630</locationX>
        <locationY>1156</locationY>
        <connector>
            <targetReference>Create_Task_to_Follow_Up_90_Days_from_Case_Opening</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Option_Form__c</field>
            <value>
                <elementReference>soCase.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Selected__c</field>
            <value>
                <elementReference>soCase.Option_Selected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Switch_Case_to_Pending_Deactivation</name>
        <label>Switch Case to Pending Deactivation</label>
        <locationX>1322</locationX>
        <locationY>1776</locationY>
        <connector>
            <targetReference>COESelection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document__c</field>
            <value>
                <elementReference>soCase.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Selected__c</field>
            <value>
                <elementReference>varOption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Deactivation</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>1446</locationX>
        <locationY>2444</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_Status_after_90</name>
        <label>Update case Status after 90</label>
        <locationX>822</locationX>
        <locationY>1361</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status_for_No</name>
        <label>Update Case Status for No</label>
        <locationX>1119</locationX>
        <locationY>1182</locationY>
        <connector>
            <targetReference>Member_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1322</locationX>
        <locationY>1533</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Document</targetReference>
        </connector>
        <fields>
            <name>textCS</name>
            <fieldText>Based on your selections, the member has opted for {!varOption}. A {!varDocument} will be sent to {!ContactNameFlowTerm}. If this is incorrect, please click the Previous button to make corrections.

If this information is correct, please click Next. This will send the {!varDocument} to the member and create a task for you to deactivate the employee. The case will be marked as Pending Deactivation. Once you have deactivated the employee, you may close the case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lay_Option_Select</name>
        <label>Lay Option Select</label>
        <locationX>1356</locationX>
        <locationY>732</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_document_to_generate</targetReference>
        </connector>
        <fields>
            <name>What_option_did_the_Lay_member_select</name>
            <choiceReferences>Refund</choiceReferences>
            <choiceReferences>Voluntary_Inactive</choiceReferences>
            <choiceReferences>COE</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What option did the Lay member select?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varContactAge</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>60.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_option_did_the_Lay_member_select2</name>
            <choiceReferences>Refund</choiceReferences>
            <choiceReferences>Retirement</choiceReferences>
            <choiceReferences>Voluntary_Inactive</choiceReferences>
            <choiceReferences>COE</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What option did the Lay member select?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varContactAge</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>60.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Member_Response_Selection</name>
        <label>Member Response Selection</label>
        <locationX>1306</locationX>
        <locationY>357</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_Member_Respond</targetReference>
        </connector>
        <fields>
            <name>textMRS</name>
            <fieldText>Member Name: {!ContactNameFlowTerm}
Member Type: {!soCase.Member_Type__c}
Last Day Worked: {!soCase.Last_Day_Worked__c}
PIN: {!soCase.PIN__c}
Organization: {!AccountNameTermFlow}
Organization PIN: {!soCase.Org_PIN__c}
Case Age: {!soCase.Days_Open__c} days</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Did_the_member_respond_with_their_selected_option</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did the member respond with their selected option?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Minister_Option_Select</name>
        <label>Minister Option Select</label>
        <locationX>1836</locationX>
        <locationY>680</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Minister_Option_Was_Selected</targetReference>
        </connector>
        <fields>
            <name>What_option_did_the_Minister_select</name>
            <choiceReferences>Pay_Own_Dues</choiceReferences>
            <choiceReferences>Voluntary_Inactive</choiceReferences>
            <choiceReferences>X3_Months_No_Salary</choiceReferences>
            <choiceReferences>COE</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What option did the Minister select?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varContactAge</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>60.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_option_did_the_Minister_select2</name>
            <choiceReferences>Pay_Own_Dues</choiceReferences>
            <choiceReferences>Voluntary_Inactive</choiceReferences>
            <choiceReferences>X3_Months_No_Salary</choiceReferences>
            <choiceReferences>Retirement</choiceReferences>
            <choiceReferences>COE</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What option did the Minister select?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varContactAge</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>60.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Three_Months_No_Salary_Confirmation</name>
        <label>Three Months No Salary Confirmation</label>
        <locationX>1794</locationX>
        <locationY>1017</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Indicate_3_Months_No_Salary</targetReference>
        </connector>
        <fields>
            <name>text3MNS</name>
            <fieldText>You have indicated that the member has opted for 3 Months No Salary. If this is incorrect, click Previous below and select a different option.

If this is correct, click Next. This case will be marked On Hold and a task will be created for you to revisit it 70 days from the day the case was originally opened, on {!add70}. At that time, you will click the Revisit Case button again and you will reevaluate the case based on the member&apos;s communication in that time.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wait_30_Days</name>
        <label>Wait 30 Days</label>
        <locationX>439</locationX>
        <locationY>628</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text30</name>
            <fieldText>&lt;p&gt;The member has until {!add30} to make select an option. By that date, if they have not yet responded, they will be sent the options form again. If they still have not yet responded after, a Termination Confirmation Letter will be sent to them.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click Next to return to the case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wait_70_Days</name>
        <label>Wait 70 Days</label>
        <locationX>110</locationX>
        <locationY>626</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text70</name>
            <fieldText>The member has until {!add70} to make select an option. By that date, if they have not yet responded, they will be sent the options form again. If by {!add90} they still have not yet responded, a Termination Confirmation Letter will be sent to them.

Please click Next to return to the case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Revisit3MonthsTaskSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Revisit {!ContactNameFlowTerm}&apos;s 3 Months no salary election</text>
    </textTemplates>
    <textTemplates>
        <description>Indicate which Employee to terminate</description>
        <name>TaskSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Deactivate {!ContactNameFlowTerm} Employee</text>
    </textTemplates>
    <variables>
        <name>AccountNameTermFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactNameFlowTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDocument</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
