force-app/main/default/flows/Thank_You_Screen_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Continue_enrollmentquestion</name>
        <label>Continue enrollment ?</label>
        <locationX>797</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContinueEnrollment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_you_continue_enrollment</targetReference>
            </connector>
            <label>Continue Enrollment</label>
        </rules>
        <rules>
            <name>No_Continue_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContinueEnrollment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_You_Screen</targetReference>
            </connector>
            <label>No Continue Enrollment</label>
        </rules>
    </decisions>
    <interviewLabel>Thank You Screen Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thank You Screen Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Enrollment_Form</name>
        <label>Update Enrollment Form</label>
        <locationX>541</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Updatestatusallow_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentEnrollmentForm.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updatestatusallow</name>
        <label>Updatestatusallow</label>
        <locationX>390</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Update_Enrollment_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentEnrollmentForm.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Update_Allowed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updatestatusallow_0</name>
        <label>Updatestatusallow</label>
        <locationX>684</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Continue_enrollmentquestion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentEnrollmentForm.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Update_Allowed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Form__c</object>
    </recordUpdates>
    <screens>
        <name>Thank_you_continue_enrollment</name>
        <label>Thank you - continue enrollment</label>
        <locationX>1135</locationX>
        <locationY>140</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_you_continueenrollment</name>
            <fieldText>&lt;p style=&quot;user-select: auto; text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;Thank you for completing your online enrollment for the &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;{!Account_Type}.&lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(255, 255, 255); font-family: Montserrat; user-select: auto;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;Your enrollment will be reviewed by our Member Relations team and processed. You will receive an email confirmation when your enrollment is complete.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto; text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please close the current window to end the enrollment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You</label>
        <locationX>1137</locationX>
        <locationY>1</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYouText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Thank You! Your enrollment is almost complete. Please click next to submit your online enrollment for your {!Account_Type}. Your enrollment will be reviewed by our Member Relations team and processed. You will receive an email confirmation when your enrollment is complete.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Updatestatusallow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The account type name displayed in long format</description>
        <name>Account_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContinueEnrollment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CurrentEnrollmentForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Form__c</objectType>
    </variables>
</Flow>
