force-app/main/default/flows/Two_Factor_Authentication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>User_have_twilio_Id</name>
        <label>User have twilio Id?</label>
        <locationX>305</locationX>
        <locationY>164</locationY>
        <defaultConnector>
            <targetReference>loging_tet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Does_not_have_twilio_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTwilioId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>verify_phone_number</targetReference>
            </connector>
            <label>Does not have twilio Id</label>
        </rules>
    </decisions>
    <description>Update: SecurityCode1 to a Text Variable (previously number)
Update: Token (in screen) to text
Sender Address = pfcc1@pensionfund.org
Updated Email Body</description>
    <formulas>
        <name>convertToInt</name>
        <dataType>Number</dataType>
        <expression>VALUE({!varTwilioId})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fUserTwilioCheckbox</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Twilio_User__c}</expression>
    </formulas>
    <formulas>
        <name>LoggedInUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>TodayDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Two Factor Authentication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Two Factor Authentication.3digitUpdateAndPhoneNumber</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Validate_New_Community_User</name>
        <label>Validate New Community User</label>
        <locationX>305</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_have_twilio_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoggedInUserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastLoginDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TodayDateTime</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTwilioId</assignToReference>
            <field>Twilio_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userPhoneNumber</assignToReference>
            <field>Twilio_Phone_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Twilio_Id</name>
        <label>Update User Twilio Id</label>
        <locationX>997</locationX>
        <locationY>597</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoggedInUserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Twilio_Id__c</field>
            <value>
                <elementReference>varTwilioId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Twilio_Phone_Number__c</field>
            <value>
                <elementReference>userPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>loging_tet</name>
        <label>loging tet</label>
        <locationX>821</locationX>
        <locationY>438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>verifycode</targetReference>
        </connector>
        <fields>
            <name>SMSorVoice</name>
            <extensionName>c:CommunityLoginCodeSendingSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>countryCode</name>
                <value>
                    <elementReference>userCountryCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>phoneNumber</name>
                <value>
                    <elementReference>userPhoneNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>twilioId</name>
                <value>
                    <elementReference>varTwilioId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>verify_phone_number</name>
        <label>verify phone number</label>
        <locationX>543</locationX>
        <locationY>438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loging_tet</targetReference>
        </connector>
        <fields>
            <name>verifyphonenumber</name>
            <extensionName>c:CommunityLoginVerifyPhoneNumber</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>userCountryCode</assignToReference>
                <name>countryCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>userPhoneNumber</assignToReference>
                <name>phoneNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>verifycode</name>
        <label>verifycode</label>
        <locationX>815</locationX>
        <locationY>596</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_User_Twilio_Id</targetReference>
        </connector>
        <fields>
            <name>verif_MY_code</name>
            <extensionName>c:CommunityLoginVerifyCode</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>countryCode</name>
                <value>
                    <elementReference>userCountryCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>phoneNumber</name>
                <value>
                    <elementReference>userPhoneNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>email</name>
                <value>
                    <elementReference>varEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>twilioId</name>
                <value>
                    <elementReference>varTwilioId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varTwilioId</assignToReference>
                <name>twilioId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Validate_New_Community_User</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Here is your security Token {!SecurityCode}</text>
    </textTemplates>
    <textTemplates>
        <name>SecurityCodeBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello,

Here is your Pension Fund Member Portal Security Code: {!SecurityCode1}

Thank you,

Pension Fund
866.495.7322
PFCC1@pensionfund.org</text>
    </textTemplates>
    <textTemplates>
        <name>SecurityCodeSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Security Token</text>
    </textTemplates>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastLoginDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecurityCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SecurityCode1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>jeyashri.sridhar@bluewolf.com</description>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTwilioId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
