force-app/main/default/flows/Update_Case_with_Lexis_Nexis_Threat_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Lexis Score from Threat Metrix</description>
        <name>Lexis_Score_0</name>
        <label>Lexis Score</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>LexisScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_Lexis_Score_Information_0</targetReference>
        </connector>
    </assignments>
    <description>Update Case with Lexis Nexis Threat Information (api 54)</description>
    <environments>Default</environments>
    <interviewLabel>Update Case with Lexis Nexis Threat Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case with Lexis Nexis Threat Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Case with Lexis Score Information</description>
        <name>Update_Case_with_Lexis_Score_Information_0</name>
        <label>Update Case with Lexis Score Information</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lexis_Score__c</field>
            <value>
                <elementReference>$Record.Score__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Login</stringValue>
            </value>
        </filters>
        <object>Threat_Report__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Update_associate_Lexis_Case_after_case_creation</name>
            <connector>
                <targetReference>Lexis_Score_0</targetReference>
            </connector>
            <label>Update associate Lexis Case after case creation</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Lexis Score From threat matrix about associated transaction</description>
        <name>LexisScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
