force-app/main/default/flows/Update_Enrollment_Form_with_Closed_By_User_StatusScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Update Enrollment Form with Closed By User Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Enrollment Form with Closed By User Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Enrollment_form</name>
        <label>Update Enrollment form</label>
        <locationX>493</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Update_Enrollment_form_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputEnrollmentForm</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed By User</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enrollment_form_0</name>
        <label>Update Enrollment form</label>
        <locationX>337</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Update_Enrollment_form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputEnrollmentForm</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Update_Allowed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enrollment_form_0_0</name>
        <label>Update Enrollment form</label>
        <locationX>669</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Enrollment_deleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputEnrollmentForm</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Update_Allowed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Form__c</object>
    </recordUpdates>
    <screens>
        <name>Delete_Enrollment</name>
        <label>Delete Enrollment</label>
        <locationX>229</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Enrollment_form_0</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: verdana;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;You are about to delete your enrollment&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: verdana;&quot;&gt;Click next to delete your enrollment&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enrollment_deleted</name>
        <label>Enrollment deleted</label>
        <locationX>805</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endmessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; font-family: verdana;&quot;&gt;Your Enrollment has been deleted&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Delete_Enrollment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputEnrollmentForm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
