force-app/main/default/flows/X2FA_EP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Security_Token</name>
        <label>Email Security Token</label>
        <locationX>253</locationX>
        <locationY>569</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Enter_User_Security_Token</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SecurityCodeBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Requested Security Code for Pension Fund Member Portal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>pfcc1@pensionfund.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Verify_Security_Code</name>
        <label>Verify Security Code</label>
        <locationX>599</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Record_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_a_Valid_Security_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SecurityCode1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Token</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Not a Valid Security Code</label>
        </rules>
    </decisions>
    <formulas>
        <name>LoggedInUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>TodayDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>2FA EP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2FA EP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>252</locationX>
        <locationY>187</locationY>
        <assignRecordIdToReference>RecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Logged_In_User_Email_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LoggedInUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Auth__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Record_Delete</name>
        <label>Record Delete</label>
        <locationX>775</locationX>
        <locationY>438</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <object>Custom_Auth__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Security_Token</name>
        <label>Get_Security_Token</label>
        <locationX>253</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Security_Token</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <object>Custom_Auth__c</object>
        <outputAssignments>
            <assignToReference>SecurityCode1</assignToReference>
            <field>Security_Token__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Logged_In_User_Email_Address</name>
        <label>Logged_In_User_Email_Address</label>
        <locationX>253</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Security_Token</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoggedInUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>EmailAddress</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Validate_New_Community_User</name>
        <label>Validate New Community User</label>
        <locationX>248</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoggedInUserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastLoginDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TodayDateTime</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <screens>
        <name>Enter_User_Security_Token</name>
        <label>Enter User Security Token</label>
        <locationX>453</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_Security_Code</targetReference>
        </connector>
        <fields>
            <name>Token</name>
            <dataType>String</dataType>
            <fieldText>Please enter the code sent to your e-mail:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>504</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>Verification Failed!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Validate_New_Community_User</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Here is your security Token {!SecurityCode}</text>
    </textTemplates>
    <textTemplates>
        <name>SecurityCodeBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello,

Here is your Pension Fund Member Portal Security Code: {!SecurityCode1}

Thank you,

Pension Fund
866.495.7322
PFCC1@pensionfund.org</text>
    </textTemplates>
    <textTemplates>
        <name>SecurityCodeSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Security Token</text>
    </textTemplates>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastLoginDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecurityCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SecurityCode1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>jeyashri.sridhar@bluewolf.com</description>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
